Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess

Fix warning
  src/sig_stfl/lms/external/hss_sign.c
Owners: @dstebila

Update GitHub Actions workflows for stateful signatures (#1692)
  .github/workflows/android.yml
  .github/workflows/apple.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  scripts/build-android.sh
  tests/kat_sig_stfl.c
Owners: @dstebila

change from ninja and custom cmake target `run_test` to using cmake & ctest.
  .CMake/cmake_uninstall.cmake.in
  .dsci.yml
  .travis.yml
  CMakeLists.txt
  CONFIGURE.md
  README.md
  tests/CMakeLists.txt
Owners: @dstebila

update brew install instructions to use openssl@3 instead of openssl@1.1.1 [skip ci]
  README.md
Owners: @dstebila

update brew install instructions to use openssl@3 instead of openssl@1.1.1 [skip ci] (#1701)
  README.md
Owners: @dstebila

add missing patch
  scripts/copy_from_upstream/patches/pqcrystals-kyber-yml.patch
Owners: @baentsch, @bhess

Updates for scan-build
  tests/vector_test.sh
  tests/vector_test_kem.sh
  tests/vector_test_sig.sh
  tests/vectors_kem.c
  tests/vectors_sig.c
Owners: @dstebila

run astyle
  tests/vectors_kem.c
  tests/vectors_sig.c
Owners: @dstebila

update patches
  README.md
  docs/algorithms/kem/ml_kem.md
  docs/algorithms/kem/ml_kem.yml
  docs/algorithms/sig/ml_dsa.md
  docs/algorithms/sig/ml_dsa.yml
  docs/cbom.json
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqcrystals-dilithium-standard-avx2-shake-aes.patch
  scripts/copy_from_upstream/patches/pqcrystals-dilithium-standard-ref-shake-aes.patch
  scripts/copy_from_upstream/patches/pqcrystals-dilithium-standard-yml.patch
  scripts/copy_from_upstream/patches/pqcrystals-kyber-standard-avx2-shake-aes.patch
  scripts/copy_from_upstream/patches/pqcrystals-kyber-standard-ref-shake-aes.patch
  scripts/copy_from_upstream/patches/pqcrystals-kyber-standard-yml.patch
  scripts/copy_from_upstream/patches/pqcrystals-kyber-yml.patch
  scripts/copy_from_upstream/patches/pqcrystals-ml_dsa_ipd.patch
  scripts/copy_from_upstream/patches/pqcrystals-ml_kem_ipd.patch
Owners: @dstebila, @baentsch, @bhess

better CI integration
  tests/test_leaks.py
  tests/test_vectors.py
  tests/test_vectors.sh
Owners: @dstebila

build fixes
  tests/vectors_kem.c
  tests/vectors_sig.c
Owners: @dstebila

pull latest mlkem/mldsa from upstream
  docs/algorithms/kem/ml_kem.md
  docs/algorithms/kem/ml_kem.yml
  docs/algorithms/sig/ml_dsa.md
  docs/algorithms/sig/ml_dsa.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqcrystals-ml_dsa_ipd.patch
  scripts/copy_from_upstream/patches/pqcrystals-ml_kem_ipd.patch
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-1024-ipd_avx2/poly.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-1024-ipd_ref/poly.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-1024-ipd_ref/polyvec.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-512-ipd_avx2/poly.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-512-ipd_ref/poly.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-512-ipd_ref/polyvec.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-768-ipd_avx2/poly.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-768-ipd_ref/poly.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-768-ipd_ref/polyvec.c
  src/sig/ml_dsa/pqcrystals-dilithium-standard_ml-dsa-44-ipd_ref/poly.c
  src/sig/ml_dsa/pqcrystals-dilithium-standard_ml-dsa-65-ipd_ref/poly.c
  src/sig/ml_dsa/pqcrystals-dilithium-standard_ml-dsa-87-ipd_ref/poly.c
Owners: @dstebila, @baentsch, @bhess

scan-build fixes
  tests/vectors_kem.c
  tests/vectors_sig.c
Owners: @dstebila

update after rebase
  tests/CMakeLists.txt
Owners: @dstebila

vector tests for CI
  tests/test_kem_vectors.sh
  tests/test_sig_vectors.sh
  tests/test_vectors.py
  tests/test_vectors.sh
Owners: @dstebila

CT tests & suppression files
  tests/constant_time/kem/issues.json
  tests/constant_time/kem/passes.json
  tests/constant_time/kem/passes/ml_kem
  tests/constant_time/sig/issues.json
  tests/constant_time/sig/passes.json
  tests/constant_time/sig/passes/ml_dsa
  tests/constant_time/sig/passes/ml_dsa-avx2
  tests/test_vectors.py
Owners: @dstebila

More compact ML-* vectors
  tests/PQC Intermediate Values/Decapsulation -- ML-KEM-1024.txt
  tests/PQC Intermediate Values/Decapsulation -- ML-KEM-512.txt
  tests/PQC Intermediate Values/Decapsulation -- ML-KEM-768.txt
  tests/PQC Intermediate Values/Encapsulation -- ML-KEM-1024.txt
  tests/PQC Intermediate Values/Encapsulation -- ML-KEM-512.txt
  tests/PQC Intermediate Values/Encapsulation -- ML-KEM-768.txt
  tests/PQC Intermediate Values/Key Generation -- ML-DSA-44.txt
  tests/PQC Intermediate Values/Key Generation -- ML-DSA-65.txt
  tests/PQC Intermediate Values/Key Generation -- ML-DSA-87.txt
  tests/PQC Intermediate Values/Key Generation -- ML-KEM-1024.txt
  tests/PQC Intermediate Values/Key Generation -- ML-KEM-512.txt
  tests/PQC Intermediate Values/Key Generation -- ML-KEM-768.txt
  tests/PQC Intermediate Values/ML-DSA-44.txt
  tests/PQC Intermediate Values/ML-DSA-65.txt
  tests/PQC Intermediate Values/ML-DSA-87.txt
  tests/PQC Intermediate Values/ML-KEM-1024.txt
  tests/PQC Intermediate Values/ML-KEM-512.txt
  tests/PQC Intermediate Values/ML-KEM-768.txt
  tests/PQC Intermediate Values/Readme.txt
  tests/PQC Intermediate Values/Signature Generation -- ML-DSA-44.txt
  tests/PQC Intermediate Values/Signature Generation -- ML-DSA-65.txt
  tests/PQC Intermediate Values/Signature Generation -- ML-DSA-87.txt
  tests/PQC Intermediate Values/Signature Verification -- ML-DSA-44.txt
  tests/PQC Intermediate Values/Signature Verification -- ML-DSA-65.txt
  tests/PQC Intermediate Values/Signature Verification -- ML-DSA-87.txt
  tests/PQC Intermediate Values/fetch_values.sh
  tests/test_kem_vectors.sh
  tests/test_sig_vectors.sh
  tests/test_vectors.sh
Owners: @dstebila

consistent naming ml_*_ipd
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/kem/kem.c
  src/kem/kem.h
  src/kem/ml_kem/CMakeLists.txt
  src/kem/ml_kem/kem_ml_kem.h
  src/kem/ml_kem/kem_ml_kem_1024_ipd.c
  src/kem/ml_kem/kem_ml_kem_512_ipd.c
  src/kem/ml_kem/kem_ml_kem_768_ipd.c
  src/oqsconfig.h.cmake
  src/sig/ml_dsa/CMakeLists.txt
  src/sig/ml_dsa/sig_ml_dsa.h
  src/sig/ml_dsa/sig_ml_dsa_44_ipd.c
  src/sig/ml_dsa/sig_ml_dsa_65_ipd.c
  src/sig/ml_dsa/sig_ml_dsa_87_ipd.c
  src/sig/sig.c
  src/sig/sig.h
  tests/vectors_kem.c
  tests/vectors_sig.c
Owners: @dstebila, @baentsch, @bhess

enable alias for KEMS & enable ML-KEM (non-ipd-alias)
  .CMake/alg_support.cmake
  docs/algorithms/kem/ml_kem.yml
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.fragment
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/src/kem/family/kem_family.h
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  scripts/copy_from_upstream/src/kem/kem.c/alg_identifier.fragment
  scripts/copy_from_upstream/src/kem/kem.c/enabled_case.fragment
  scripts/copy_from_upstream/src/kem/kem.c/new_case.fragment
  scripts/copy_from_upstream/src/kem/kem.h/alg_identifier.fragment
  scripts/copy_from_upstream/src/kem/kem.h/algs_length.fragment
  scripts/copy_from_upstream/src/oqsconfig.h.cmake/add_alg_enable_defines.fragment
  src/kem/classic_mceliece/kem_classic_mceliece.h
  src/kem/hqc/kem_hqc.h
  src/kem/kem.c
  src/kem/kem.h
  src/kem/kyber/kem_kyber.h
  src/kem/ml_kem/kem_ml_kem.h
  src/kem/ml_kem/kem_ml_kem_1024_ipd.c
  src/kem/ml_kem/kem_ml_kem_512_ipd.c
  src/kem/ml_kem/kem_ml_kem_768_ipd.c
  src/oqsconfig.h.cmake
  tests/KATs/kem/kats.json
  tests/test_alg_info.py
  tests/test_vectors.py
  tests/test_vectors.sh
  tests/vectors_kem.c
Owners: @dstebila, @baentsch, @bhess, @jschanck

update list_standardized_algs
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/list_standardized_algs.fragment
Owners: @dstebila, @baentsch, @bhess

more friendly test folder name
  tests/PQC_Intermediate_Values/ML-DSA-44.txt
  tests/PQC_Intermediate_Values/ML-DSA-65.txt
  tests/PQC_Intermediate_Values/ML-DSA-87.txt
  tests/PQC_Intermediate_Values/ML-KEM-1024.txt
  tests/PQC_Intermediate_Values/ML-KEM-512.txt
  tests/PQC_Intermediate_Values/ML-KEM-768.txt
  tests/PQC_Intermediate_Values/fetch_values.sh
  tests/test_vectors.sh
Owners: @dstebila

update readme with aliases
  README.md
  scripts/update_docs_from_yaml.py
Owners: @dstebila

some improvements in test code
  tests/test_kem_vectors.sh
  tests/vectors_kem.c
  tests/vectors_sig.c
Owners: @dstebila

add ML-* licenses to readme
  README.md
Owners: @dstebila

add 100 KATS for ML-DSA/KEM
  tests/KATs/kem/kats.json
  tests/KATs/sig/kats.json
Owners: @dstebila

update docs
  docs/algorithms/kem/ml_kem.md
  docs/algorithms/kem/ml_kem.yml
  docs/algorithms/sig/ml_dsa.md
  docs/algorithms/sig/ml_dsa.yml
Owners: @dstebila

fix after rebase
  scripts/copy_from_upstream/copy_from_upstream.py
  tests/KATs/kem/kats.json
  tests/KATs/sig/kats.json
Owners: @baentsch, @bhess, @dstebila

update std algorithms [trigger downstream]
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/list_standardized_algs.fragment
Owners: @dstebila, @baentsch, @bhess

resolve merge conflicts
  tests/constant_time/kem/issues.json
  tests/constant_time/sig/issues.json
Owners: @dstebila

- Fixes list_standardized_algs fragment - Fixes fetch_values.sh script to (re-)generate ML-* vectors
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/list_standardized_algs.fragment
  tests/PQC_Intermediate_Values/fetch_values.sh
Owners: @dstebila, @baentsch, @bhess

consider aliases in STD filter
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/list_standardized_algs.fragment
Owners: @dstebila, @baentsch, @bhess

Small fixes after adding ML-* (#1702)
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/list_standardized_algs.fragment
  tests/PQC_Intermediate_Values/fetch_values.sh
Owners: @dstebila, @baentsch, @bhess

First cut at testing MacOS on GitHub
  .github/workflows/macos.yml
Owners: @dstebila

Move all CCI MacOS jobs to GH
  .circleci/config.yml
  .github/workflows/macos.yml
  PLATFORMS.md
Owners: @baentsch, @dstebila

Factor out minimal tests
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/minimal.yml
Owners: @dstebila

Unify MacOS and Linux workflows to enable minimal tests
  .github/workflows/macos.yml
  .github/workflows/minimal.yml
  .github/workflows/unix.yml
Owners: @dstebila

Create scorecard.yml
  .github/workflows/scorecard.yml
Owners: @dstebila

Reorganize YAML
  .github/workflows/unix.yml
Owners: @dstebila

Fix MacOs build error
  src/common/ossl_helpers.c
Owners: @dstebila

Rework YAML
  .github/workflows/unix.yml
Owners: @dstebila
