Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

zephyr build fix
  zephyr/samples/Signatures/prj.conf
Owners: @dstebila

update after upstream merge
  docs/algorithms/sig/mayo.md
  docs/algorithms/sig/mayo.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/sig/mayo/pqmayo_mayo_1_avx2/api.c
  src/sig/mayo/pqmayo_mayo_1_avx2/api.h
  src/sig/mayo/pqmayo_mayo_1_opt/api.c
  src/sig/mayo/pqmayo_mayo_1_opt/api.h
  src/sig/mayo/pqmayo_mayo_2_avx2/api.c
  src/sig/mayo/pqmayo_mayo_2_avx2/api.h
  src/sig/mayo/pqmayo_mayo_2_opt/api.c
  src/sig/mayo/pqmayo_mayo_2_opt/api.h
  src/sig/mayo/pqmayo_mayo_3_avx2/api.c
  src/sig/mayo/pqmayo_mayo_3_avx2/api.h
  src/sig/mayo/pqmayo_mayo_3_opt/api.c
  src/sig/mayo/pqmayo_mayo_3_opt/api.h
Owners: @dstebila, @baentsch, @bhess

Sync copy_from_upstream, remove unsed functions, fix typos
  docs/algorithms/sig/mayo.md
  src/common/aes/aes.h
  src/common/aes/aes_impl.c
  src/common/aes/aes_ossl.c
Owners: @dstebila

dummy change [trigger downstream]
  PLATFORMS.md
Owners: @dstebila

Forward-declare OQS_SIG type in sig_stfl.h [trigger downstream]
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

Forward-declare OQS_SIG type in sig_stfl.h (#1820)
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

Move Linux ARM64 "build" test from CircleCI to GitHub Actions (#1814)
  .circleci/config.yml
  .github/workflows/unix.yml
Owners: @baentsch, @dstebila

add XMSS-SHA2_*_192 parameters
  .CMake/alg_support.cmake
  README.md
  docs/algorithms/sig_stfl/xmss.md
  docs/algorithms/sig_stfl/xmss.yml
  src/oqsconfig.h.cmake
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/CMakeLists.txt
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h10_192.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h16_192.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h20_192.c
  tests/KATs/sig_stfl/kats.json
  tests/KATs/sig_stfl/xmss/XMSS-SHA2_10_192.rsp
  tests/KATs/sig_stfl/xmss/XMSS-SHA2_16_192.rsp
  tests/KATs/sig_stfl/xmss/XMSS-SHA2_20_192.rsp
  tests/test_sig_stfl.c
Owners: @dstebila

Move scan_build to GitHub Actions
  .circleci/config.yml
  .github/workflows/unix.yml
Owners: @baentsch, @dstebila

Remove bash-specific command
  .github/workflows/unix.yml
Owners: @dstebila

Move remaining Linux tests from CCI to GHA
  .circleci/config.yml
  .github/workflows/unix.yml
Owners: @baentsch, @dstebila

Fix test_alg_info.py on Windows platform
  tests/test_alg_info.py
Owners: @dstebila

Remove incorrect print
  tests/test_alg_info.py
Owners: @dstebila

Fix test_alg_info.py on Windows platform (#1821)
  tests/test_alg_info.py
Owners: @dstebila

format xmss.md
  docs/algorithms/sig_stfl/xmss.md
Owners: @dstebila

Increment version [skip ci] (#1813)
  CMakeLists.txt
Owners: @dstebila

Add XMSS-SHA256_{10, 16, 20}_192 parameters (#1817)
  .CMake/alg_support.cmake
  README.md
  docs/algorithms/sig_stfl/xmss.md
  docs/algorithms/sig_stfl/xmss.yml
  src/oqsconfig.h.cmake
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/CMakeLists.txt
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h10_192.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h16_192.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h20_192.c
  tests/KATs/sig_stfl/kats.json
  tests/KATs/sig_stfl/xmss/XMSS-SHA2_10_192.rsp
  tests/KATs/sig_stfl/xmss/XMSS-SHA2_16_192.rsp
  tests/KATs/sig_stfl/xmss/XMSS-SHA2_20_192.rsp
  tests/test_sig_stfl.c
Owners: @dstebila

add XMSS-SHAKE256_*_192 parameters
  .CMake/alg_support.cmake
  README.md
  docs/algorithms/sig_stfl/xmss.md
  docs/algorithms/sig_stfl/xmss.yml
  src/oqsconfig.h.cmake
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/CMakeLists.txt
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h10_192.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h16_192.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h20_192.c
  tests/KATs/sig_stfl/kats.json
  tests/KATs/sig_stfl/xmss/XMSS-SHAKE256_10_192.rsp
  tests/KATs/sig_stfl/xmss/XMSS-SHAKE256_16_192.rsp
  tests/KATs/sig_stfl/xmss/XMSS-SHAKE256_20_192.rsp
  tests/test_sig_stfl.c
Owners: @dstebila

macOS build: search for arm64 openssl library in homebrew before x86_64
  CMakeLists.txt
Owners: @dstebila

add XMSS-SHAKE256_*_192 parameters (#1818)
  .CMake/alg_support.cmake
  README.md
  docs/algorithms/sig_stfl/xmss.md
  docs/algorithms/sig_stfl/xmss.yml
  src/oqsconfig.h.cmake
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/CMakeLists.txt
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h10_192.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h16_192.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h20_192.c
  tests/KATs/sig_stfl/kats.json
  tests/KATs/sig_stfl/xmss/XMSS-SHAKE256_10_192.rsp
  tests/KATs/sig_stfl/xmss/XMSS-SHAKE256_16_192.rsp
  tests/KATs/sig_stfl/xmss/XMSS-SHAKE256_20_192.rsp
  tests/test_sig_stfl.c
Owners: @dstebila

add XMSS-SHAKE256_*_256 parameters
  .CMake/alg_support.cmake
  src/oqsconfig.h.cmake
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/CMakeLists.txt
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h10_256.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h16_256.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h20_256.c
  tests/KATs/sig_stfl/kats.json
  tests/KATs/sig_stfl/xmss/XMSS-SHAKE256_10_256.rsp
  tests/KATs/sig_stfl/xmss/XMSS-SHAKE256_16_256.rsp
  tests/KATs/sig_stfl/xmss/XMSS-SHAKE256_20_256.rsp
  tests/test_sig_stfl.c
Owners: @dstebila

[trigger downstream]
  README.md
  docs/algorithms/sig_stfl/xmss.md
  docs/algorithms/sig_stfl/xmss.yml
  tests/test_sig_stfl.c
Owners: @dstebila

Add XMSS-SHAKE256_{10, 16, 20}_256 parameters (#1819)
  .CMake/alg_support.cmake
  README.md
  docs/algorithms/sig_stfl/xmss.md
  docs/algorithms/sig_stfl/xmss.yml
  src/oqsconfig.h.cmake
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/CMakeLists.txt
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h10_256.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h16_256.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h20_256.c
  tests/KATs/sig_stfl/kats.json
  tests/KATs/sig_stfl/xmss/XMSS-SHAKE256_10_256.rsp
  tests/KATs/sig_stfl/xmss/XMSS-SHAKE256_16_256.rsp
  tests/KATs/sig_stfl/xmss/XMSS-SHAKE256_20_256.rsp
  tests/test_sig_stfl.c
Owners: @dstebila

Add OpenSSF scorecard, pinned python/gh action dependencies, explicit action permissions #1706
  .github/workflows/android.yml
  .github/workflows/apple.yml
  .github/workflows/release-test.yml
  .github/workflows/requirements.in
  .github/workflows/requirements.txt
  .github/workflows/scorecard.yml
  .github/workflows/unix.yml
  .github/workflows/weekly.yml
  .github/workflows/windows.yml
  .github/workflows/zephyr.yml
  docs/PROCEDURES.md
  scripts/copy_from_upstream/requirements.in
  scripts/copy_from_upstream/requirements.txt
Owners: @dstebila, @baentsch, @bhess

Add OpenSSF scorecard
  .github/workflows/android.yml
  .github/workflows/apple.yml
  .github/workflows/release-test.yml
  .github/workflows/requirements.in
  .github/workflows/requirements.txt
  .github/workflows/scorecard.yml
  .github/workflows/unix.yml
  .github/workflows/weekly.yml
  .github/workflows/windows.yml
  .github/workflows/zephyr.yml
  docs/PROCEDURES.md
  scripts/copy_from_upstream/requirements.in
  scripts/copy_from_upstream/requirements.txt
Owners: @dstebila, @baentsch, @bhess

disable mayo_5 in zephyr
  zephyr/CMakeLists.txt
  zephyr/samples/Signatures/prj.conf
Owners: @dstebila

fix aes ossl
  src/common/ossl_helpers.c
Owners: @dstebila

remove comments & zephyr build fix
  src/common/aes/aes_local.h
  zephyr/CMakeLists.txt
Owners: @dstebila

fix KAT order
  tests/KATs/sig/kats.json
Owners: @dstebila

disable mayo per default in zephyr
  zephyr/CMakeLists.txt
  zephyr/Kconfig
Owners: @dstebila

add ct-tests [skip ci]
  tests/constant_time/sig/issues.json
  tests/constant_time/sig/passes.json
  tests/constant_time/sig/passes/mayo
Owners: @dstebila

release-test with sign-off message [trigger downstream]
  .github/workflows/release-test.yml
Owners: @dstebila

Remove unused function
  src/common/aes/aes_impl.c
Owners: @dstebila

update after upstream merge
  docs/algorithms/sig/mayo.md
  docs/algorithms/sig/mayo.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/sig/mayo/pqmayo_mayo_1_avx2/api.c
  src/sig/mayo/pqmayo_mayo_1_avx2/api.h
  src/sig/mayo/pqmayo_mayo_1_opt/api.c
  src/sig/mayo/pqmayo_mayo_1_opt/api.h
  src/sig/mayo/pqmayo_mayo_2_avx2/api.c
  src/sig/mayo/pqmayo_mayo_2_avx2/api.h
  src/sig/mayo/pqmayo_mayo_2_opt/api.c
  src/sig/mayo/pqmayo_mayo_2_opt/api.h
  src/sig/mayo/pqmayo_mayo_3_avx2/api.c
  src/sig/mayo/pqmayo_mayo_3_avx2/api.h
  src/sig/mayo/pqmayo_mayo_3_opt/api.c
  src/sig/mayo/pqmayo_mayo_3_opt/api.h
Owners: @dstebila, @baentsch, @bhess

Sync copy_from_upstream, remove unsed functions, fix typos
  docs/algorithms/sig/mayo.md
  src/common/aes/aes.h
  src/common/aes/aes_impl.c
  src/common/aes/aes_ossl.c
Owners: @dstebila

zephyr config update
  zephyr/Kconfig
  zephyr/samples/Signatures/prj.conf
  zephyr/samples/Signatures/sample.yaml
  zephyr/samples/Signatures/src/main.c
Owners: @dstebila

dummy change [trigger downstream]
  PLATFORMS.md
Owners: @dstebila

Add NIST_SIG_ONRAMP option and add AES128_CTR tests
  .CMake/alg_support.cmake
  .github/workflows/unix.yml
  CONFIGURE.md
  docs/algorithms/sig/mayo.yml
  tests/test_aes.c
Owners: @dstebila

zephyr build fix
  zephyr/samples/Signatures/prj.conf
Owners: @dstebila

Add MAYO_5 to NIST_SIG_ONRAMP algorithms
  .CMake/alg_support.cmake
Owners: @dstebila

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess
