Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

Update CMakeLists.txt
  CMakeLists.txt
Owners: @dstebila

make string explicit when comparing with variable in cmake
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.libjade
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg_conditional.libjade
  src/common/CMakeLists.txt
Owners: @dstebila, @baentsch, @bhess

add OQS_LIBJADE_BUILD to build flags output
  tests/system_info.c
Owners: @dstebila

add libjade kyber licensing to README.md
  README.md
Owners: @dstebila

fix comment typo
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

Patch gcc version for MacOS CI runs
  .github/workflows/unix.yml
Owners: @dstebila

Fix doc generation
  CONFIGURE.md
Owners: @dstebila

Fix libjade docs
  CONFIGURE.md
Owners: @dstebila

Fix CI status badges for CircleCI and Travis CI
  README.md
Owners: @dstebila

Fix CI status badges for CircleCI and Travis CI (#1844)
  README.md
Owners: @dstebila

docs: add PQCA Discord Server badge to README
  README.md
Owners: @dstebila

Remove all occurrences of "cmake -LA"
  .circleci/config.yml
  .github/workflows/unix.yml
  .github/workflows/weekly.yml
  .travis.yml
Owners: @baentsch, @dstebila

s/cmake -LA/cmake -LA -N/g
  .circleci/config.yml
  .github/workflows/unix.yml
  .github/workflows/weekly.yml
  .travis.yml
Owners: @baentsch, @dstebila

Update readme [skip ci]
  README.md
Owners: @dstebila

Use `cmake -LA -N` instead of `cmake -LA` in CI (#1848)
  .circleci/config.yml
  .github/workflows/unix.yml
  .github/workflows/weekly.yml
  .travis.yml
  README.md
Owners: @baentsch, @dstebila

Fix passes.json entries for MAYO
  tests/constant_time/sig/passes.json
Owners: @dstebila

Fix passes.json entries for MAYO (#1852)
  tests/constant_time/sig/passes.json
Owners: @dstebila

Remove bash-specific command
  .github/workflows/unix.yml
Owners: @dstebila

Move remaining Linux tests from CCI to GHA
  .circleci/config.yml
  .github/workflows/unix.yml
Owners: @baentsch, @dstebila

Move scan_build to GitHub Actions
  .circleci/config.yml
  .github/workflows/unix.yml
Owners: @baentsch, @dstebila

Remove CCI from docs
  CONTRIBUTING.md
  README.md
Owners: @dstebila

Match old clang-15 CCI run exactly
  .github/workflows/unix.yml
Owners: @dstebila

Remove bionic-i386 run
  .github/workflows/unix.yml
Owners: @dstebila

Remove CircleCI
  .circleci/config.yml
Owners: @baentsch

auto opt target, dist build off
  .github/workflows/unix.yml
  .github/workflows/weekly.yml
Owners: @dstebila

Move trigger downstream job to GH
  .github/workflows/commit-to-main.yml
Owners: @dstebila

ML-KEM NIST tests, fix order of d and z
  tests/test_kem_vectors.sh
Owners: @dstebila

change comment [skip ci]
  tests/vectors_kem.c
Owners: @dstebila

ML-KEM NIST tests, fix order of d and z (#1854)
  tests/test_kem_vectors.sh
  tests/vectors_kem.c
Owners: @dstebila

Move from CircleCI to GitHub Actions (#1849)
  .circleci/config.yml
  .github/workflows/commit-to-main.yml
  .github/workflows/unix.yml
  .github/workflows/weekly.yml
  CONTRIBUTING.md
  README.md
Owners: @baentsch, @dstebila

Explicitly use secret
  .github/workflows/commit-to-main.yml
Owners: @dstebila

Trigger on all branches for testing purposes
  .github/workflows/commit-to-main.yml
Owners: @dstebila

fixup! Explicitly use secret
  .github/workflows/commit-to-main.yml
Owners: @dstebila

fixup! Explicitly use secret
  .github/workflows/commit-to-main.yml
Owners: @dstebila

Revert "Trigger on all branches for testing purposes"
  .github/workflows/commit-to-main.yml
Owners: @dstebila

Remove unused variables from CI workflows
  .github/workflows/unix.yml
  .github/workflows/weekly.yml
Owners: @dstebila

Add missing OpenSSL guards
  src/common/common.h
  src/common/rand/rand_nist.c
  src/common/sha2/sha2_ossl.c
Owners: @dstebila

fixup! Add missing OpenSSL guards
  src/common/common.h
  src/common/rand/rand_nist.c
Owners: @dstebila

Add script to format code in a CI container
  scripts/format_code.sh
  tests/run_astyle.sh
Owners: @dstebila

Handle arm64
  scripts/format_code.sh
Owners: @dstebila

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess
