Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @xvzcf, @baentsch, @bhess, @xvczf, @crockeea, @jschanck, @christianpaquin

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila @xvzcf
/.circleci @baentsch @xvzcf
/.CMake @xvzcf
/docs @dstebila
/scripts @xvzcf
/scripts/copy_from_upstream @baentsch @bhess @xvczf
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/kem/ntru @jschanck
/src/kem/sike @christianpaquin
/src/oqsconfig.h.cmake @xvzcf
/src/sig/dilithium @bhess
/src/sig/picnic @christianpaquin
/CONTRIBUTORS @dstebila
/LICENSE.txt @dstebila
/README.md @dstebila
/RELEASE.md @dstebila
CMakeLists.txt @xvzcf

syntax fix for weekly github run [skip ci] (#1182)
  .github/workflows/weekly.yml
Owners: @dstebila, @xvzcf

weekly job moved to Sunday [skip ci]
  .github/workflows/weekly.yml
Owners: @dstebila, @xvzcf

weekly job moved to Sunday [skip ci] (#1183)
  .github/workflows/weekly.yml
Owners: @dstebila, @xvzcf

Resolves an issue when building sha2 using arm crypto extensions with gcc on Darwin.
  src/common/CMakeLists.txt
  src/common/sha2/sha2_local.h
Owners: @xvzcf, @dstebila

Resolves an issue when building sha2 using arm crypto extensions with gcc on Darwin. (#1184)
  src/common/CMakeLists.txt
  src/common/sha2/sha2_local.h
Owners: @xvzcf, @dstebila

Suppress constant time check for public matrix generation on Kyber AVX2
  .github/workflows/linux.yml
  .github/workflows/weekly.yml
  tests/constant_time/kem/passes/kyber-90s
Owners: @dstebila, @xvzcf

Update tests/constant_time/kem/passes/kyber-90s
  tests/constant_time/kem/passes/kyber-90s
Owners: @dstebila, @xvzcf

Remove temporary CI job [skip ci]
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Suppress constant time check for public matrix generation on Kyber AVX2 (#1189)
  .github/workflows/weekly.yml
  tests/constant_time/kem/passes/kyber-90s
Owners: @dstebila, @xvzcf

Updated sig templates to add support for arch specific upstreams. Currently behaves as expected, but still need to test (and integrate) dilithium
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt
  scripts/copy_from_upstream/src/sig/family/CMakeLists.txt
  scripts/copy_from_upstream/src/sig/family/sig_scheme.c
Owners: @baentsch, @bhess, @xvczf, @xvzcf

Fixed a couple of build errors, and started work on dilithium integration from pqclean. Currently failing kat tests
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/src/sig/family/CMakeLists.txt
Owners: @baentsch, @bhess, @xvczf, @xvzcf

create and install cmake import files
  src/CMakeLists.txt
  src/Config.cmake.in
Owners: @xvzcf, @dstebila

add openssl includes for Win32 in test
  tests/CMakeLists.txt
Owners: @xvzcf

add SPDX license identifier [skip ci]
  src/Config.cmake.in
Owners: @dstebila, @xvzcf

create and install cmake import files (#1191)
  src/CMakeLists.txt
  src/Config.cmake.in
  tests/CMakeLists.txt
Owners: @xvzcf, @dstebila

adding warning re Rainbow to documentation [skip ci]
  docs/algorithms/sig/rainbow.md
Owners: @dstebila

adding warning re Rainbow to documentation [skip ci] (#1193)
  docs/algorithms/sig/rainbow.md
Owners: @dstebila

Updated templating for both sig and kem to make them look a little better
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt
  scripts/copy_from_upstream/src/sig/family/CMakeLists.txt
Owners: @xvzcf

Updating other signature schemes CMakeLists.txt to be the output of the updated templates
  src/sig/falcon/CMakeLists.txt
  src/sig/sphincs/CMakeLists.txt
Owners: @xvzcf

Finished updating docs scripts and yml files. Builds pass, so should be ready for a merge
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/kem/hqc.md
  docs/algorithms/kem/hqc.yml
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/kem/ntru.md
  docs/algorithms/kem/ntru.yml
  docs/algorithms/kem/ntruprime.md
  docs/algorithms/kem/ntruprime.yml
  docs/algorithms/kem/saber.md
  docs/algorithms/kem/saber.yml
  docs/algorithms/sig/dilithium.md
  docs/algorithms/sig/dilithium.yml
  docs/algorithms/sig/falcon.md
  docs/algorithms/sig/falcon.yml
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  docs/algorithms/sig/rainbow.md
  docs/algorithms/sig/rainbow.yml
  docs/algorithms/sig/sphincs.md
  docs/algorithms/sig/sphincs.yml
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/update_upstream_alg_docs.py
  scripts/update_docs_from_yaml.py
Owners: @dstebila, @baentsch, @bhess, @xvczf, @xvzcf

Fixed template issue with multiple compile flags
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt
  scripts/copy_from_upstream/src/sig/family/CMakeLists.txt
  src/kem/classic_mceliece/CMakeLists.txt
  src/kem/hqc/CMakeLists.txt
  src/kem/kyber/CMakeLists.txt
  src/kem/ntru/CMakeLists.txt
  src/kem/ntruprime/CMakeLists.txt
  src/kem/saber/CMakeLists.txt
  src/sig/dilithium/CMakeLists.txt
  src/sig/falcon/CMakeLists.txt
  src/sig/sphincs/CMakeLists.txt
Owners: @xvzcf

Updated doc generation scripts so that all '_' in scheme names are replaced with '\_'
  docs/algorithms/sig/picnic.md
  scripts/update_docs_from_yaml.py
Owners: @dstebila, @xvzcf

skip yamllint test for good
  tests/test_code_conventions.py
Owners: @dstebila, @xvzcf

remove yamllint completely
  tests/test_code_conventions.py
Owners: @dstebila, @xvzcf

skip yamllint test for good (#1196)
  tests/test_code_conventions.py
Owners: @dstebila, @xvzcf

Edits to key scheduling for AES on ARM to be constant time
  src/common/aes/aes.c
  src/common/aes/aes128_armv8.c
  src/common/aes/aes256_armv8.c
  src/common/aes/aes_c.c
  src/common/aes/aes_local.h
Owners: @dstebila

Edits to key scheduling for AES on ARM to be constant time (#1200)
  src/common/aes/aes.c
  src/common/aes/aes128_armv8.c
  src/common/aes/aes256_armv8.c
  src/common/aes/aes_c.c
  src/common/aes/aes_local.h
Owners: @dstebila

unify naming for OQS_DIST_ARM64_V8_BUILD
  CMakeLists.txt
  src/common/CMakeLists.txt
  src/common/common.c
  src/common/sha2/sha2.c
  src/oqsconfig.h.cmake
Owners: @xvzcf, @dstebila

Unified naming for OQS_DIST_ARM32_V7_BUILD
  CMakeLists.txt
Owners: @xvzcf

Correct OQS_DIST_BUILD for ARM (#1202)
  CMakeLists.txt
  src/common/CMakeLists.txt
  src/common/common.c
  src/common/sha2/sha2.c
  src/oqsconfig.h.cmake
Owners: @xvzcf, @dstebila

Added FreeBSD cpu feature detection to common/common.c
  src/common/common.c
Owners: @dstebila

Updated common/common.c to use __FreeBSD__ instead of __FREEBSD__
  src/common/common.c
Owners: @dstebila

Fix memory leak detected by scan-build
  tests/speed_common.c
Owners: @dstebila, @xvzcf

Remove unused statement (identified via clang scan-build)
  src/kem/sike/external/ec_isogeny.c
Owners: @christianpaquin

Deal with some issues identified by clang scan-build (#1211)
  src/kem/sike/external/ec_isogeny.c
  tests/speed_common.c
Owners: @christianpaquin, @dstebila, @xvzcf

Issues and passes for aarch64 const time checks
  tests/constant_time/kem/passes/kyber
  tests/constant_time/sig/issues.json
  tests/constant_time/sig/issues/sphincs
  tests/constant_time/sig/passes.json
  tests/constant_time/sig/passes/dilithium-aarch64
Owners: @dstebila, @xvzcf

Issues and passes for aarch64 const time checks (#1214)
  tests/constant_time/kem/passes/kyber
  tests/constant_time/sig/issues.json
  tests/constant_time/sig/issues/sphincs
  tests/constant_time/sig/passes.json
  tests/constant_time/sig/passes/dilithium-aarch64
Owners: @dstebila, @xvzcf

added FreeBSD support to SIKE's CmakeLists.txt
  src/kem/sike/CMakeLists.txt
Owners: @xvzcf

Use SecRandomCopyBytes on iOS for system randomness
  src/common/rand/rand.c
Owners: @dstebila

Link iOS Security Framework as a library dependency
  src/CMakeLists.txt
Owners: @xvzcf
