Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

ensure no autoupdate
  .github/workflows/unix.yml
Owners: @dstebila

Pull Kyber/ML-KEM CT-Fix from upstream
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/kem/ml_kem.md
  docs/algorithms/kem/ml_kem.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/kem/kyber/pqcrystals-kyber_kyber1024_avx2/verify.h
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/verify.h
  src/kem/kyber/pqcrystals-kyber_kyber512_avx2/verify.h
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/verify.h
  src/kem/kyber/pqcrystals-kyber_kyber768_avx2/verify.h
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/verify.h
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-1024-ipd_avx2/verify.h
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-1024-ipd_ref/poly.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-1024-ipd_ref/verify.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-1024-ipd_ref/verify.h
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-512-ipd_avx2/verify.h
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-512-ipd_ref/poly.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-512-ipd_ref/verify.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-512-ipd_ref/verify.h
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-768-ipd_avx2/verify.h
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-768-ipd_ref/poly.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-768-ipd_ref/verify.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-768-ipd_ref/verify.h
Owners: @dstebila, @baentsch, @bhess, @jschanck

ensure no autoupdate
  .github/workflows/unix.yml
Owners: @dstebila

remove gcc override to validate gcc change resulted in build success (and this fails)
  .github/workflows/unix.yml
Owners: @dstebila

add back gcc override
  .github/workflows/unix.yml
Owners: @dstebila

Force gcc 13.2.0 over 13.3.0
  .github/workflows/unix.yml
Owners: @dstebila

switching to dev mode again (#1743)
  .github/workflows/unix.yml
  CMakeLists.txt
Owners: @dstebila

Update README.md (#1769)
  README.md
Owners: @dstebila

Fix README.md to work with Doxygen release 1.10.0 (#1775)
  .github/workflows/unix.yml
  README.md
  docs/.Doxyfile
Owners: @dstebila

Fix for incorrect macros in signatures. (#1799)
  scripts/copy_from_upstream/src/sig/family/sig_family.h
  src/sig/ml_dsa/sig_ml_dsa.h
Owners: @baentsch, @bhess, @dstebila

Pull Kyber/ML-KEM CT-Fix from upstream
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/kem/ml_kem.md
  docs/algorithms/kem/ml_kem.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/kem/kyber/pqcrystals-kyber_kyber1024_avx2/verify.h
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/verify.h
  src/kem/kyber/pqcrystals-kyber_kyber512_avx2/verify.h
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/verify.h
  src/kem/kyber/pqcrystals-kyber_kyber768_avx2/verify.h
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/verify.h
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-1024-ipd_avx2/verify.h
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-1024-ipd_ref/poly.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-1024-ipd_ref/verify.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-1024-ipd_ref/verify.h
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-512-ipd_avx2/verify.h
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-512-ipd_ref/poly.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-512-ipd_ref/verify.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-512-ipd_ref/verify.h
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-768-ipd_avx2/verify.h
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-768-ipd_ref/poly.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-768-ipd_ref/verify.c
  src/kem/ml_kem/pqcrystals-kyber-standard_ml-kem-768-ipd_ref/verify.h
Owners: @dstebila, @baentsch, @bhess, @jschanck

Force gcc 13.2.0 over 13.3.0
  .github/workflows/unix.yml
Owners: @dstebila

ensure no autoupdate
  .github/workflows/unix.yml
Owners: @dstebila

Update version numbers and release docs
  CMakeLists.txt
  RELEASE.md
  SECURITY.md
Owners: @dstebila

Minimal ARM64 job
  .github/workflows/arm.yml
Owners: @dstebila

Temporarily disable all workflows
  .github/workflows/android.yml
  .github/workflows/apple.yml
  .github/workflows/release-test.yml
  .github/workflows/unix.yml
  .github/workflows/windows.yml
  .github/workflows/zephyr.yml
Owners: @dstebila

Run buildcheck on ARM
  .github/workflows/arm.yml
  .github/workflows/unix.yml
Owners: @dstebila

Make doxygen conditional
  .github/workflows/unix.yml
Owners: @dstebila

Subtle syntax issue
  .github/workflows/unix.yml
Owners: @dstebila

Fix syntax
  .github/workflows/unix.yml
Owners: @dstebila

wip
  .github/workflows/unix.yml
Owners: @dstebila

Move ARM tests to GitHub Actions
  .circleci/config.yml
  .github/workflows/unix.yml
Owners: @baentsch, @dstebila

Revert "Temporarily disable all workflows"
  .github/workflows/android.yml
  .github/workflows/apple.yml
  .github/workflows/release-test.yml
  .github/workflows/windows.yml
  .github/workflows/zephyr.yml
Owners: @dstebila

Update version and fix release notes
  CMakeLists.txt
  RELEASE.md
Owners: @dstebila

Increment version [skip ci]
  CMakeLists.txt
Owners: @dstebila

Run buildcheck on ARM
  .github/workflows/unix.yml
Owners: @dstebila

Make doxygen conditional
  .github/workflows/unix.yml
Owners: @dstebila

Fix syntax
  .github/workflows/unix.yml
Owners: @dstebila

Move ARM tests to GitHub Actions
  .circleci/config.yml
  .github/workflows/unix.yml
Owners: @baentsch, @dstebila

Fix syntax so that steps are skipped
  .github/workflows/unix.yml
Owners: @dstebila

disable mayo per default in zephyr
  zephyr/CMakeLists.txt
  zephyr/Kconfig
Owners: @dstebila

add ct-tests [skip ci]
  tests/constant_time/sig/issues.json
  tests/constant_time/sig/passes.json
  tests/constant_time/sig/passes/mayo
Owners: @dstebila

fix aes ossl
  src/common/ossl_helpers.c
Owners: @dstebila

zephyr config update
  zephyr/Kconfig
  zephyr/samples/Signatures/prj.conf
  zephyr/samples/Signatures/sample.yaml
  zephyr/samples/Signatures/src/main.c
Owners: @dstebila

Add NIST_SIG_ONRAMP option and add AES128_CTR tests
  .CMake/alg_support.cmake
  .github/workflows/unix.yml
  CONFIGURE.md
  docs/algorithms/sig/mayo.yml
  tests/test_aes.c
Owners: @dstebila

remove comments & zephyr build fix
  src/common/aes/aes_local.h
  zephyr/CMakeLists.txt
Owners: @dstebila

release-test with sign-off message [trigger downstream]
  .github/workflows/release-test.yml
Owners: @dstebila

fix KAT order
  tests/KATs/sig/kats.json
Owners: @dstebila

disable mayo_5 in zephyr
  zephyr/CMakeLists.txt
  zephyr/samples/Signatures/prj.conf
Owners: @dstebila

Remove unused function
  src/common/aes/aes_impl.c
Owners: @dstebila

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess
