Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess

[NFCI] Move Keccak rhotates tables to rodata
  src/common/sha3/xkcp_low/KeccakP-1600/avx2/KeccakP-1600-AVX2.S
Owners: @dstebila

update BIKE documentation [skip ci]
  docs/algorithms/kem/bike.md
  docs/algorithms/kem/bike.yml
Owners: @dstebila

Update Classic McEliece advisories. Replace
  docs/algorithms/kem/classic_mceliece.md
  src/common/pqclean_shims/crypto_declassify.h
Owners: @dstebila

Update Classic McEliece documentation YAML. Update KEM CMakeLists Jinja template.
  .CMake/compiler_opts.cmake
  docs/algorithms/kem/classic_mceliece.yml
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt
  src/kem/classic_mceliece/CMakeLists.txt
Owners: @dstebila, @baentsch, @bhess

clean up
  .vscode/c_cpp_properties.json
  .vscode/settings.json
Owners: @dstebila

remove wanrings in scanbuild
  src/sig_stfl/xmss/external/xmss_core_fast.c
Owners: @dstebila

change free to OQS_MEM_insecure_free
  src/sig_stfl/xmss/external/xmss_core_fast.c
Owners: @dstebila

fix build warning
  src/sig_stfl/xmss/external/xmss_core_fast.c
Owners: @dstebila

fix integer in i386 platforms
  tests/kat_sig_stfl.c
Owners: @dstebila

proper type for sigs_remain and sig_maximum
  tests/kat_sig_stfl.c
Owners: @dstebila

update BIKE documentation [skip ci] (#1509)
  docs/algorithms/kem/bike.md
  docs/algorithms/kem/bike.yml
Owners: @dstebila

remove size_t in signature remain and total
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_6.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_6.c
Owners: @dstebila

fix compiler warning/error in aes256_armv8.c
  src/common/aes/aes256_armv8.c
Owners: @dstebila

pull pqclean+paches
  src/kem/kyber/pqclean_kyber1024_aarch64/feat.S
  src/kem/kyber/pqclean_kyber512_aarch64/feat.S
  src/kem/kyber/pqclean_kyber768_aarch64/feat.S
  src/sig/dilithium/pqclean_dilithium2_aarch64/feat.S
  src/sig/dilithium/pqclean_dilithium3_aarch64/feat.S
  src/sig/dilithium/pqclean_dilithium5_aarch64/feat.S
Owners: @jschanck, @bhess

remove old patches & update algorithm md/yml
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqclean-kyber-arm-macos-gcc-fix.patch
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-shake.patch
Owners: @dstebila, @baentsch, @bhess

add new patches
  scripts/copy_from_upstream/patches/pqclean-dilithium-symbolnames.patch
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-shake-fixes.patch
Owners: @baentsch, @bhess

add patch with fixes for arm/kyber768+kyber1024
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-768-1024-fixes.patch
  src/kem/kyber/pqclean_kyber1024_aarch64/indcpa.c
  src/kem/kyber/pqclean_kyber768_aarch64/indcpa.c
Owners: @baentsch, @bhess, @jschanck

update licenses in yamls and mds
  README.md
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/sig/dilithium.md
  docs/algorithms/sig/dilithium.yml
Owners: @dstebila

update kyber/dil suppression files
  tests/constant_time/sig/passes/dilithium-aarch64
Owners: @dstebila

Support LMS H5_W1
  .CMake/alg_support.cmake
  CMakeLists.txt
  src/CMakeLists.txt
  src/oqsconfig.h.cmake
  src/sig_stfl/lms/CmakeLists.txt
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/lms/sig_stfl_lms_wrap.h
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

Fix style check
  src/sig_stfl/lms/sig_stfl_lms_functions.c
Owners: @dstebila

Rename CmakeLists.txt CMakeLists.txt
  src/sig_stfl/lms/CMakeLists.txt
Owners: @dstebila

make scan-build happy
  src/sig_stfl/xmss/external/xmss_core_fast.c
Owners: @dstebila

Add namespace
  src/sig_stfl/lms/external/endian.h
  src/sig_stfl/lms/external/hash.h
  src/sig_stfl/lms/external/hss.h
  src/sig_stfl/lms/external/hss_aux.h
  src/sig_stfl/lms/external/hss_common.h
  src/sig_stfl/lms/external/hss_derive.h
  src/sig_stfl/lms/external/hss_internal.h
  src/sig_stfl/lms/external/hss_reserve.h
  src/sig_stfl/lms/external/hss_sign_inc.h
  src/sig_stfl/lms/external/hss_thread.h
  src/sig_stfl/lms/external/hss_verify.h
  src/sig_stfl/lms/external/hss_verify_inc.h
  src/sig_stfl/lms/external/hss_zeroize.h
  src/sig_stfl/lms/external/lm_common.h
  src/sig_stfl/lms/external/lm_ots.h
  src/sig_stfl/lms/external/lm_ots_common.h
  src/sig_stfl/lms/external/lm_ots_verify.h
  src/sig_stfl/lms/external/lm_verify.h
  src/sig_stfl/lms/external/lms_namespace.h
  src/sig_stfl/lms/external/sha256.h
Owners: @dstebila

removes superfluous pqclean Makefiles & updates copy_from_upstream script to handle this case
  scripts/copy_from_upstream/copy_from_upstream.py
  src/kem/kyber/pqclean_kyber1024_aarch64/Makefile
  src/kem/kyber/pqclean_kyber512_aarch64/Makefile
  src/kem/kyber/pqclean_kyber768_aarch64/Makefile
  src/sig/dilithium/pqclean_dilithium2_aarch64/Makefile
  src/sig/dilithium/pqclean_dilithium3_aarch64/Makefile
  src/sig/dilithium/pqclean_dilithium5_aarch64/Makefile
Owners: @baentsch, @bhess, @jschanck

Address issues from scan results
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms_functions.c
Owners: @dstebila

Address SA issue
  src/sig_stfl/lms/external/hss_keygen.c
Owners: @dstebila

Fix formatting
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  tests/test_sig_stfl.c
Owners: @dstebila

Fix formatting
  src/sig_stfl/sig_stfl.c
Owners: @dstebila

update license infos
  README.md
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/sig/dilithium.md
  docs/algorithms/sig/dilithium.yml
Owners: @dstebila

Commit Duc's SA fixes
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_6.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_6.c
Owners: @dstebila

Fix mem leak, and compiler warning.
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/lms/sig_stfl_lms_functions.c
Owners: @dstebila

Pull Falcon updates from PQClean
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/kem/hqc.md
  docs/algorithms/kem/hqc.yml
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/sig/dilithium.md
  docs/algorithms/sig/dilithium.yml
  docs/algorithms/sig/falcon.md
  docs/algorithms/sig/falcon.yml
  docs/algorithms/sig/sphincs.md
  docs/algorithms/sig/sphincs.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/sig/falcon/pqclean_falcon-1024_avx2/sign.c
  src/sig/falcon/pqclean_falcon-512_avx2/sign.c
Owners: @dstebila, @baentsch, @bhess

Pull Falcon updates from PQClean (#1523)
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/kem/hqc.md
  docs/algorithms/kem/hqc.yml
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/sig/dilithium.md
  docs/algorithms/sig/dilithium.yml
  docs/algorithms/sig/falcon.md
  docs/algorithms/sig/falcon.yml
  docs/algorithms/sig/sphincs.md
  docs/algorithms/sig/sphincs.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/sig/falcon/pqclean_falcon-1024_avx2/sign.c
  src/sig/falcon/pqclean_falcon-512_avx2/sign.c
Owners: @dstebila, @baentsch, @bhess

Convert API to use OQS_SIG_STFL_SECRET_KEY
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

Update formatting
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

update XCode version in CCI
  .circleci/config.yml
Owners: @baentsch

add OpenSSL to MacOS CCI
  .circleci/config.yml
Owners: @baentsch

Bump XCode (#1526)
  .circleci/config.yml
Owners: @baentsch

Update constant suppression supression files for Round 4 Classic McEliece.
  tests/constant_time/kem/issues.json
  tests/constant_time/kem/issues/classic-mceliece-348864
  tests/constant_time/kem/issues/classic-mceliece-348864f
  tests/constant_time/kem/issues/classic-mceliece-460896
  tests/constant_time/kem/issues/classic-mceliece-460896f
  tests/constant_time/kem/issues/classic-mceliece-6688128
  tests/constant_time/kem/issues/classic-mceliece-6688128f
  tests/constant_time/kem/issues/classic-mceliece-6960119
  tests/constant_time/kem/issues/classic-mceliece-6960119f
  tests/constant_time/kem/issues/classic-mceliece-8192128
  tests/constant_time/kem/issues/classic-mceliece-8192128f
  tests/constant_time/kem/passes.json
  tests/constant_time/kem/passes/mceliece-348864
  tests/constant_time/kem/passes/mceliece-348864f
  tests/constant_time/kem/passes/mceliece-460896
  tests/constant_time/kem/passes/mceliece-460896f
  tests/constant_time/kem/passes/mceliece-6688128
  tests/constant_time/kem/passes/mceliece-6688128f
  tests/constant_time/kem/passes/mceliece-6960119
  tests/constant_time/kem/passes/mceliece-6960119f
  tests/constant_time/kem/passes/mceliece-8192128
  tests/constant_time/kem/passes/mceliece-8192128f
  tests/constant_time/kem/passes/mceliece-sk_gen
Owners: @dstebila
