Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @xvzcf, @baentsch, @bhess, @xvczf, @crockeea, @jschanck, @christianpaquin

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila @xvzcf
/.circleci @baentsch @xvzcf
/.CMake @xvzcf
/docs @dstebila
/scripts @xvzcf
/scripts/copy_from_upstream @baentsch @bhess @xvczf
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/kem/ntru @jschanck
/src/kem/sike @christianpaquin
/src/oqsconfig.h.cmake @xvzcf
/src/sig/dilithium @bhess
/src/sig/picnic @christianpaquin
/CONTRIBUTORS @dstebila
/LICENSE.txt @dstebila
/README.md @dstebila
/RELEASE.md @dstebila
CMakeLists.txt @xvzcf

Disable BIKE build on s390x (big endian) (#1115)
  .CMake/alg_support.cmake
  .travis.yml
Owners: @xvzcf, @dstebila

known sntrup constant_time issue suppressed
  tests/constant_time/kem/passes.json
Owners: @dstebila, @xvzcf

Updated Picnic to v3.0.5
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/external/CHANGELOG.md
  src/sig/picnic/external/README.md
  src/sig/picnic/external/kdf_shake.h
  src/sig/picnic/external/picnic.c
  src/sig/picnic/external/picnic.h
  src/sig/picnic/external/picnic3_impl.c
  src/sig/picnic/external/picnic3_simulate.c.i
  src/sig/picnic/external/picnic3_tree.c
  src/sig/picnic/external/picnic3_tree.h
  src/sig/picnic/external/picnic_impl.c
  src/sig/picnic/external/picnic_instances.c
  src/sig/picnic/external/picnic_instances.h
  src/sig/picnic/sig_picnic.c
Owners: @dstebila, @christianpaquin

Added new v3.0.5 functions to namespacing file
  src/sig/picnic/external/oqs_picnic_macros.h
Owners: @christianpaquin

Updated Picnic to v3.0.5 (#1116)
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/external/CHANGELOG.md
  src/sig/picnic/external/README.md
  src/sig/picnic/external/kdf_shake.h
  src/sig/picnic/external/oqs_picnic_macros.h
  src/sig/picnic/external/picnic.c
  src/sig/picnic/external/picnic.h
  src/sig/picnic/external/picnic3_impl.c
  src/sig/picnic/external/picnic3_simulate.c.i
  src/sig/picnic/external/picnic3_tree.c
  src/sig/picnic/external/picnic3_tree.h
  src/sig/picnic/external/picnic_impl.c
  src/sig/picnic/external/picnic_instances.c
  src/sig/picnic/external/picnic_instances.h
  src/sig/picnic/sig_picnic.c
Owners: @dstebila, @christianpaquin

pqclean's aarch64 kyber implementation is now being pulled from. Still need to clean things up.
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.fragment
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-shake.patch
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-yml.patch
Owners: @baentsch, @bhess, @xvczf

pqclean kyber fragment was left behind. It's now added
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt
Owners: @xvzcf

Added compiler checking for gcc. Must be at least 9.4.0. Need to track down clang and appleclang
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.fragment
Owners: @baentsch, @bhess, @xvczf

Need to figure out how to handle commen dependencies from multiple upstreams
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess, @xvczf

Cleaned up copy_from_upstream.py a bit
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess, @xvczf

Added pqclean's aarch64 optimized kyber implementation to liboqs
  .CMake/alg_support.cmake
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/kem/hqc.yml
  docs/algorithms/kem/ntru.yml
  docs/algorithms/kem/ntruprime.yml
  docs/algorithms/kem/saber.yml
  docs/algorithms/sig/falcon.yml
  docs/algorithms/sig/rainbow.yml
  docs/algorithms/sig/sphincs.yml
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/kem/saber/CMakeLists.txt
  src/kem/saber/kem_saber_firesaber.c
  src/kem/saber/kem_saber_lightsaber.c
  src/kem/saber/kem_saber_saber.c
  src/oqsconfig.h.cmake
Owners: @xvzcf, @dstebila, @jschanck, @bhess

Fixed an isssue where 'empty' conditionals were added to kem_scheme.c files when there were no required flags
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
Owners: @baentsch, @bhess, @xvczf, @jschanck

reverting sabre to version prior to updated copy_from_upstream script
  src/kem/saber/CMakeLists.txt
  src/kem/saber/kem_saber_firesaber.c
  src/kem/saber/kem_saber_lightsaber.c
  src/kem/saber/kem_saber_saber.c
Owners: @xvzcf, @dstebila

Skip non-enabled algs in constant time tests
  tests/test_constant_time.py
Owners: @dstebila, @xvzcf

Deleted previous test skipping code (replaced with common function)
  tests/test_constant_time.py
Owners: @dstebila, @xvzcf

Added back SKIP_ALGS checks, for enabled-but-skipped algs.
  tests/test_constant_time.py
Owners: @dstebila, @xvzcf

Skip non-enabled algs in constant time tests (#1120)
  tests/test_constant_time.py
Owners: @dstebila, @xvzcf

Updated valgrind constant time exception for picnic (new code, and updated some line numbers)
  tests/constant_time/sig/passes/picnic3
Owners: @dstebila, @xvzcf

Updated valgrind constant time exception for picnic (new code, and updated some line numbers) (#1121)
  tests/constant_time/sig/passes/picnic3
Owners: @dstebila, @xvzcf

stripping asimd flag for ARM64_V8 as it isn't needed and will cause errors when trying to specify it during compilation
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-yml.patch
Owners: @baentsch, @bhess, @xvczf

Fixed an issue where empty conditionals would appear when no required flags were specified
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.fragment
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
Owners: @baentsch, @bhess, @xvczf

Updated kyber docs
  docs/algorithms/kem/kyber.md
Owners: @dstebila

Updated kyber docs with better formatting
  docs/algorithms/kem/kyber.md
Owners: @dstebila

Adding updated kyber documentation
  docs/algorithms/kem/kyber.yml
Owners: @dstebila

Reverting documentation that was erroniously updated while updating kyber.
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/kem/hqc.yml
  docs/algorithms/kem/ntru.yml
  docs/algorithms/kem/ntruprime.yml
  docs/algorithms/kem/saber.yml
Owners: @dstebila

Reverted ntruprime too far back by mistake
  docs/algorithms/kem/ntruprime.yml
Owners: @dstebila

Updated kyber doc's yml no-secret-dependent-branching-checked-by-valgrind to false
  docs/algorithms/kem/kyber.yml
Owners: @dstebila

Updated kyber markdown so that no-secret-dependent-branching-checked-by-valgrind correctly says false for the new aarch64 implementation
  docs/algorithms/kem/kyber.md
Owners: @dstebila

Fixed some whitespace issues
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @baentsch, @bhess, @xvczf

Added automated updating of legacy yaml format, and added some yaml files which don't get automatically updated
  docs/algorithms/kem/bike.yml
  docs/algorithms/kem/frodokem.yml
  docs/algorithms/kem/sike.yml
  scripts/copy_from_upstream/update_upstream_alg_docs.py
  scripts/update_docs_from_yaml.py
Owners: @dstebila, @baentsch, @bhess, @xvczf, @xvzcf

Added nicer formatting warning message
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @baentsch, @bhess, @xvczf

Added Keccak constant time exclusion for Picnic AVX2
  tests/constant_time/sig/passes/picnic3
Owners: @dstebila, @xvzcf

Added Keccak constant time exclusion for Picnic AVX2 (#1124)
  tests/constant_time/sig/passes/picnic3
Owners: @dstebila, @xvzcf

Fixed a bug where optimized upstreams would use the primary upstream's supported platform
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @baentsch, @bhess, @xvczf

Updated kyber yaml from hand edited to script generated
  docs/algorithms/kem/kyber.yml
Owners: @dstebila

Removed a debugging print that was left in by mistake
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @baentsch, @bhess, @xvczf

Fixed an indenting issue in templates
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
Owners: @baentsch, @bhess, @xvczf

Fixed a whitespace issue in kyber_scheme.c files
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
Owners: @jschanck, @bhess

Fixed some style issues using astyle
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
Owners: @jschanck, @bhess

Fixed a bug with copy_from_upstream.py's verify function where it would always use the default upstream location when comparing with diff
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess, @xvczf
