Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

Switch off -n=auto for macOS pytest
  .github/workflows/unix.yml
Owners: @dstebila

Only generate sarif, and execute on PRs+merge
  .github/workflows/scorecard.yml
Owners: @dstebila

Move macOS CI tests to GitHub Actions; add M1 CI tests (#1709)
  .circleci/config.yml
  .github/workflows/unix.yml
  PLATFORMS.md
  src/common/ossl_helpers.c
Owners: @baentsch, @dstebila

Update liboqs readme to point to oqs-provider instead of deprecated openssl1.1.1 fork [skip ci]
  README.md
Owners: @dstebila

Update liboqs readme to point to oqs-provider instead of deprecated openssl1.1.1 fork [skip ci] (#1699)
  README.md
Owners: @dstebila

Refactor missed OQS_SHA3_shake256_x4_inc_squeeze()
  src/common/sha3/ossl_sha3x4.c
Owners: @dstebila

Refactor OQS OpenSSL SHA3 SHAKE to use new EVP_DigestSqueeze() #1539
  src/common/sha3/ossl_sha3.c
  src/common/sha3/ossl_sha3x4.c
Owners: @dstebila

Working script to build liboqs for TripleCyber with OpenSSL 3.2.1
  tc3-apple-build-wrapper.sh
Owners: @dstebila

Error detection
  tc3-apple-build-wrapper.sh
Owners: @dstebila

Debugging
  tc3-apple-build-wrapper.sh
Owners: @dstebila

First successful creation
  tc3-apple-build-wrapper.sh
Owners: @dstebila

Add return status for XMSS lock/unlock functions.
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
Owners: @dstebila

Fix for the Zephyr CI tests
  .github/workflows/zephyr.yml
  zephyr/samples/Signatures/sample.yaml
Owners: @dstebila

Fix for the Zephyr CI tests (#1714)
  .github/workflows/zephyr.yml
  zephyr/samples/Signatures/sample.yaml
Owners: @dstebila

it should say return ERROR instead of SUCCESS.
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
Owners: @dstebila

Add return status for XMSS lock/unlock functions. (#1712)
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
Owners: @dstebila

Updated and added documentation
  scripts/build-wrapper-openssl-static.sh
Owners: @dstebila

remove references to unsupported openssh [skip ci]
  .github/pull_request_template.md
  CONFIGURE.md
Owners: @dstebila

fix documentation generation
  .github/workflows/unix.yml
  README.md
Owners: @dstebila

remove references to unsupported openssh [skip ci] (#1713)
  .github/pull_request_template.md
  CONFIGURE.md
Owners: @dstebila

fix documentation generation (#1715)
  .github/workflows/unix.yml
  README.md
Owners: @dstebila

Add padded versions to docs yaml
  docs/algorithms/sig/falcon.yml
Owners: @dstebila

Update CT suppression files
  tests/constant_time/sig/issues.json
  tests/constant_time/sig/passes.json
Owners: @dstebila

Add 100-KAT SHAs
  tests/KATs/sig/kats.json
Owners: @dstebila

Update Falcon licence documentation
  README.md
  docs/algorithms/sig/falcon.md
  docs/algorithms/sig/falcon.yml
Owners: @dstebila

Add padded schemes to yaml
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess

Update SHA and branch post-merge
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess

Reenable Falcon-1024 long KAT tests
  .github/workflows/weekly.yml
Owners: @dstebila

Update copy_from_upstream KAT addition
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

Update deprecated CircleCI image [trigger downstream]
  .circleci/config.yml
Owners: @baentsch

Restore old squeeze logic and comment
  src/common/sha3/ossl_sha3.c
  src/common/sha3/ossl_sha3x4.c
Owners: @dstebila

Update SHA and branch post-merge [trigger downstream]
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/kem/hqc.md
  docs/algorithms/kem/hqc.yml
  docs/algorithms/sig/falcon.md
  docs/algorithms/sig/falcon.yml
  docs/algorithms/sig/sphincs.md
  docs/algorithms/sig/sphincs.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @dstebila, @baentsch, @bhess

Fix SPHINCS+ naming in CT json file [skip ci]
  tests/constant_time/sig/issues.json
Owners: @dstebila

Updated script for dynamic builds
  scripts/build-wrapper-openssl-static.sh
Owners: @dstebila

Ignore _build folder
  .gitignore
Owners: @dstebila

remove ml_kem ipds from STD filter_algs
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/list_standardized_algs.fragment
Owners: @dstebila, @baentsch, @bhess

fixing vector tests
  .github/workflows/unix.yml
  tests/test_vectors.sh
  tests/vectors_sig.c
Owners: @dstebila

add CI test for aliases
  .github/workflows/unix.yml
Owners: @dstebila

fix github-yml
  .github/workflows/unix.yml
Owners: @dstebila

update after rebase
  .CMake/alg_support.cmake
Owners: @dstebila

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess
