Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

added to PLATFORMS.md
  PLATFORMS.md
Owners: @dstebila

Add sig_stfl to configure.md
  CONFIGURE.md
Owners: @dstebila

Update to most recent Kyber commit
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess

Run copy_from_upstream
  src/kem/kyber/oldpqclean_kyber1024_aarch64/poly.c
  src/kem/kyber/oldpqclean_kyber1024_aarch64/polyvec.c
  src/kem/kyber/oldpqclean_kyber512_aarch64/poly.c
  src/kem/kyber/oldpqclean_kyber512_aarch64/polyvec.c
  src/kem/kyber/oldpqclean_kyber768_aarch64/poly.c
  src/kem/kyber/oldpqclean_kyber768_aarch64/polyvec.c
Owners: @jschanck, @bhess

Update Kyber ARM patch to reflect pq-crystals/kyber@272125f
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-variable-timing-fix.patch
Owners: @baentsch, @bhess

Run copy_from_upstream.py
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/polyvec.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/polyvec.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/polyvec.c
Owners: @dstebila, @jschanck, @bhess

Run copy_from_upstream
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
Owners: @dstebila

Update copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess

Run copy_from_upstream.py -k
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/sig/falcon.md
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/polyvec.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/polyvec.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/polyvec.c
Owners: @dstebila, @jschanck, @bhess

Run copy_from_upstream
  src/kem/kyber/pqclean_kyber1024_aarch64/poly.c
  src/kem/kyber/pqclean_kyber1024_aarch64/polyvec.c
  src/kem/kyber/pqclean_kyber512_aarch64/poly.c
  src/kem/kyber/pqclean_kyber512_aarch64/polyvec.c
  src/kem/kyber/pqclean_kyber768_aarch64/poly.c
  src/kem/kyber/pqclean_kyber768_aarch64/polyvec.c
Owners: @jschanck, @bhess

Update to latest Kyber commit
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess

Checkout post-0.9.0 copy_from_upstream fixes
  .github/workflows/linux.yml
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @dstebila, @baentsch, @bhess

Update copy_from_upstream.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess

Run copy_from_upstream.py
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
Owners: @dstebila

Update ARM patch
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-variable-timing-fix.patch
Owners: @baentsch, @bhess

Add OQS_MEM_checked_malloc and OQS_MEM_checked_aligned_alloc
  src/common/common.c
  src/common/common.h
  src/common/sha3/ossl_sha3.c
  src/common/sha3/ossl_sha3x4.c
  src/common/sha3/xkcp_sha3.c
  src/common/sha3/xkcp_sha3x4.c
Owners: @dstebila

Use memcpy and checked_malloc
  src/common/sha2/sha2_armv8.c
  src/common/sha2/sha2_c.c
Owners: @dstebila

Fix astyle
  src/common/sha2/sha2_armv8.c
  src/common/sha2/sha2_c.c
Owners: @dstebila

update the stateful siganture header documentation
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

address comments
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

change to internal usage only
  src/common/common.h
Owners: @dstebila

update archor reference
  CONFIGURE.md
Owners: @dstebila

catch the case when mutex is not set
  src/sig_stfl/sig_stfl.c
Owners: @dstebila

address comments
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

astyle format
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

fix typo
  src/sig_stfl/sig_stfl.c
Owners: @dstebila

Zephyr: fixes for platform support
  PLATFORMS.md
  zephyr/CMakeLists.txt
Owners: @dstebila

stress that only the Signing operation need to be locked/unlocked.
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

Release notes for 0.9.2-rc1
  CMakeLists.txt
  RELEASE.md
Owners: @dstebila

Address stateful-sigs comments in #1650 (#1656)
  CONFIGURE.md
  src/common/common.c
  src/common/common.h
  src/common/sha2/sha2_armv8.c
  src/common/sha2/sha2_c.c
  src/common/sha3/ossl_sha3.c
  src/common/sha3/ossl_sha3x4.c
  src/common/sha3/xkcp_sha3.c
  src/common/sha3/xkcp_sha3x4.c
Owners: @dstebila

make lock and unlock function to internal APIs.
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

Add Apache 2.0 and MIT License to XMSS
  CONTRIBUTORS
  src/sig_stfl/xmss/LICENSE
  src/sig_stfl/xmss/LICENSE-MIT
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_functions.c
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_functions.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_6.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_6.c
Owners: @dstebila

Update `sig_stfl.h` document for #1650 (#1655)
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

add license to all files in external
  src/sig_stfl/xmss/external/core_hash.c
  src/sig_stfl/xmss/external/core_hash.h
  src/sig_stfl/xmss/external/hash.c
  src/sig_stfl/xmss/external/hash.h
  src/sig_stfl/xmss/external/hash_address.c
  src/sig_stfl/xmss/external/hash_address.h
  src/sig_stfl/xmss/external/namespace.h
  src/sig_stfl/xmss/external/params.c
  src/sig_stfl/xmss/external/params.h
  src/sig_stfl/xmss/external/utils.c
  src/sig_stfl/xmss/external/utils.h
  src/sig_stfl/xmss/external/wots.c
  src/sig_stfl/xmss/external/wots.h
  src/sig_stfl/xmss/external/xmss.c
  src/sig_stfl/xmss/external/xmss.h
  src/sig_stfl/xmss/external/xmss_commons.c
  src/sig_stfl/xmss/external/xmss_commons.h
  src/sig_stfl/xmss/external/xmss_core.c
  src/sig_stfl/xmss/external/xmss_core.h
  src/sig_stfl/xmss/external/xmss_core_fast.c
Owners: @dstebila

add license to cmakelist
  src/sig_stfl/xmss/CMakeLists.txt
Owners: @dstebila

Bump MarkupSafe version for compatibility with Jinja2
  scripts/copy_from_upstream/requirements.txt
Owners: @baentsch, @bhess

Update README.md
  README.md
Owners: @dstebila

Update README.md
  README.md
Owners: @dstebila

Update README.md
  README.md
Owners: @dstebila

Update README.md
  README.md
Owners: @dstebila

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess
