Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @xvzcf, @baentsch, @bhess, @xvczf, @crockeea, @jschanck, @christianpaquin

remove picnic from cygwin build
  appveyor_build.bat
Owners: @dstebila, @xvzcf

update documentation
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
Owners: @dstebila

remove picnic from cygwin build (#1171)
  appveyor_build.bat
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
Owners: @dstebila, @xvzcf

adding constant time test as weekly github action
  .github/workflows/weekly.yml
Owners: @dstebila, @xvzcf

remove unnecessary test from weekly constant time run
  .github/workflows/weekly.yml
Owners: @dstebila, @xvzcf

adding constant time test as weekly github action (#1170)
  .github/workflows/weekly.yml
Owners: @dstebila, @xvzcf

extend weekly run timeout [skip ci]
  .github/workflows/weekly.yml
Owners: @dstebila, @xvzcf

copy_from_xkcp: Update to latest version and fix merge conflicts
  scripts/copy_from_xkcp/CMakeLists.txt
  scripts/copy_from_xkcp/VERSION
  scripts/copy_from_xkcp/patches/lib_low_KeccakP-1600_AVX2_KeccakP-1600-AVX2.s
  scripts/copy_from_xkcp/patches/lib_low_KeccakP-1600_AVX2_KeccakP-1600-SnP.h
  scripts/copy_from_xkcp/patches/lib_low_KeccakP-1600_plain-64bits_KeccakP-1600-opt64.c
Owners: @xvzcf

common/sha3: Run copy_from_xkcp
  src/common/sha3/xkcp_low/CMakeLists.txt
  src/common/sha3/xkcp_low/KeccakP-1600/avx2/KeccakP-1600-AVX2.S
  src/common/sha3/xkcp_low/KeccakP-1600/avx2/KeccakP-1600-SnP.h
Owners: @xvzcf, @dstebila

copy_from_xkcp: use C preprocessor instead of .ifdef directives in KeccakP-1600-AVX2.S
  scripts/copy_from_xkcp/CMakeLists.txt
  scripts/copy_from_xkcp/patches/lib_low_KeccakP-1600_AVX2_KeccakP-1600-AVX2.s
Owners: @xvzcf

common/sha3: Run copy_from_xkcp
  src/common/sha3/xkcp_low/CMakeLists.txt
  src/common/sha3/xkcp_low/KeccakP-1600/avx2/KeccakP-1600-AVX2.S
Owners: @xvzcf, @dstebila

extend weekly run timeout [skip ci] (#1172)
  .github/workflows/weekly.yml
Owners: @dstebila, @xvzcf

Add macOS gcc-11 CI job
  .circleci/config.yml
Owners: @baentsch, @xvzcf

Update XKCP and avoid assembler .ifdef directives (#1173)
  .circleci/config.yml
  scripts/copy_from_xkcp/CMakeLists.txt
  scripts/copy_from_xkcp/VERSION
  scripts/copy_from_xkcp/patches/lib_low_KeccakP-1600_AVX2_KeccakP-1600-AVX2.s
  scripts/copy_from_xkcp/patches/lib_low_KeccakP-1600_AVX2_KeccakP-1600-SnP.h
  scripts/copy_from_xkcp/patches/lib_low_KeccakP-1600_plain-64bits_KeccakP-1600-opt64.c
  src/common/sha3/xkcp_low/CMakeLists.txt
  src/common/sha3/xkcp_low/KeccakP-1600/avx2/KeccakP-1600-AVX2.S
  src/common/sha3/xkcp_low/KeccakP-1600/avx2/KeccakP-1600-SnP.h
Owners: @baentsch, @xvzcf, @dstebila

Updated constant_time suppression files after picnic update
  tests/constant_time/sig/passes/picnic
  tests/constant_time/sig/passes/picnic3
Owners: @dstebila, @xvzcf

Updated constant_time suppression files after picnic update (#1174)
  tests/constant_time/sig/passes/picnic
  tests/constant_time/sig/passes/picnic3
Owners: @dstebila, @xvzcf

Mark stack non-executable when compiling with clang or gcc
  .CMake/compiler_opts.cmake
Owners: @xvzcf

Change noexecstack option on gcc
  .CMake/compiler_opts.cmake
Owners: @xvzcf

Use gcc noexecstack only on non-Darwin
  .CMake/compiler_opts.cmake
Owners: @xvzcf

Check for non-executable stack in shared object builds on Linux
  tests/test_binary.py
Owners: @dstebila, @xvzcf

Revert "remove picnic from cygwin build (#1171)"
  appveyor_build.bat
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
Owners: @dstebila, @xvzcf

Set WITH_OPT only if required
  src/sig/picnic/CMakeLists.txt
Owners: @xvzcf

Update to Picnic 3.0.10 (fixes #1165)
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/external/CHANGELOG.md
  src/sig/picnic/external/macros.h
  src/sig/picnic/external/mpc_lowmc.c
  src/sig/picnic/external/picnic_impl.c
  src/sig/picnic/external/simd.h
  src/sig/picnic/sig_picnic.c
Owners: @dstebila, @christianpaquin

Disable Picnic SIMD optimizations on Cygwin (fixes #1163)
  .CMake/alg_support.cmake
Owners: @xvzcf

Update supported CPU extensions for Picnic
  docs/algorithms/sig/picnic.md
Owners: @dstebila

Update to Picnic 3.0.9 (#1167)
  .CMake/alg_support.cmake
  appveyor_build.bat
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/CMakeLists.txt
  src/sig/picnic/external/CHANGELOG.md
  src/sig/picnic/external/macros.h
  src/sig/picnic/external/mpc_lowmc.c
  src/sig/picnic/external/picnic_impl.c
  src/sig/picnic/external/simd.h
  src/sig/picnic/sig_picnic.c
Owners: @xvzcf, @dstebila, @christianpaquin

Mark stack non-executable when compiling with clang or gcc (#1161)
  .CMake/compiler_opts.cmake
  tests/test_binary.py
Owners: @xvzcf, @dstebila

extend timeout to 10h
  .github/workflows/weekly.yml
Owners: @dstebila, @xvzcf

added .dsci.yml
  .dsci.yml
Owners: @dstebila, @xvzcf

extend timeout to 10h (#1175)
  .dsci.yml
  .github/workflows/weekly.yml
Owners: @dstebila, @xvzcf

skip sphincs,rainbow in shortened weekly testing
  .circleci/config.yml
  .dsci.yml
  .github/workflows/weekly.yml
Owners: @baentsch, @xvzcf, @dstebila

skip sphincs,rainbow in shortened weekly testing (#1176)
  .circleci/config.yml
  .dsci.yml
  .github/workflows/weekly.yml
Owners: @baentsch, @xvzcf, @dstebila

Add VeriSign Inc. to README acknowledgements [skip ci]
  README.md
Owners: @dstebila

adding M1 CI for gcc-11
  .dsci.yml
Owners: @dstebila, @xvzcf

Fixed build issue on arm based macs when using gcc11 (#1177)
  .dsci.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqclean-saber-kyber-arm-macos-gcc-fix.patch
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt
  src/kem/classic_mceliece/CMakeLists.txt
  src/kem/hqc/CMakeLists.txt
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/pqclean_kyber1024_aarch64/__asm_NTT.S
  src/kem/kyber/pqclean_kyber1024_aarch64/__asm_base_mul.S
  src/kem/kyber/pqclean_kyber1024_aarch64/__asm_iNTT.S
  src/kem/kyber/pqclean_kyber1024_aarch64/__asm_poly.S
  src/kem/kyber/pqclean_kyber512_aarch64/__asm_NTT.S
  src/kem/kyber/pqclean_kyber512_aarch64/__asm_base_mul.S
  src/kem/kyber/pqclean_kyber512_aarch64/__asm_iNTT.S
  src/kem/kyber/pqclean_kyber512_aarch64/__asm_poly.S
  src/kem/kyber/pqclean_kyber768_aarch64/__asm_NTT.S
  src/kem/kyber/pqclean_kyber768_aarch64/__asm_base_mul.S
  src/kem/kyber/pqclean_kyber768_aarch64/__asm_iNTT.S
  src/kem/kyber/pqclean_kyber768_aarch64/__asm_poly.S
  src/kem/ntru/CMakeLists.txt
  src/kem/ntruprime/CMakeLists.txt
  src/kem/saber/CMakeLists.txt
  src/kem/saber/pqclean_firesaber_aarch64/__asm_NTT.S
  src/kem/saber/pqclean_firesaber_aarch64/__asm_iNTT.S
  src/kem/saber/pqclean_firesaber_aarch64/__asm_mul.S
  src/kem/saber/pqclean_firesaber_aarch64/__asm_narrow.S
  src/kem/saber/pqclean_firesaber_aarch64/__asm_pack_unpack.S
  src/kem/saber/pqclean_lightsaber_aarch64/__asm_NTT.S
  src/kem/saber/pqclean_lightsaber_aarch64/__asm_iNTT.S
  src/kem/saber/pqclean_lightsaber_aarch64/__asm_mul.S
  src/kem/saber/pqclean_lightsaber_aarch64/__asm_narrow.S
  src/kem/saber/pqclean_lightsaber_aarch64/__asm_pack_unpack.S
  src/kem/saber/pqclean_saber_aarch64/__asm_NTT.S
  src/kem/saber/pqclean_saber_aarch64/__asm_iNTT.S
  src/kem/saber/pqclean_saber_aarch64/__asm_mul.S
  src/kem/saber/pqclean_saber_aarch64/__asm_narrow.S
  src/kem/saber/pqclean_saber_aarch64/__asm_pack_unpack.S
Owners: @dstebila, @xvzcf, @baentsch, @bhess, @xvczf, @jschanck

disable BIKE on all 32bitters except x86
  .CMake/alg_support.cmake
Owners: @xvzcf

disable BIKE on all 32bitters except x86 (#1180)
  .CMake/alg_support.cmake
Owners: @xvzcf

Update to picnic 3.0.11 (fixes #1178)
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/external/CHANGELOG.md
  src/sig/picnic/external/bitstream.h
  src/sig/picnic/external/lowmc.c
  src/sig/picnic/external/macros.h
  src/sig/picnic/external/mpc_lowmc.c
  src/sig/picnic/external/picnic3_simulate.c
  src/sig/picnic/external/simd.h
  src/sig/picnic/sig_picnic.c
Owners: @dstebila, @christianpaquin

Update to picnic 3.0.11 (fixes #1178) (#1181)
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/external/CHANGELOG.md
  src/sig/picnic/external/bitstream.h
  src/sig/picnic/external/lowmc.c
  src/sig/picnic/external/macros.h
  src/sig/picnic/external/mpc_lowmc.c
  src/sig/picnic/external/picnic3_simulate.c
  src/sig/picnic/external/simd.h
  src/sig/picnic/sig_picnic.c
Owners: @dstebila, @christianpaquin

syntax fix for weekly github run [skip ci]
  .github/workflows/weekly.yml
Owners: @dstebila, @xvzcf

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila @xvzcf
/.circleci @baentsch @xvzcf
/.CMake @xvzcf
/docs @dstebila
/scripts @xvzcf
/scripts/copy_from_upstream @baentsch @bhess @xvczf
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/kem/ntru @jschanck
/src/kem/sike @christianpaquin
/src/oqsconfig.h.cmake @xvzcf
/src/sig/dilithium @bhess
/src/sig/picnic @christianpaquin
/CONTRIBUTORS @dstebila
/LICENSE.txt @dstebila
/README.md @dstebila
/RELEASE.md @dstebila
CMakeLists.txt @xvzcf
