Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @SWilson4, @baentsch, @bhess, @alexrow, @crockeea, @jschanck

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.github/workflows @SWilson4
/scripts/copy_from_upstream @baentsch @bhess @alexrow
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/cross @alexrow
/src/sig/dilithium @bhess

Run basic checks with strict warnings
  .github/workflows/basic.yml
Owners: @SWilson4

Use latest CI image for basic checks
  .github/workflows/basic.yml
Owners: @SWilson4

Descriptive headers in CI.md
  CI.md
Owners: @dstebila

Store LIBJADE_ALG_LIST in github repo variable
  .github/workflows/extended.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  scripts/copy_from_upstream/copy_from_libjade.yml
Owners: @SWilson4, @baentsch, @bhess, @alexrow

Fix variable quoting [full tests]
  .github/workflows/linux.yml
  .github/workflows/macos.yml
Owners: @SWilson4

Use concurrency groups to automatically cancel workflows on double-push
  .github/workflows/pr.yml
  .github/workflows/push.yml
Owners: @SWilson4

Fix syntax in update_docs_from_yaml.py
  scripts/update_docs_from_yaml.py
Owners: @dstebila

Add safe directory with absolute path
  .github/workflows/basic.yml
Owners: @SWilson4

Expand in CONTRIBUTING.md [full tests]
  CONTRIBUTING.md
Owners: @dstebila

Move all Focal jobs to Noble
  .github/workflows/linux.yml
Owners: @SWilson4

Update image in extended tests and formatting script
  .github/workflows/extended.yml
  scripts/format_code.sh
Owners: @SWilson4, @dstebila

Update PLATFORMS.md [full tests]
  PLATFORMS.md
Owners: @dstebila

Update old compiler version
  .github/workflows/linux.yml
Owners: @SWilson4

Inherit secrets from caller workflow [full tests] [extended tests] [trigger downstream]
  .github/workflows/commit-to-main.yml
  .github/workflows/pr.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/weekly.yml
  CI.md
Owners: @SWilson4, @dstebila

Don't test Dilithium/ML-DSA for leaks on clang [full tests]
  .github/workflows/linux.yml
Owners: @SWilson4

Fix scan-build error
  tests/test_sig_stfl.c
Owners: @dstebila

Add --status-bugs flag to scan-build cmake [full tests]
  .github/workflows/linux.yml
Owners: @SWilson4

Update suppression files for Falcon and McEliece [extended tests]
  tests/constant_time/kem/issues/classic-mceliece-348864f
  tests/constant_time/kem/issues/classic-mceliece-460896
  tests/constant_time/kem/issues/classic-mceliece-460896f
  tests/constant_time/kem/issues/classic-mceliece-6688128f
  tests/constant_time/kem/issues/classic-mceliece-6960119
  tests/constant_time/kem/issues/classic-mceliece-6960119f
  tests/constant_time/kem/issues/classic-mceliece-8192128f
  tests/constant_time/sig/issues/falcon
Owners: @dstebila

Enable all McEliece variants in weekly tests [extended tests]
  .github/workflows/extended.yml
Owners: @SWilson4

REVERT: test out main branch workflow
  .github/workflows/commit-to-main.yml
Owners: @SWilson4

Update permissions for workflows that call scorecard
  .github/workflows/commit-to-main.yml
  .github/workflows/pr.yml
  .github/workflows/weekly.yml
Owners: @SWilson4

Fix fail-fast logic for downstream trigger
  .github/workflows/downstream-basic.yml
Owners: @SWilson4

Revert "REVERT: test out main branch workflow"
  .github/workflows/commit-to-main.yml
Owners: @SWilson4

Update boringssl to GitHub Actions
  .github/workflows/downstream-basic.yml
Owners: @SWilson4

Kyber: avoid ASAN error in shake128_absorb
  src/kem/kyber/oldpqclean_kyber1024_aarch64/neon_symmetric-shake.c
  src/kem/kyber/oldpqclean_kyber512_aarch64/neon_symmetric-shake.c
  src/kem/kyber/oldpqclean_kyber768_aarch64/neon_symmetric-shake.c
Owners: @jschanck, @bhess
