Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @xvzcf, @baentsch, @bhess, @xvczf, @crockeea, @jschanck, @christianpaquin

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila @xvzcf
/.circleci @baentsch @xvzcf
/.CMake @xvzcf
/docs @dstebila
/scripts @xvzcf
/scripts/copy_from_upstream @baentsch @bhess @xvczf
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/kem/ntru @jschanck
/src/kem/sike @christianpaquin
/src/oqsconfig.h.cmake @xvzcf
/src/sig/dilithium @bhess
/src/sig/picnic @christianpaquin
/CONTRIBUTORS @dstebila
/LICENSE.txt @dstebila
/README.md @dstebila
/RELEASE.md @dstebila
CMakeLists.txt @xvzcf

Adding armv8 crypto extensions to AES
  src/common/CMakeLists.txt
  src/common/aes/aes.c
  src/common/aes/aes128_armv8.c
  src/common/aes/aes256_armv8.c
  src/common/aes/aes_local.h
  tests/system_info.c
Owners: @xvzcf, @dstebila

Adding SPDX License identifier for aes arm files
  src/common/aes/aes128_armv8.c
  src/common/aes/aes256_armv8.c
Owners: @dstebila

tidying up some whitespace in armv8 encryption functions
  src/common/aes/aes128_armv8.c
  src/common/aes/aes256_armv8.c
Owners: @dstebila

Prettyprint
  src/common/aes/aes.c
  src/common/aes/aes128_armv8.c
  src/common/aes/aes256_armv8.c
Owners: @dstebila

skip algorithms for constant_time tests
  .circleci/config.yml
  tests/test_constant_time.py
Owners: @baentsch, @xvzcf, @dstebila

skip alg tests only on haswell
  .circleci/config.yml
Owners: @baentsch, @xvzcf

Updated algorithm docs
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/sig/dilithium.md
  docs/algorithms/sig/dilithium.yml
Owners: @dstebila

skip algorithms for constant_time tests (#1089)
  .circleci/config.yml
  tests/test_constant_time.py
Owners: @baentsch, @xvzcf, @dstebila

do full upstream doc generation [skip ci]
  docs/algorithms/kem/kyber.yml
  docs/algorithms/sig/dilithium.yml
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/update_pqclean_alg_docs.py
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @dstebila, @baentsch, @bhess, @xvczf

corrected upstream information; all generate scripts run
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/sig/dilithium.md
  docs/algorithms/sig/dilithium.yml
  docs/algorithms/sig/sphincs.md
  docs/algorithms/sig/sphincs.yml
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @dstebila, @baentsch, @bhess, @xvczf

sort required_flags [skip ci]
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/sig/dilithium.md
  docs/algorithms/sig/dilithium.yml
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @dstebila, @baentsch, @bhess, @xvczf

do full upstream doc generation (#1066)
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/sig/dilithium.md
  docs/algorithms/sig/dilithium.yml
  docs/algorithms/sig/sphincs.md
  docs/algorithms/sig/sphincs.yml
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/update_pqclean_alg_docs.py
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @dstebila, @baentsch, @bhess, @xvczf

Remove whitespace [skip ci]
  src/common/aes/aes.c
Owners: @dstebila

Adding armv8 crypto extensions to AES (#1086)
  src/common/CMakeLists.txt
  src/common/aes/aes.c
  src/common/aes/aes128_armv8.c
  src/common/aes/aes256_armv8.c
  src/common/aes/aes_local.h
  tests/system_info.c
Owners: @xvzcf, @dstebila

removes further fixed build directory dependencies
  .gitignore
  tests/test_kem_mem.c
  tests/test_sig_mem.c
  tests/test_spdx.sh
  tests/tmp_store.c
Owners: @dstebila, @xvzcf

formatting corrected
  tests/tmp_store.c
Owners: @dstebila, @xvzcf

remove cleanup code unsuitable for win
  tests/tmp_store.c
Owners: @dstebila, @xvzcf

remove include unknown in windows
  tests/tmp_store.c
Owners: @dstebila, @xvzcf

adapt mkdir to win API
  tests/tmp_store.c
Owners: @dstebila, @xvzcf

Enabling out-of-source build-and-test (#1091)
  .gitignore
  tests/test_kem_mem.c
  tests/test_sig_mem.c
  tests/test_spdx.sh
  tests/tmp_store.c
Owners: @dstebila, @xvzcf

enable true out-of-source build
  tests/helpers.py
Owners: @dstebila, @xvzcf

adding pyyaml prerequisite to README [skip ci]
  README.md
Owners: @dstebila

adding pyyaml prerequisite to README [skip ci] (#1094)
  README.md
Owners: @dstebila

enable true out-of-source build (#1093)
  tests/helpers.py
Owners: @dstebila, @xvzcf

executed python3 scripts/update_docs_from_yaml.py
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/hqc.md
  docs/algorithms/kem/ntru.md
  docs/algorithms/kem/ntruprime.md
  docs/algorithms/kem/saber.md
  docs/algorithms/sig/falcon.md
  docs/algorithms/sig/rainbow.md
  docs/algorithms/sig/sphincs.md
Owners: @dstebila

skip more SPHINCS algs from weekly testing
  .circleci/config.yml
Owners: @baentsch, @xvzcf

skip more SPHINCS algs from weekly testing (#1102)
  .circleci/config.yml
Owners: @baentsch, @xvzcf

- Fix for FrodoKEM-SHAKE for big endian support - Fix unused variable in Keccak code on big endian
  src/common/sha3/xkcp_low/KeccakP-1600/plain-64bits/KeccakP-1600-opt64.c
  src/kem/frodokem/external/frodo_macrify_shake_portable.c
Owners: @dstebila

s390x support
  .CMake/compiler_opts.cmake
  .travis.yml
  CMakeLists.txt
  src/common/common.c
  src/kem/sike/CMakeLists.txt
  tests/ds_benchmark.h
Owners: @xvzcf, @dstebila

S390x support (#1103)
  .CMake/compiler_opts.cmake
  .travis.yml
  CMakeLists.txt
  src/common/common.c
  src/common/sha3/xkcp_low/KeccakP-1600/plain-64bits/KeccakP-1600-opt64.c
  src/kem/frodokem/external/frodo_macrify_shake_portable.c
  src/kem/sike/CMakeLists.txt
  tests/ds_benchmark.h
Owners: @xvzcf, @dstebila

Update BIKE documentation to reflect only little endian support [skip ci]
  docs/algorithms/kem/bike.md
  docs/algorithms/kem/bike.yml
Owners: @dstebila

Update BIKE documentation to reflect only little endian support [skip ci] (#1105)
  docs/algorithms/kem/bike.md
  docs/algorithms/kem/bike.yml
Owners: @dstebila

Add powerpc64le name as alternative to ppc64le
  CMakeLists.txt
Owners: @xvzcf

Remove parentheses
  CMakeLists.txt
Owners: @xvzcf

currently there is a bug where pytest doesn't work but the individual tests work... looking into it still.
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.fragment
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-yml.patch
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
Owners: @baentsch, @bhess, @xvczf

disable McEliece for OSX shared CCI runs
  .circleci/config.yml
Owners: @baentsch, @xvzcf

Add powerpc64le name as alternative to ppc64le (#1112)
  CMakeLists.txt
Owners: @xvzcf

Fix an issue where run_tests tried to run tests from upstream. Fix by @DStebila
  tests/CMakeLists.txt
Owners: @xvzcf

No longer checking spdx on files copied from upstream
  tests/test_spdx.sh
Owners: @dstebila, @xvzcf

Disable BIKE build on s390x (big endian)
  .CMake/alg_support.cmake
  .travis.yml
Owners: @xvzcf, @dstebila
