Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess

Address stateful-sigs comments in #1650 (#1656)
  CONFIGURE.md
  src/common/common.c
  src/common/common.h
  src/common/sha2/sha2_armv8.c
  src/common/sha2/sha2_c.c
  src/common/sha3/ossl_sha3.c
  src/common/sha3/ossl_sha3x4.c
  src/common/sha3/xkcp_sha3.c
  src/common/sha3/xkcp_sha3x4.c
Owners: @dstebila

Add return status for XMSS lock/unlock functions. (#1712)
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
Owners: @dstebila

Various fixes
  .CMake/alg_support.cmake
  src/common/sha2/sha2_armv8.c
  src/oqsconfig.h.cmake
  src/sig_stfl/lms/external/hss_alloc.c
  src/sig_stfl/lms/external/hss_sign.c
  src/sig_stfl/lms/external/hss_verify_inc.c
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  tests/test_sig_stfl.c
Owners: @dstebila

Update src/CMakeLists.txt
  src/CMakeLists.txt
Owners: @dstebila

Use `abort()` instead of exit to get the trace log. (#1728)
  src/common/common.c
Owners: @dstebila

Update README.md
  README.md
Owners: @dstebila

Satisfy astyle
  src/common/sha2/sha2.c
  src/common/sha2/sha2_impl.c
Owners: @dstebila

add compile_commands.json to .gitignore
  .gitignore
Owners: @dstebila

Fix macOS build error: lld -> llu
  tests/kat_sig_stfl.c
Owners: @dstebila

Bring EVP_DigestUpdate calls in line with main
  src/common/sha2/sha2_ossl.c
Owners: @dstebila

Fix test program linkage for cross-compiling
  tests/CMakeLists.txt
Owners: @dstebila

add compile_commands.json to .gitignore
  .gitignore
Owners: @dstebila

Fix typo from STFL to SFTL
  .CMake/alg_support.cmake
  src/oqsconfig.h.cmake
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmssmt_functions.c
  tests/example_sig_stfl.c
  tests/kat_sig_stfl.c
Owners: @dstebila

Add "EXPERIMENTAL" to keygen / sign enable switch
  .CMake/alg_support.cmake
  .github/workflows/android.yml
  .github/workflows/apple.yml
  .github/workflows/unix.yml
  .github/workflows/windows.yml
  CONFIGURE.md
  src/oqsconfig.h.cmake
Owners: @dstebila

Add CI tests for macos
  .github/workflows/unix.yml
Owners: @dstebila

Satisfy astyle
  tests/test_sig_stfl.c
Owners: @dstebila

Fix typo
  CONFIGURE.md
Owners: @dstebila

Zero-initialize aux_data
  src/sig_stfl/lms/sig_stfl_lms_functions.c
Owners: @dstebila

Fix test program arg parsing
  tests/test_sig_stfl.c
Owners: @dstebila

Valgrind testing for stateful sigs
  tests/test_leaks.py
Owners: @dstebila

Use calloc instead of malloc / memset
  src/sig_stfl/lms/sig_stfl_lms_functions.c
Owners: @dstebila

Stateful sigs: Rename keygen / sign option, add more tests, fix memory errors (#1755)
  .CMake/alg_support.cmake
  .github/workflows/android.yml
  .github/workflows/apple.yml
  .github/workflows/unix.yml
  .github/workflows/windows.yml
  CONFIGURE.md
  src/oqsconfig.h.cmake
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  tests/test_leaks.py
  tests/test_sig_stfl.c
Owners: @dstebila

fix patches to include api.c; fix kem templates
  scripts/copy_from_upstream/patches/libjade-kyber-api.patch
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  scripts/copy_from_upstream/src/oqsconfig.h.cmake/add_alg_enable_defines.libjade
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/kem/kyber/libjade_kyber512_avx2/api.c
  src/kem/kyber/libjade_kyber512_ref/api.c
  src/kem/kyber/libjade_kyber768_avx2/api.c
  src/kem/kyber/libjade_kyber768_ref/api.c
  src/oqsconfig.h.cmake
Owners: @baentsch, @bhess, @jschanck, @dstebila

fix kyber patch
  scripts/copy_from_upstream/patches/libjade-kyber-api.patch
  src/kem/kyber/libjade_kyber512_avx2/api.c
  src/kem/kyber/libjade_kyber512_ref/api.c
  src/kem/kyber/libjade_kyber768_avx2/api.c
  src/kem/kyber/libjade_kyber768_ref/api.c
Owners: @baentsch, @bhess, @jschanck

turn off weekly constant time tests for libjade implementations
  .github/workflows/weekly.yml
Owners: @dstebila

update documentation
  CONFIGURE.md
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @dstebila, @baentsch, @bhess

change upstream to stable libjade release
  docs/algorithms/kem/kyber.yml
  scripts/copy_from_upstream/copy_from_libjade.yml
  src/kem/kyber/libjade_kyber512_avx2/kem.s
  src/kem/kyber/libjade_kyber512_ref/kem.s
  src/kem/kyber/libjade_kyber768_avx2/kem.s
  src/kem/kyber/libjade_kyber768_ref/kem.s
Owners: @dstebila, @baentsch, @bhess, @jschanck

fix kyber documentation
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
Owners: @dstebila

fix kyber documentation
  docs/algorithms/kem/kyber.md
  scripts/update_docs_from_yaml.py
Owners: @dstebila

fix kem template again
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
Owners: @baentsch, @bhess, @jschanck

fix weekly.yml and unix.yml to test libjade code
  .github/workflows/unix.yml
  .github/workflows/weekly.yml
  scripts/copy_from_upstream/copy_from_libjade.yml
Owners: @dstebila, @baentsch, @bhess

rename libjade asm files from *.s to *.S
  scripts/copy_from_upstream/copy_from_upstream.py
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/libjade_kyber512_avx2/kem.S
  src/kem/kyber/libjade_kyber512_ref/kem.S
  src/kem/kyber/libjade_kyber768_avx2/kem.S
  src/kem/kyber/libjade_kyber768_ref/kem.S
Owners: @baentsch, @bhess, @jschanck

end libjade_kyber*/api.c files with newline
  scripts/copy_from_upstream/patches/libjade-kyber-api.patch
  src/kem/kyber/libjade_kyber512_avx2/api.c
  src/kem/kyber/libjade_kyber512_ref/api.c
  src/kem/kyber/libjade_kyber768_avx2/api.c
  src/kem/kyber/libjade_kyber768_ref/api.c
Owners: @baentsch, @bhess, @jschanck

fix build shared lib on msys
  CMakeLists.txt
  tests/CMakeLists.txt
Owners: @dstebila

restrict Windows platform support documentation [skip ci]
  PLATFORMS.md
Owners: @dstebila

fix build shared lib on msys (#1758)
  CMakeLists.txt
  tests/CMakeLists.txt
Owners: @dstebila

restrict Windows platform support documentation [skip ci] (#1762)
  PLATFORMS.md
Owners: @dstebila

fix kem template to prevent duplicate symbols in object files
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt.libjade
  src/kem/kyber/CMakeLists.txt
Owners: @baentsch, @bhess, @jschanck

fix indentation in weekly.yml
  .github/workflows/weekly.yml
Owners: @dstebila

skip testing libjade on macos-14 in CI
  .github/workflows/unix.yml
Owners: @dstebila
