Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess

Fixed format
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/xmss/sig_stfl_xmss_functions.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_functions.c
  tests/example_sig_stfl.c
  tests/kat_sig_stfl.c
Owners: @dstebila

Address unused variables
  src/sig_stfl/sig_stfl.c
Owners: @dstebila

Update GOVERNANCE.md
  GOVERNANCE.md
Owners: @dstebila

Minor wording changes based on suggestions
  GOVERNANCE.md
Owners: @dstebila

explicitly adding lazy consensus as primary governance principle
  GOVERNANCE.md
Owners: @dstebila

Update GOVERNANCE.md
  GOVERNANCE.md
Owners: @dstebila

Some more language about contributors
  GOVERNANCE.md
Owners: @dstebila

Update GOVERNANCE.md [skip ci]
  GOVERNANCE.md
Owners: @dstebila

first cut at governance file [skip ci]
  GOVERNANCE.md
Owners: @dstebila

Edits to governance document
  GOVERNANCE.md
Owners: @dstebila

Update .CMake/alg_support.cmake
  .CMake/alg_support.cmake
Owners: @dstebila

Update CONFIGURE.md
  CONFIGURE.md
Owners: @dstebila

Update example_sig_stfl.c
  tests/example_sig_stfl.c
Owners: @dstebila

Update BIKE documentation to exclude x86; clarify comments in alg_support
  .CMake/alg_support.cmake
  docs/algorithms/kem/bike.yml
Owners: @dstebila

Update Markdown
  docs/algorithms/kem/bike.md
Owners: @dstebila

find_package(Threads) regardless of BUILD_ONLY_LIB
  .CMake/compiler_opts.cmake
Owners: @dstebila

New macro OQS_USE_PTHREADS conditioned on embedded
  .CMake/compiler_opts.cmake
  src/common/CMakeLists.txt
  src/common/sha3/xkcp_sha3.c
  src/common/sha3/xkcp_sha3x4.c
  src/oqsconfig.h.cmake
  tests/CMakeLists.txt
  tests/test_kem.c
  tests/test_sig.c
Owners: @dstebila

Fix memory sanitizer compile flag
  .CMake/compiler_opts.cmake
Owners: @dstebila

Fix build error. Allow some key generation tests to run as negative tests when key and sig gen is off
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
  tests/test_sig_stfl.c
Owners: @dstebila

Fix format
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
  tests/test_sig_stfl.c
Owners: @dstebila

Fix build error
  tests/test_sig_stfl.c
Owners: @dstebila

Fix build error
  tests/test_sig_stfl.c
Owners: @dstebila

Disable Stateful Signatures in the build by default (#1676)
  .CMake/alg_support.cmake
  CONFIGURE.md
  src/oqsconfig.h.cmake
  src/sig_stfl/lms/external/hss_keygen.c
  src/sig_stfl/lms/external/hss_sign_inc.c
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/xmss/external/xmss.c
  src/sig_stfl/xmss/sig_stfl_xmss_functions.c
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_functions.c
  tests/example_sig_stfl.c
  tests/kat_sig_stfl.c
  tests/test_sig_stfl.c
Owners: @dstebila

Fix memory sanitizer compile flag (#1680)
  .CMake/compiler_opts.cmake
Owners: @dstebila

Test against all 100 KAT values (#1560)
  .circleci/config.yml
  .github/workflows/linux.yml
  .github/workflows/weekly.yml
  .github/workflows/windows.yml
  scripts/copy_from_upstream/copy_from_upstream.py
  src/common/rand/rand_nist.c
  src/common/rand/rand_nist.h
  tests/CMakeLists.txt
  tests/KATs/kem/kats.json
  tests/KATs/sig/kats.json
  tests/kat_kem.c
  tests/kat_sig.c
  tests/test_helpers.c
  tests/test_helpers.h
  tests/test_kat_all.py
Owners: @baentsch, @dstebila, @bhess

Update BIKE documentation to exclude x86 (#1679)
  .CMake/alg_support.cmake
  docs/algorithms/kem/bike.md
  docs/algorithms/kem/bike.yml
Owners: @dstebila

find_package(Threads) regardless of BUILD_ONLY_LIB (#1653)
  .CMake/compiler_opts.cmake
  src/common/CMakeLists.txt
  src/common/sha3/xkcp_sha3.c
  src/common/sha3/xkcp_sha3x4.c
  src/oqsconfig.h.cmake
  tests/CMakeLists.txt
  tests/test_kem.c
  tests/test_sig.c
Owners: @dstebila

set_available_cpu_extensions with pthread_once
  src/common/common.c
Owners: @dstebila

Modify copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_libjade.yml
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/patches/libjade-kyber-api.patch
  scripts/copy_from_upstream/patches/libjade-kyber-meta.patch
  src/common/libjade_shims/libjade_randombytes.c
  src/common/libjade_shims/libjade_randombytes.h
Owners: @baentsch, @bhess, @dstebila

set_available_cpu_extensions with pthread_once (#1671)
  src/common/common.c
Owners: @dstebila

WIP: automatically trigger oqs-provider release-test
  .github/workflows/release-test.yml
Owners: @dstebila

Revert "TO BE REVERTED: run release tests on PR for this branch"
  .github/workflows/release-test.yml
Owners: @dstebila

TO BE REVERTED: run tests on this PR
  .github/workflows/release-test.yml
Owners: @dstebila

Clean up documentation and configure workflow to run on PR only
  .github/workflows/release-test.yml
Owners: @dstebila

TO BE REVERTED: run release tests on PR for this branch
  .github/workflows/release-test.yml
Owners: @dstebila

Revert "TO BE REVERTED: only run release-test CI on push"
  .github/workflows/android.yml
  .github/workflows/apple.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  .github/workflows/zephyr.yml
Owners: @dstebila

Try running release-test on GH Actions to see feasibility
  .github/workflows/release-test.yml
Owners: @dstebila

Run everything
  .github/workflows/release-test.yml
Owners: @dstebila

Base run on head branch name instead of base branch name
  .github/workflows/release-test.yml
Owners: @dstebila

Port release-test script over to workflow
  .github/workflows/release-test.yml
Owners: @dstebila
