Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess

Fix shell expansion in CircleCI config
  .circleci/config.yml
Owners: @baentsch

Adjust number of KATs for McEliece
  tests/kat_kem.c
Owners: @dstebila

Satisfy astyle
  src/common/rand/rand_nist.c
  tests/kat_kem.c
  tests/kat_sig.c
Owners: @dstebila

Add weekly CircleCI workflow for NIST KATs
  .circleci/config.yml
Owners: @baentsch

Remove newlines to satisfy copy_from_upstream idempotence
  tests/KATs/kem/kats.json
  tests/KATs/sig/kats.json
Owners: @dstebila

Only run neon job for testing purposes
  .circleci/config.yml
Owners: @baentsch

Clean up bugs in kat_kem
  tests/kat_kem.c
Owners: @dstebila

Reorganize to use get/set paradigm
  src/common/rand/rand_nist.c
  tests/kat_sig.c
  tests/test_helpers.c
  tests/test_helpers.h
Owners: @dstebila

Satisfy XCode
  src/common/rand/rand_nist.c
Owners: @dstebila

All KATs passing with new PRNG abstraction
  src/common/rand/rand_nist.c
  src/common/rand/rand_nist.h
  tests/CMakeLists.txt
  tests/kat_kem.c
  tests/kat_sig.c
  tests/test_helpers.c
  tests/test_helpers.h
Owners: @dstebila

Modify copy_from_upstream to work with the new KAT file format
  scripts/copy_from_upstream/copy_from_upstream.py
  tests/KATs/kem/kats.json
  tests/KATs/sig/kats.json
Owners: @baentsch, @bhess, @dstebila

Run full KATs on this branch for testing purposes
  .circleci/config.yml
Owners: @baentsch

See what macros are defined on the CircleCI ARM machine
  .circleci/config.yml
  macros.c
Owners: @baentsch, @dstebila

Skip test_kat_all in non-scheduled workflows
  .circleci/config.yml
Owners: @baentsch

Satisfy astyle
  tests/kat_kem.c
Owners: @dstebila

More KATs
  tests/KATs/kem/kats.json
  tests/KATs/sig/kats.json
Owners: @dstebila

Try running scheduled tests on sw-full-kat branch
  .circleci/config.yml
Owners: @baentsch

Run on GitHub actions
  .circleci/config.yml
  .github/workflows/weekly.yml
  macros.c
Owners: @baentsch, @dstebila

Update documentation for save/restore state
  src/common/rand/rand_nist.h
Owners: @dstebila

Pull new HQC implementation from upstream (#1585)
  tests/KATs/kem/kats.json
  tests/kat_kem.c
Owners: @dstebila

Add save and restore state for HQC PRNG
  tests/kat_kem.c
Owners: @dstebila

Don't run all KATs on ninja run_tests
  tests/CMakeLists.txt
Owners: @dstebila

fixup! Add weekly CircleCI workflow for NIST KATs
  .circleci/config.yml
Owners: @baentsch

Address feedback
  .circleci/config.yml
Owners: @baentsch

Clean up after rebase
  src/common/rand/rand_nist.c
  src/common/rand/rand_nist.h
  tests/CMakeLists.txt
  tests/test_helpers.c
  tests/test_helpers.h
Owners: @dstebila

Satisfy astyle
  tests/test_helpers.c
Owners: @dstebila

Add const to cast
  src/common/rand/rand_nist.c
Owners: @dstebila

Remove OQS_API from NIST KAT init function
  src/common/rand/rand_nist.c
Owners: @dstebila

fixup! Add const to cast
  src/common/rand/rand_nist.c
Owners: @dstebila

Unused parameter workaround
  tests/test_helpers.c
Owners: @dstebila

Fix int / size_t comparison
  tests/kat_kem.c
  tests/kat_sig.c
  tests/test_helpers.h
Owners: @dstebila

Remove reference to old BIKE variants from CONFIGURE.md [skip ci]
  CONFIGURE.md
Owners: @dstebila

Update GOVERNANCE.md [skip ci]
  GOVERNANCE.md
Owners: @dstebila

Minor wording changes based on suggestions
  GOVERNANCE.md
Owners: @dstebila

Update GOVERNANCE.md
  GOVERNANCE.md
Owners: @dstebila

Update GOVERNANCE.md
  GOVERNANCE.md
Owners: @dstebila

Update GOVERNANCE.md [skip ci]
  GOVERNANCE.md
Owners: @dstebila

Some more language about contributors
  GOVERNANCE.md
Owners: @dstebila

Minor wording changes based on suggestions
  GOVERNANCE.md
Owners: @dstebila

Edits to governance document
  GOVERNANCE.md
Owners: @dstebila
