Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

Trim the space
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

Remove mutex status bool
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

Remove use of mutex status bool. Use recursive mutex” src/sig_stfl/lms/sig_stfl_lms.c src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c tests/test_sig_stfl.c
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
  tests/test_sig_stfl.c
Owners: @dstebila

run copy_from_upstream with -k [skip ci]
  docs/algorithms/sig/sphincs.md
  docs/algorithms/sig/sphincs.yml
Owners: @dstebila

remove apparently extraneous rmtree statement to ensure documentation patches survive
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

move cleanup code to the end
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

Run copy_from_upstream and test (#1589)
  .github/workflows/linux.yml
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/sig/falcon.md
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @dstebila, @baentsch, @bhess

Update Sphincs+ PQClean patch
  scripts/copy_from_upstream/patches/pqclean-sphincs.patch
Owners: @baentsch, @bhess

Update HQC version, OQS version, and SOVERSION
  CMakeLists.txt
  docs/algorithms/kem/hqc.md
  docs/algorithms/kem/hqc.yml
  src/CMakeLists.txt
Owners: @dstebila

Satisfy astyle
  src/common/rand/rand_hqc.c
  tests/kat_kem.c
Owners: @dstebila

Don't apply PQClean Dilithium and Kyber patches
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @dstebila, @baentsch, @bhess

Run HQC KATs with custom PRNG
  README.md
  src/common/CMakeLists.txt
  src/common/rand/rand.c
  src/common/rand/rand.h
  src/common/rand/rand_hqc.c
  tests/kat_kem.c
Owners: @dstebila

Fix CI build errors
  src/common/rand/rand_hqc.c
Owners: @dstebila

Add licence for common code
  README.md
  src/common/rand/rand_hqc.c
  tests/kat_kem.c
Owners: @dstebila

Move HQC PRNG into test file
  README.md
  src/common/CMakeLists.txt
  src/common/rand/rand.c
  src/common/rand/rand.h
  src/common/rand/rand_hqc.c
  tests/kat_kem.c
Owners: @dstebila

Satisfy astyle
  tests/kat_kem.c
Owners: @dstebila

rename lock function
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_functions.c
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_functions.c
Owners: @dstebila

simplify the check with 0
  tests/test_sig_stfl.c
Owners: @dstebila

Fix grammar
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

add `const` back to serialize. Reorder parameters to follow liboqs convention
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_functions.c
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_functions.c
  tests/test_sig_stfl.c
Owners: @dstebila

Call Keccak_(X4_)Dispatch with pthread_once (#1549)
  src/common/CMakeLists.txt
  src/common/sha3/xkcp_sha3.c
  src/common/sha3/xkcp_sha3x4.c
  tests/CMakeLists.txt
Owners: @dstebila

use inner_serialize to avoid recursive lock
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_functions.c
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_functions.c
  tests/test_sig_stfl.c
Owners: @dstebila

add return code in case pthread API has errors
  tests/test_sig_stfl.c
Owners: @dstebila

fix scan_build NULL error
  tests/test_sig_stfl.c
Owners: @dstebila

Fix SHA3 link error
  tests/CMakeLists.txt
Owners: @dstebila

Reset HQC issues/passes
  tests/constant_time/kem/issues.json
  tests/constant_time/kem/passes.json
Owners: @dstebila

fixup! Fix SHA3 link error
  tests/CMakeLists.txt
Owners: @dstebila

minor updates
  CONTRIBUTORS
  README.md
Owners: @dstebila

Update README.md [skip ci]
  README.md
Owners: @dstebila

minor updates (#1600)
  CONTRIBUTORS
  README.md
Owners: @dstebila

fix kat_kem linkage
  src/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @dstebila

remove armhf CI support
  .github/workflows/linux.yml
Owners: @dstebila

add uninstall support
  .CMake/cmake_uninstall.cmake.in
  CMakeLists.txt
  README.md
Owners: @dstebila

Revert "remove armhf CI support"
  .github/workflows/linux.yml
Owners: @dstebila

fix kat_kem linkage to make HQC PR pass CI (#1601)
  src/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @dstebila

add uninstall support (#1604)
  .CMake/cmake_uninstall.cmake.in
  CMakeLists.txt
  README.md
Owners: @dstebila

Enforce idx from unsigned int to uint32_t.
  src/sig_stfl/xmss/external/xmss_core_fast.c
Owners: @dstebila

Enforce idx from unsigned int to uint32_t. (#1611)
  src/sig_stfl/xmss/external/xmss_core_fast.c
Owners: @dstebila

Enhanced with new SHA2 API that allows arbitary length updates
  src/common/sha2/sha2.c
  src/common/sha2/sha2.h
  src/common/sha2/sha2_armv8.c
  src/common/sha2/sha2_c.c
  src/common/sha2/sha2_local.h
  src/common/sha2/sha2_ossl.c
  tests/test_hash.c
Owners: @dstebila

Fix style
  src/common/sha2/sha2_armv8.c
  src/common/sha2/sha2_c.c
Owners: @dstebila

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess
