Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @xvzcf, @baentsch, @bhess, @xvczf, @crockeea, @jschanck, @christianpaquin

Added reporting for implementations that are in upstream but aren't yet integrated into liboqs
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess, @xvczf

Fixed a bug with ignoring implementations in default upstream
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess, @xvczf

Adding updated ymls and md files for docs
  docs/algorithms/kem/bike.md
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/kem/frodokem.md
  docs/algorithms/kem/hqc.md
  docs/algorithms/kem/hqc.yml
  docs/algorithms/kem/ntru.md
  docs/algorithms/kem/ntru.yml
  docs/algorithms/kem/ntruprime.md
  docs/algorithms/kem/ntruprime.yml
  docs/algorithms/kem/saber.md
  docs/algorithms/kem/saber.yml
  docs/algorithms/kem/sike.md
  docs/algorithms/sig/falcon.md
  docs/algorithms/sig/rainbow.md
  docs/algorithms/sig/sphincs.md
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/oqsconfig.h.cmake
Owners: @dstebila, @jschanck, @bhess, @xvzcf

Fixed some whitespace style issues with kyber.c files.
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
Owners: @jschanck, @bhess

copy_from_upstream.py now also calls update_docs_from_yaml.py
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess, @xvczf

Fixed a formatting issue on key_scheme.c template that caused style issues
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
Owners: @baentsch, @bhess, @xvczf

fixed an issue where arch specific implementations were never added when 'ignore' wasn't specified
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess, @xvczf

Adding multiple upstream support to doc generation (#1123)
  docs/algorithms/kem/bike.md
  docs/algorithms/kem/bike.yml
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/kem/frodokem.md
  docs/algorithms/kem/frodokem.yml
  docs/algorithms/kem/hqc.md
  docs/algorithms/kem/hqc.yml
  docs/algorithms/kem/kyber.yml
  docs/algorithms/kem/ntru.md
  docs/algorithms/kem/ntru.yml
  docs/algorithms/kem/ntruprime.md
  docs/algorithms/kem/ntruprime.yml
  docs/algorithms/kem/saber.md
  docs/algorithms/kem/saber.yml
  docs/algorithms/kem/sike.md
  docs/algorithms/kem/sike.yml
  docs/algorithms/sig/falcon.md
  docs/algorithms/sig/rainbow.md
  docs/algorithms/sig/sphincs.md
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  scripts/copy_from_upstream/update_upstream_alg_docs.py
  scripts/update_docs_from_yaml.py
  src/oqsconfig.h.cmake
Owners: @dstebila, @baentsch, @bhess, @xvczf, @xvzcf

adding NTRU HRSS 1373
  .CMake/alg_support.cmake
  README.md
  docs/algorithms/kem/ntru.md
  docs/algorithms/kem/ntru.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/kem/kem.c
  src/kem/kem.h
  src/kem/ntru/CMakeLists.txt
  src/kem/ntru/kem_ntru.h
  src/kem/ntru/kem_ntru_hrss1373.c
  src/kem/ntru/pqclean_ntruhrss1373_clean/LICENSE
  src/kem/ntru/pqclean_ntruhrss1373_clean/api.h
  src/kem/ntru/pqclean_ntruhrss1373_clean/cmov.c
  src/kem/ntru/pqclean_ntruhrss1373_clean/cmov.h
  src/kem/ntru/pqclean_ntruhrss1373_clean/kem.c
  src/kem/ntru/pqclean_ntruhrss1373_clean/owcpa.c
  src/kem/ntru/pqclean_ntruhrss1373_clean/owcpa.h
  src/kem/ntru/pqclean_ntruhrss1373_clean/pack3.c
  src/kem/ntru/pqclean_ntruhrss1373_clean/packq.c
  src/kem/ntru/pqclean_ntruhrss1373_clean/params.h
  src/kem/ntru/pqclean_ntruhrss1373_clean/poly.c
  src/kem/ntru/pqclean_ntruhrss1373_clean/poly.h
  src/kem/ntru/pqclean_ntruhrss1373_clean/poly_lift.c
  src/kem/ntru/pqclean_ntruhrss1373_clean/poly_mod.c
  src/kem/ntru/pqclean_ntruhrss1373_clean/poly_r2_inv.c
  src/kem/ntru/pqclean_ntruhrss1373_clean/poly_rq_mul.c
  src/kem/ntru/pqclean_ntruhrss1373_clean/poly_s3_inv.c
  src/kem/ntru/pqclean_ntruhrss1373_clean/sample.c
  src/kem/ntru/pqclean_ntruhrss1373_clean/sample.h
  src/kem/ntru/pqclean_ntruhrss1373_clean/sample_iid.c
  src/oqsconfig.h.cmake
  tests/KATs/kem/kats.json
Owners: @xvzcf, @dstebila, @baentsch, @bhess, @xvczf, @jschanck

Set new version of Kyber ARM to use from PQClean
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-yml.patch
Owners: @baentsch, @bhess, @xvczf

Result of running copy_from_upstream
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/kem/hqc.md
  docs/algorithms/kem/hqc.yml
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/kem/ntru.md
  docs/algorithms/kem/ntru.yml
  docs/algorithms/kem/ntruprime.md
  docs/algorithms/kem/ntruprime.yml
  docs/algorithms/kem/saber.md
  docs/algorithms/kem/saber.yml
  docs/algorithms/sig/falcon.md
  docs/algorithms/sig/falcon.yml
  docs/algorithms/sig/rainbow.md
  docs/algorithms/sig/rainbow.yml
  docs/algorithms/sig/sphincs.md
  docs/algorithms/sig/sphincs.yml
  src/kem/kyber/pqclean_kyber1024_aarch64/kem.c
  src/kem/kyber/pqclean_kyber1024_aarch64/poly.c
  src/kem/kyber/pqclean_kyber512_aarch64/kem.c
  src/kem/kyber/pqclean_kyber512_aarch64/poly.c
  src/kem/kyber/pqclean_kyber768_aarch64/kem.c
  src/kem/kyber/pqclean_kyber768_aarch64/poly.c
Owners: @dstebila, @jschanck, @bhess

Removed the need for pqclean aarch64 patches
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-yml.patch
Owners: @baentsch, @bhess, @xvczf

Updating doc generation to be a little more careful about when required flags is an empty list
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @baentsch, @bhess, @xvczf

Fix gcc 11 error for Kyber on arm64 (#1127)
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/kem/hqc.md
  docs/algorithms/kem/hqc.yml
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/kem/ntru.md
  docs/algorithms/kem/ntru.yml
  docs/algorithms/kem/ntruprime.md
  docs/algorithms/kem/ntruprime.yml
  docs/algorithms/kem/saber.md
  docs/algorithms/kem/saber.yml
  docs/algorithms/sig/falcon.md
  docs/algorithms/sig/falcon.yml
  docs/algorithms/sig/rainbow.md
  docs/algorithms/sig/rainbow.yml
  docs/algorithms/sig/sphincs.md
  docs/algorithms/sig/sphincs.yml
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-yml.patch
  scripts/copy_from_upstream/update_upstream_alg_docs.py
  src/kem/kyber/pqclean_kyber1024_aarch64/kem.c
  src/kem/kyber/pqclean_kyber1024_aarch64/poly.c
  src/kem/kyber/pqclean_kyber512_aarch64/kem.c
  src/kem/kyber/pqclean_kyber512_aarch64/poly.c
  src/kem/kyber/pqclean_kyber768_aarch64/kem.c
  src/kem/kyber/pqclean_kyber768_aarch64/poly.c
Owners: @dstebila, @baentsch, @bhess, @xvczf, @jschanck

LF everywhere
  appveyor.yml
  src/kem/sike/external/P751/AMD64/fp_x64_asm.S
Owners: @dstebila, @xvzcf, @christianpaquin

skip more ClassicMcEliece weekly CI constant time tests [skip ci]
  .circleci/config.yml
Owners: @baentsch, @xvzcf

LF everywhere (#1133)
  appveyor.yml
  src/kem/sike/external/P751/AMD64/fp_x64_asm.S
Owners: @dstebila, @xvzcf, @christianpaquin

skip more ClassicMcEliece weekly CI constant time tests [skip ci] (#1134)
  .circleci/config.yml
Owners: @baentsch, @xvzcf

more code style checks
  tests/run_astyle.sh
Owners: @dstebila, @xvzcf

doing all style checks in one run
  tests/run_astyle.sh
Owners: @dstebila, @xvzcf

more code style checks (#1135)
  tests/run_astyle.sh
Owners: @dstebila, @xvzcf

Added supported-platforms compile guards in the SIKE CMakeLists
  src/kem/sike/CMakeLists.txt
Owners: @xvzcf

Disable SIKE globally on unsupported platforms
  CMakeLists.txt
Owners: @xvzcf

Updated to latest commit of pqclean which fixes saber aarch64.
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/kem/hqc.md
  docs/algorithms/kem/hqc.yml
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/kem/ntru.md
  docs/algorithms/kem/ntru.yml
  docs/algorithms/kem/ntruprime.md
  docs/algorithms/kem/ntruprime.yml
  docs/algorithms/kem/saber.md
  docs/algorithms/kem/saber.yml
  docs/algorithms/sig/falcon.md
  docs/algorithms/sig/falcon.yml
  docs/algorithms/sig/rainbow.md
  docs/algorithms/sig/rainbow.yml
  docs/algorithms/sig/sphincs.md
  docs/algorithms/sig/sphincs.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/kem/saber/pqclean_firesaber_aarch64/__asm_mul.S
  src/kem/saber/pqclean_lightsaber_aarch64/__asm_mul.S
  src/kem/saber/pqclean_saber_aarch64/__asm_mul.S
Owners: @dstebila, @baentsch, @bhess, @xvczf, @xvzcf

Updated saber docs as per @dstebila's comment
  README.md
  docs/algorithms/kem/saber.md
  docs/algorithms/kem/saber.yml
Owners: @dstebila

Added supported-platforms compile guards in the SIKE CMakeLists (#1136)
  CMakeLists.txt
  src/kem/sike/CMakeLists.txt
Owners: @xvzcf

Removed duplicate lines from README.md
  README.md
Owners: @dstebila

Fixed local issue for duplicate lines in README.md. This is the output of the update docs script after fixing my local issue
  README.md
Owners: @dstebila

add downlevel compiler warning
  .CMake/alg_support.cmake
Owners: @xvzcf

correct warning message
  .CMake/alg_support.cmake
Owners: @xvzcf

warning added to code generator script
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.fragment
Owners: @baentsch, @bhess, @xvczf

implement PR feedback
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.fragment
Owners: @xvzcf, @baentsch, @bhess, @xvczf

enable ARM64 optimizations when using MINIMAL_BUILD option
  .CMake/alg_support.cmake
Owners: @xvzcf

add downlevel compiler warning (#1137)
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.fragment
Owners: @xvzcf, @baentsch, @bhess, @xvczf

enable ARM64 optimizations when using MINIMAL_BUILD option (#1139)
  .CMake/alg_support.cmake
Owners: @xvzcf

Add CMake option and compiler flag for using ARM PMU in speed
  CMakeLists.txt
  src/oqsconfig.h.cmake
Owners: @xvzcf

Enabling use of ARM PMU for benchmarking when compiler flag is enabled
  tests/ds_benchmark.h
  tests/speed_kem.c
  tests/speed_sig.c
  tests/test_aes.c
Owners: @dstebila, @xvzcf

Adding documentation in code on how to enable PMU
  tests/ds_benchmark.h
Owners: @dstebila, @xvzcf

Enabling use of ARM PMU for benchmarking when compiler flag is enabled (#1141)
  tests/ds_benchmark.h
  tests/speed_kem.c
  tests/speed_sig.c
  tests/test_aes.c
Owners: @dstebila, @xvzcf

added NIST license clarification
  src/common/pqclean_shims/nistseedexpander.c
  src/common/pqclean_shims/nistseedexpander.h
  src/common/rand/rand_nist.c
Owners: @dstebila

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila @xvzcf
/.circleci @baentsch @xvzcf
/.CMake @xvzcf
/docs @dstebila
/scripts @xvzcf
/scripts/copy_from_upstream @baentsch @bhess @xvczf
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/kem/ntru @jschanck
/src/kem/sike @christianpaquin
/src/oqsconfig.h.cmake @xvzcf
/src/sig/dilithium @bhess
/src/sig/picnic @christianpaquin
/CONTRIBUTORS @dstebila
/LICENSE.txt @dstebila
/README.md @dstebila
/RELEASE.md @dstebila
CMakeLists.txt @xvzcf
