Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @xvzcf, @baentsch, @bhess, @xvczf, @crockeea, @jschanck, @christianpaquin

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila @xvzcf
/.circleci @baentsch @xvzcf
/.CMake @xvzcf
/docs @dstebila
/scripts @xvzcf
/scripts/copy_from_upstream @baentsch @bhess @xvczf
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/kem/ntru @jschanck
/src/kem/sike @christianpaquin
/src/oqsconfig.h.cmake @xvzcf
/src/sig/dilithium @bhess
/src/sig/picnic @christianpaquin
/CONTRIBUTORS @dstebila
/LICENSE.txt @dstebila
/README.md @dstebila
/RELEASE.md @dstebila
CMakeLists.txt @xvzcf

Fix style
  src/common/rand/rand.c
Owners: @dstebila

Use `SecRandomCopyBytes` for system randomness on iOS (to allow building on iOS) (#1219)
  src/CMakeLists.txt
  src/common/rand/rand.c
Owners: @xvzcf, @dstebila

workaround for picnic under msys2
  appveyor_build.bat
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/rainbow.md
  docs/algorithms/sig/sphincs.md
Owners: @dstebila, @xvzcf

workaround for picnic under msys2 (#1220)
  appveyor_build.bat
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/rainbow.md
  docs/algorithms/sig/sphincs.md
Owners: @dstebila, @xvzcf

Added FreeBSD cpu feature detection to common/common.c
  src/common/common.c
Owners: @dstebila

added FreeBSD support to SIKE's CmakeLists.txt
  src/kem/sike/CMakeLists.txt
Owners: @xvzcf

Added in comment to common.c to keep consistent with other platforms
  src/common/common.c
Owners: @dstebila

Updated common/common.c to use __FreeBSD__ instead of __FREEBSD__
  src/common/common.c
Owners: @dstebila

Added FreeBSD cpu feature detection to common/common.c
  src/common/common.c
Owners: @dstebila

Updated common/common.c to use __FreeBSD__ instead of __FREEBSD__
  src/common/common.c
Owners: @dstebila

added FreeBSD support to SIKE's CmakeLists.txt
  src/kem/sike/CMakeLists.txt
Owners: @xvzcf

Added in comment to common.c to keep consistent with other platforms
  src/common/common.c
Owners: @dstebila

Updated documentation to say FreeBSD is support on aarch64
  docs/algorithms/kem/sike.md
  docs/algorithms/kem/sike.yml
Owners: @dstebila

Updated docs to indicated that SIKE is supported on FreeBSD on aarch64
  docs/algorithms/kem/sike.md
  docs/algorithms/kem/sike.yml
Owners: @dstebila

Adding aarch64 CPU feature detection for FreeBSD (#1210)
  docs/algorithms/kem/sike.md
  docs/algorithms/kem/sike.yml
  src/common/common.c
  src/kem/sike/CMakeLists.txt
Owners: @dstebila, @xvzcf

Update CMakeLists.txt
  CMakeLists.txt
Owners: @xvzcf

Added typecasts to ds benchmark to make clang happy
  tests/ds_benchmark.h
Owners: @dstebila, @xvzcf

Added typecasts to ds benchmark to make clang happy (#1225)
  tests/ds_benchmark.h
Owners: @dstebila, @xvzcf

upgrade script to support doxygen 1.9.3
  CMakeLists.txt
  README.md
  docs/.Doxyfile
  scripts/doxyfy.py
  scripts/run_doxygen.sh
Owners: @xvzcf, @dstebila

update CI script for doc generation
  .circleci/config.yml
Owners: @baentsch, @xvzcf

add license identifiers
  scripts/doxyfy.py
  scripts/run_doxygen.sh
Owners: @xvzcf

move Wiki documentation to source code
  CONFIGURE.md
  README.md
Owners: @dstebila, @xvzcf

adding CONFIGURE.md to doxyconfig
  docs/.Doxyfile
Owners: @dstebila

Newline at the end of the file (to avoid error from -Wnewline-eof)
  src/kem/sike/external/P434/AMD64/fp_x64_asm.S
  src/kem/sike/external/P434/P434.c
  src/kem/sike/external/P434/P434_api.h
  src/kem/sike/external/P434/P434_compressed_api.h
  src/kem/sike/external/P434/P434_compressed_dlog_tables.c
  src/kem/sike/external/P434/generic/fp_generic.c
  src/kem/sike/external/P503/AMD64/fp_x64.c
  src/kem/sike/external/P503/AMD64/fp_x64_asm.S
  src/kem/sike/external/P503/P503.c
  src/kem/sike/external/P503/P503_api.h
  src/kem/sike/external/P503/P503_compressed_dlog_tables.c
  src/kem/sike/external/P503/generic/fp_generic.c
  src/kem/sike/external/P610/AMD64/fp_x64.c
  src/kem/sike/external/P610/AMD64/fp_x64_asm.S
  src/kem/sike/external/P610/P610.c
  src/kem/sike/external/P610/P610_api.h
  src/kem/sike/external/P610/P610_compressed_dlog_tables.c
  src/kem/sike/external/P610/generic/fp_generic.c
  src/kem/sike/external/P751/AMD64/fp_x64.c
  src/kem/sike/external/P751/AMD64/fp_x64_asm.S
  src/kem/sike/external/P751/P751.c
  src/kem/sike/external/P751/P751_api.h
  src/kem/sike/external/P751/P751_compressed.c
  src/kem/sike/external/P751/P751_compressed_dlog_tables.c
  src/kem/sike/external/P751/generic/fp_generic.c
  src/kem/sike/external/compression/dlog.c
  src/kem/sike/external/compression/pairing.c
  src/kem/sike/external/compression/sike_compressed.c
  src/kem/sike/external/ec_isogeny.c
  src/kem/sike/external/fpx.c
  src/kem/sike/external/sidh.c
  src/kem/sike/external/sike.c
Owners: @christianpaquin

Wrap logical not check in parenthesis, to avoid error from -Wlogical-not-parentheses
  src/kem/sike/external/compression/sidh_compressed.c
  src/kem/sike/external/compression/sike_compressed.c
  src/kem/sike/external/sike.c
Owners: @christianpaquin

Added empty functions to avoid unused errors on macOS
  src/kem/sike/external/P434/AMD64/fp_x64.c
  src/kem/sike/external/P503/AMD64/fp_x64.c
  src/kem/sike/external/P610/AMD64/fp_x64.c
Owners: @christianpaquin

Adding extra empty line at the end of assembly files to avoid newline-eof errors
  src/kem/sike/external/P434/AMD64/fp_x64_asm.S
  src/kem/sike/external/P503/AMD64/fp_x64_asm.S
  src/kem/sike/external/P610/AMD64/fp_x64_asm.S
  src/kem/sike/external/P751/AMD64/fp_x64_asm.S
Owners: @christianpaquin

Fixing missing newlines at the end of the .S files
  src/kem/sike/external/P434/AMD64/fp_x64_asm.S
  src/kem/sike/external/P503/AMD64/fp_x64_asm.S
  src/kem/sike/external/P610/AMD64/fp_x64_asm.S
  src/kem/sike/external/P751/AMD64/fp_x64_asm.S
Owners: @christianpaquin

doxygen update (#1228)
  .circleci/config.yml
  CMakeLists.txt
  README.md
  docs/.Doxyfile
  scripts/doxyfy.py
  scripts/run_doxygen.sh
Owners: @baentsch, @xvzcf, @dstebila

Initialized some sike values
  src/kem/sike/external/sidh.c
Owners: @christianpaquin

Initialized a sike value
  src/kem/sike/external/fpx.c
Owners: @christianpaquin

Link documentation and code (#1229)
  CONFIGURE.md
  README.md
  docs/.Doxyfile
Owners: @dstebila, @xvzcf

improved aes_c
  src/common/aes/aes_c.c
Owners: @dstebila

API update
  src/common/aes/aes.c
  src/common/aes/aes.h
  src/common/aes/aes256_ni.c
  src/common/aes/aes_c.c
  src/common/aes/aes_local.h
  src/common/aes/aes_ossl.c
  src/common/pqclean_shims/aes.h
  src/kem/kyber/pqcrystals-kyber_kyber1024-90s_ref/symmetric-aes.c
  src/kem/kyber/pqcrystals-kyber_kyber512-90s_ref/symmetric-aes.c
  src/kem/kyber/pqcrystals-kyber_kyber768-90s_ref/symmetric-aes.c
  tests/speed_common.c
Owners: @dstebila, @jschanck, @bhess, @xvzcf

AES context releases, turn on OpenSSL AES on x86_64 dist & AESNI.
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/patches/pqcrystals-dilithium-avx2-shake-aes.patch
  src/common/aes/aes_ossl.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium2_avx2/symmetric.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_avx2/symmetric.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium3_avx2/symmetric.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium3aes_avx2/symmetric.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium5_avx2/symmetric.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium5aes_avx2/symmetric.h
Owners: @xvzcf, @baentsch, @bhess, @xvczf, @dstebila

Kyber-90s (ref) using OQS AES. Dilithium-AES (ref) using OQS AES. Adds missing API and shims for AES-CTR (init, set nonce, squeeze, prf).
  src/common/aes/aes.c
  src/common/aes/aes.h
  src/common/aes/aes256_ni.c
  src/common/aes/aes_c.c
  src/common/aes/aes_local.h
  src/common/aes/aes_ossl.c
  src/common/pqclean_shims/aes.h
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/pqcrystals-kyber_common_ref/aes256ctr.c
  src/kem/kyber/pqcrystals-kyber_common_ref/aes256ctr.h
  src/kem/kyber/pqcrystals-kyber_kyber1024-90s_ref/aes256ctr.h
  src/kem/kyber/pqcrystals-kyber_kyber1024-90s_ref/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber1024-90s_ref/symmetric-aes.c
  src/kem/kyber/pqcrystals-kyber_kyber1024-90s_ref/symmetric.h
  src/kem/kyber/pqcrystals-kyber_kyber512-90s_ref/aes256ctr.h
  src/kem/kyber/pqcrystals-kyber_kyber512-90s_ref/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber512-90s_ref/symmetric-aes.c
  src/kem/kyber/pqcrystals-kyber_kyber512-90s_ref/symmetric.h
  src/kem/kyber/pqcrystals-kyber_kyber768-90s_ref/aes256ctr.h
  src/kem/kyber/pqcrystals-kyber_kyber768-90s_ref/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber768-90s_ref/symmetric-aes.c
  src/kem/kyber/pqcrystals-kyber_kyber768-90s_ref/symmetric.h
  src/sig/dilithium/CMakeLists.txt
  src/sig/dilithium/pqcrystals-dilithium_common_ref/aes256ctr.c
  src/sig/dilithium/pqcrystals-dilithium_common_ref/aes256ctr.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_ref/aes256ctr.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_ref/symmetric.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium3aes_ref/aes256ctr.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium3aes_ref/symmetric.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium5aes_ref/aes256ctr.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium5aes_ref/symmetric.h
Owners: @dstebila, @xvzcf, @jschanck, @bhess

Updates for AES armv8.
  src/common/aes/aes.c
  src/common/aes/aes.h
  src/common/aes/aes256_armv8.c
  src/common/aes/aes256_ni.c
  src/common/aes/aes_c.c
  src/common/aes/aes_local.h
  src/common/aes/aes_ossl.c
  src/kem/kyber/pqcrystals-kyber_kyber1024-90s_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber512-90s_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber768-90s_avx2/indcpa.c
  tests/speed_common.c
Owners: @dstebila, @jschanck, @bhess, @xvzcf

patches
  scripts/copy_from_upstream/patches/pqcrystals-dilithium-ref-shake-aes.patch
  scripts/copy_from_upstream/patches/pqcrystals-dilithium-yml.patch
  scripts/copy_from_upstream/patches/pqcrystals-kyber-ref-shake-aes.patch
  scripts/copy_from_upstream/patches/pqcrystals-kyber-yml.patch
  src/common/pqclean_shims/aes256ctr.h
  src/kem/kyber/pqcrystals-kyber_kyber512-90s_ref/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber512-90s_ref/symmetric.h
  src/kem/kyber/pqcrystals-kyber_kyber768-90s_ref/symmetric.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_ref/aes256ctr.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_ref/symmetric.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium3aes_ref/aes256ctr.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium3aes_ref/symmetric.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium5aes_ref/aes256ctr.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium5aes_ref/symmetric.h
Owners: @baentsch, @bhess, @xvczf, @dstebila, @jschanck

add missing -mssse3 flag for aesni 256
  src/common/CMakeLists.txt
Owners: @xvzcf

updated patches
  scripts/copy_from_upstream/patches/pqcrystals-dilithium-avx2-shake.patch
  scripts/copy_from_upstream/patches/pqcrystals-kyber-avx2-shake.patch
  scripts/copy_from_upstream/patches/pqcrystals-kyber-yml.patch
  src/kem/kyber/pqcrystals-kyber_kyber768-90s_avx2/indcpa.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_avx2/polyvec.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_avx2/sign.c
Owners: @baentsch, @bhess, @xvczf, @jschanck
