Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

Update README.md
  README.md
Owners: @dstebila

Remove unused sig member
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
Owners: @dstebila

Various fixes
  .CMake/alg_support.cmake
  src/common/sha2/sha2_armv8.c
  src/oqsconfig.h.cmake
  src/sig_stfl/lms/external/hss_alloc.c
  src/sig_stfl/lms/external/hss_sign.c
  src/sig_stfl/lms/external/hss_verify_inc.c
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  tests/test_sig_stfl.c
Owners: @dstebila

Disable Stateful Signatures in the build by default (#1676)
  .CMake/alg_support.cmake
  CONFIGURE.md
  src/oqsconfig.h.cmake
  src/sig_stfl/lms/external/hss_keygen.c
  src/sig_stfl/lms/external/hss_sign_inc.c
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/xmss/external/xmss.c
  src/sig_stfl/xmss/sig_stfl_xmss_functions.c
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_functions.c
  tests/example_sig_stfl.c
  tests/kat_sig_stfl.c
  tests/test_sig_stfl.c
Owners: @dstebila

Stateful sigs: Rename keygen / sign option, add more tests, fix memory errors (#1755)
  .CMake/alg_support.cmake
  .github/workflows/android.yml
  .github/workflows/apple.yml
  .github/workflows/unix.yml
  .github/workflows/windows.yml
  CONFIGURE.md
  src/oqsconfig.h.cmake
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  tests/test_leaks.py
  tests/test_sig_stfl.c
Owners: @dstebila

Switch order of params for deserialize
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  tests/test_sig_stfl.c
Owners: @dstebila

Address stateful-sigs comments in #1650 (#1656)
  CONFIGURE.md
  src/common/common.c
Owners: @dstebila

Zeroing internal state memory on heap
  src/sig_stfl/xmss/external/xmss_core_fast.c
Owners: @dstebila

make astyle happy
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
Owners: @dstebila

secure free for wots key,sig tree stack
  src/sig_stfl/xmss/external/wots.c
  src/sig_stfl/xmss/external/xmss_core_fast.c
Owners: @dstebila

revert
  CONFIGURE.md
  src/common/common.c
Owners: @dstebila

fix markdown link invalid
  CONFIGURE.md
Owners: @dstebila

fix markdown link, work with doxygen 1.10
  CONFIGURE.md
Owners: @dstebila

Zeroing internal state memory on heap (#1790)
  CONFIGURE.md
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/xmss/external/wots.c
  src/sig_stfl/xmss/external/xmss_core_fast.c
Owners: @dstebila

Simplify security assumption in docs
  docs/algorithms/sig_stfl/lms.yml
  docs/algorithms/sig_stfl/xmss.yml
Owners: @dstebila

Get rid of commented functions
  src/sig_stfl/lms/sig_stfl_lms.c
Owners: @dstebila

Rename sm variable; use OQS_MEM_cleanse
  src/sig_stfl/lms/sig_stfl_lms_functions.c
Owners: @dstebila

Clean up TODOs
  src/sig_stfl/lms/sig_stfl_lms_functions.c
Owners: @dstebila

Update markdown files
  docs/algorithms/sig_stfl/lms.md
  docs/algorithms/sig_stfl/xmss.md
Owners: @dstebila

Clean up unresolved comments on stateful-sigs PR (#1793)
  docs/algorithms/sig_stfl/lms.md
  docs/algorithms/sig_stfl/lms.yml
  docs/algorithms/sig_stfl/xmss.md
  docs/algorithms/sig_stfl/xmss.yml
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms_functions.c
Owners: @dstebila

Add comparsion for shared secret after encapsulation
  tests/vectors_kem.c
Owners: @dstebila

Basic import
  .github/workflows/arm.yml
  .github/workflows/source.xxx
Owners: @dstebila

Update arm.yml
  .github/workflows/arm.yml
Owners: @dstebila

Testing patch functionality
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/ml-kem-derand.patch
Owners: @baentsch, @bhess

/MT updates
  .CMake/compiler_opts.cmake
Owners: @dstebila

Leaving compiler options at /MT
  .CMake/compiler_opts.cmake
Owners: @dstebila

track jasminc version in copy_from_libjade.yml; check jasminc version in copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_libjade.yml
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

add OQS_LIBJADE_BUILD to build flags output
  tests/system_info.c
Owners: @dstebila

use OPENSSL_cleanse if OpenSSL is used
  src/common/common.c
  src/common/ossl_functions.h
Owners: @dstebila

use OPENSSL_cleanse if OpenSSL is used (#1773)
  src/common/common.c
  src/common/ossl_functions.h
Owners: @dstebila

Errors not printed when OPENSSL_NO_STDIO is set (#1774)
  src/common/rand/rand_nist.c
Owners: @dstebila

Fix for incorrect macros in signatures.
  scripts/copy_from_upstream/src/sig/family/sig_family.h
  src/sig/ml_dsa/sig_ml_dsa.h
Owners: @baentsch, @bhess, @dstebila

modify ML-KEM and ML-DSA NIST Immediate Test Vectors
  tests/PQC_Intermediate_Values/ML-KEM-1024.txt
  tests/PQC_Intermediate_Values/ML-KEM-512.txt
  tests/PQC_Intermediate_Values/ML-KEM-768.txt
  tests/PQC_Intermediate_Values/fetch_values.sh
  tests/test_kem_vectors.sh
  tests/test_vectors.py
  tests/test_vectors.sh
  tests/vectors_kem.c
Owners: @dstebila

Update config variable name
  .CMake/alg_support.cmake
  .circleci/config.yml
  .github/workflows/android.yml
  .github/workflows/apple.yml
  .github/workflows/unix.yml
  .github/workflows/windows.yml
  .travis.yml
  CONFIGURE.md
  src/oqsconfig.h.cmake
Owners: @dstebila, @baentsch

Strengthen warning in CONFIGURE.md
  CONFIGURE.md
Owners: @dstebila

remove link from CONFIGURE.md
  CONFIGURE.md
  docs/.Doxyfile
Owners: @dstebila

Fix for incorrect macros in signatures. (#1799)
  scripts/copy_from_upstream/src/sig/family/sig_family.h
  src/sig/ml_dsa/sig_ml_dsa.h
Owners: @baentsch, @bhess, @dstebila

remove gcc override to validate gcc change resulted in build success (and this fails)
  .github/workflows/unix.yml
Owners: @dstebila

Force gcc 13.2.0 over 13.3.0
  .github/workflows/unix.yml
Owners: @dstebila

add back gcc override
  .github/workflows/unix.yml
Owners: @dstebila

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess
