Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @xvzcf, @baentsch, @bhess, @xvczf, @crockeea, @jschanck, @christianpaquin

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila @xvzcf
/.circleci @baentsch @xvzcf
/.CMake @xvzcf
/docs @dstebila
/scripts @xvzcf
/scripts/copy_from_upstream @baentsch @bhess @xvczf
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/kem/ntru @jschanck
/src/kem/sike @christianpaquin
/src/oqsconfig.h.cmake @xvzcf
/src/sig/dilithium @bhess
/src/sig/picnic @christianpaquin
/CONTRIBUTORS @dstebila
/LICENSE.txt @dstebila
/README.md @dstebila
/RELEASE.md @dstebila
CMakeLists.txt @xvzcf

corrected style
  src/common/pqclean_shims/nistseedexpander.c
  src/common/pqclean_shims/nistseedexpander.h
  src/common/rand/rand_nist.c
Owners: @dstebila

Adding a speed_common script to benchmark OQS AES and hash algorithms
  tests/CMakeLists.txt
  tests/speed_common.c
Owners: @xvzcf, @dstebila

Fixing SPDX license identifier in speed_common
  tests/speed_common.c
Owners: @dstebila, @xvzcf

Adding a speed_common script to benchmark OQS AES and hash algorithms (#1144)
  tests/CMakeLists.txt
  tests/speed_common.c
Owners: @xvzcf, @dstebila

NIST copyright clarification (#1142)
  src/common/pqclean_shims/nistseedexpander.c
  src/common/pqclean_shims/nistseedexpander.h
  src/common/rand/rand_nist.c
Owners: @dstebila

explaining all config options in system_info output
  tests/system_info.c
Owners: @dstebila, @xvzcf

Option to use PMU for benchmarking on ARM (#1147)
  CMakeLists.txt
  src/oqsconfig.h.cmake
  tests/ds_benchmark.h
  tests/speed_kem.c
  tests/speed_sig.c
  tests/test_aes.c
Owners: @xvzcf, @dstebila

aarch64 dist generator run
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.fragment
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt
  src/kem/classic_mceliece/CMakeLists.txt
  src/kem/hqc/CMakeLists.txt
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/kem/ntru/CMakeLists.txt
  src/kem/ntruprime/CMakeLists.txt
  src/kem/saber/CMakeLists.txt
  src/kem/saber/kem_saber_firesaber.c
  src/kem/saber/kem_saber_lightsaber.c
  src/kem/saber/kem_saber_saber.c
Owners: @xvzcf, @baentsch, @bhess, @xvczf, @jschanck, @dstebila

removing undocumented OQS_DIST_ARM64_V8_BUILD
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.fragment
Owners: @xvzcf, @baentsch, @bhess, @xvczf

re-activate ARMV8 specific dist build
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.fragment
Owners: @xvzcf, @baentsch, @bhess, @xvczf

aarch64 dist build (#1148)
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.fragment
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt
  src/kem/classic_mceliece/CMakeLists.txt
  src/kem/hqc/CMakeLists.txt
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/kem/ntru/CMakeLists.txt
  src/kem/ntruprime/CMakeLists.txt
  src/kem/saber/CMakeLists.txt
  src/kem/saber/kem_saber_firesaber.c
  src/kem/saber/kem_saber_lightsaber.c
  src/kem/saber/kem_saber_saber.c
Owners: @xvzcf, @baentsch, @bhess, @xvczf, @jschanck, @dstebila

Tweaks to benchmarking code
  tests/ds_benchmark.h
Owners: @dstebila, @xvzcf

Tweaks to benchmarking code (#1150)
  tests/ds_benchmark.h
Owners: @dstebila, @xvzcf

0.7.1-rc1 [skip ci]
  CMakeLists.txt
  CONTRIBUTORS
  LICENSE.txt
  README.md
  RELEASE.md
Owners: @xvzcf, @dstebila

add'l vars added
  src/oqsconfig.h.cmake
  tests/system_info.c
Owners: @xvzcf, @dstebila

performance regression test script [skip ci]
  scripts/noregress.py
  scripts/noregress.sh
Owners: @xvzcf

parameterized no-regress testing [skip ci]
  scripts/noregress.sh
Owners: @xvzcf

release performance regression test (#1152)
  scripts/noregress.py
  scripts/noregress.sh
Owners: @xvzcf

Added spdx headers to noregress.[py|sh]
  scripts/noregress.py
  scripts/noregress.sh
Owners: @xvzcf

Added spdx headers to noregress.[py|sh] (#1154)
  scripts/noregress.py
  scripts/noregress.sh
Owners: @xvzcf

complete flags
  src/oqsconfig.h.cmake
  tests/system_info.c
Owners: @xvzcf, @dstebila

style fix
  tests/system_info.c
Owners: @dstebila, @xvzcf

added missing sanitizer flag
  src/oqsconfig.h.cmake
  tests/system_info.c
Owners: @xvzcf, @dstebila

reformatted comment for readability
  tests/system_info.c
Owners: @dstebila, @xvzcf

Output documented build options (#1155)
  src/oqsconfig.h.cmake
  tests/system_info.c
Owners: @xvzcf, @dstebila

docs: set license MIT to Falcon Signature
  docs/algorithms/sig/falcon.md
  docs/algorithms/sig/falcon.yml
Owners: @dstebila

docs: set license MIT for Falcon Signature (#1156)
  docs/algorithms/sig/falcon.md
  docs/algorithms/sig/falcon.yml
Owners: @dstebila

add trigger for oqs-provider CI
  .circleci/config.yml
Owners: @baentsch, @xvzcf

add trigger for oqs-provider CI (#1157)
  .circleci/config.yml
Owners: @baentsch, @xvzcf

liboqs 0.7.1
  CMakeLists.txt
  RELEASE.md
Owners: @xvzcf, @dstebila

Define PICNIC_EXPORT instead of PICNIC_STATIC
  src/sig/picnic/CMakeLists.txt
Owners: @xvzcf

Handle SSE2/AVX2/NEON in Picnic similar to other schemes
  .CMake/alg_support.cmake
  src/sig/picnic/CMakeLists.txt
Owners: @xvzcf

Update to Picnic 3.0.8
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/CMakeLists.txt
  src/sig/picnic/external/CHANGELOG.md
  src/sig/picnic/external/README.md
  src/sig/picnic/external/bitstream.c
  src/sig/picnic/external/bitstream.h
  src/sig/picnic/external/compat.h
  src/sig/picnic/external/cpu.h
  src/sig/picnic/external/endian_compat.h
  src/sig/picnic/external/io.c
  src/sig/picnic/external/io.h
  src/sig/picnic/external/lowmc.c
  src/sig/picnic/external/lowmc.c.i
  src/sig/picnic/external/lowmc.h
  src/sig/picnic/external/lowmc_128_128_20.h
  src/sig/picnic/external/lowmc_129_129_4.h
  src/sig/picnic/external/lowmc_192_192_30.h
  src/sig/picnic/external/lowmc_192_192_4.h
  src/sig/picnic/external/lowmc_255_255_4.h
  src/sig/picnic/external/lowmc_256_256_38.h
  src/sig/picnic/external/lowmc_pars.h
  src/sig/picnic/external/macros.h
  src/sig/picnic/external/mpc_lowmc.c
  src/sig/picnic/external/mzd_additional.c
  src/sig/picnic/external/mzd_additional.h
  src/sig/picnic/external/oqs_picnic_macros.h
  src/sig/picnic/external/picnic.c
  src/sig/picnic/external/picnic.h
  src/sig/picnic/external/picnic3_impl.c
  src/sig/picnic/external/picnic3_simulate.c.i
  src/sig/picnic/external/picnic3_types.c
  src/sig/picnic/external/picnic_impl.c
  src/sig/picnic/external/picnic_impl.h
  src/sig/picnic/external/picnic_instances.c
  src/sig/picnic/external/picnic_instances.h
  src/sig/picnic/external/randomness.c
  src/sig/picnic/external/simd.h
  src/sig/picnic/sig_picnic.c
Owners: @dstebila, @xvzcf, @christianpaquin

Switch version to 0.7.2-dev [skip ci]
  CMakeLists.txt
  RELEASE.md
Owners: @xvzcf, @dstebila

Update Picnic to 3.0.7 (#1158)
  .CMake/alg_support.cmake
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/CMakeLists.txt
  src/sig/picnic/external/CHANGELOG.md
  src/sig/picnic/external/README.md
  src/sig/picnic/external/bitstream.c
  src/sig/picnic/external/bitstream.h
  src/sig/picnic/external/compat.h
  src/sig/picnic/external/cpu.h
  src/sig/picnic/external/endian_compat.h
  src/sig/picnic/external/io.c
  src/sig/picnic/external/io.h
  src/sig/picnic/external/lowmc.c
  src/sig/picnic/external/lowmc.c.i
  src/sig/picnic/external/lowmc.h
  src/sig/picnic/external/lowmc_128_128_20.h
  src/sig/picnic/external/lowmc_129_129_4.h
  src/sig/picnic/external/lowmc_192_192_30.h
  src/sig/picnic/external/lowmc_192_192_4.h
  src/sig/picnic/external/lowmc_255_255_4.h
  src/sig/picnic/external/lowmc_256_256_38.h
  src/sig/picnic/external/lowmc_pars.h
  src/sig/picnic/external/macros.h
  src/sig/picnic/external/mpc_lowmc.c
  src/sig/picnic/external/mzd_additional.c
  src/sig/picnic/external/mzd_additional.h
  src/sig/picnic/external/oqs_picnic_macros.h
  src/sig/picnic/external/picnic.c
  src/sig/picnic/external/picnic.h
  src/sig/picnic/external/picnic3_impl.c
  src/sig/picnic/external/picnic3_simulate.c.i
  src/sig/picnic/external/picnic3_types.c
  src/sig/picnic/external/picnic_impl.c
  src/sig/picnic/external/picnic_impl.h
  src/sig/picnic/external/picnic_instances.c
  src/sig/picnic/external/picnic_instances.h
  src/sig/picnic/external/randomness.c
  src/sig/picnic/external/simd.h
  src/sig/picnic/sig_picnic.c
Owners: @xvzcf, @dstebila, @christianpaquin

upgrading XCode in CCI
  .circleci/config.yml
Owners: @baentsch, @xvzcf

remove python2 removal for XCode 13
  .circleci/config.yml
Owners: @baentsch, @xvzcf

XCode update (#1162)
  .circleci/config.yml
Owners: @baentsch, @xvzcf

Add support for powerpc64.
  .CMake/alg_support.cmake
  CMakeLists.txt
  src/kem/sike/CMakeLists.txt
  src/kem/sike/external/P434/P434_internal.h
  src/kem/sike/external/P503/P503_internal.h
  src/kem/sike/external/P610/P610_internal.h
  src/kem/sike/external/P751/P751_internal.h
  src/kem/sike/external/config.h
Owners: @xvzcf, @christianpaquin

Add support for powerpc64. (#1160)
  .CMake/alg_support.cmake
  CMakeLists.txt
  src/kem/sike/CMakeLists.txt
  src/kem/sike/external/P434/P434_internal.h
  src/kem/sike/external/P503/P503_internal.h
  src/kem/sike/external/P610/P610_internal.h
  src/kem/sike/external/P751/P751_internal.h
  src/kem/sike/external/config.h
Owners: @xvzcf, @christianpaquin
