Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @xvzcf, @baentsch, @bhess, @xvczf, @crockeea, @jschanck, @christianpaquin

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila @xvzcf
/.circleci @baentsch @xvzcf
/.CMake @xvzcf
/docs @dstebila
/scripts @xvzcf
/scripts/copy_from_upstream @baentsch @bhess @xvczf
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/kem/ntru @jschanck
/src/kem/sike @christianpaquin
/src/oqsconfig.h.cmake @xvzcf
/src/sig/dilithium @bhess
/src/sig/picnic @christianpaquin
/CONTRIBUTORS @dstebila
/LICENSE.txt @dstebila
/README.md @dstebila
/RELEASE.md @dstebila
CMakeLists.txt @xvzcf

Found an error on apple silicon not reporting that it supports SHA2 instructions
  .CMake/detect_gcc_clang_intrinsics.c
Owners: @xvzcf

Found an error on apple silicon not reporting that it supports SHA2 instructions
  .CMake/detect_gcc_clang_intrinsics.c
Owners: @xvzcf

Update output of test_hash
  tests/system_info.c
Owners: @dstebila, @xvzcf

Fix a bug where intrinsics were ignored when compiling for apple silicon (#1074)
  .CMake/detect_gcc_clang_intrinsics.c
  tests/system_info.c
Owners: @xvzcf, @dstebila

liboqs 0.7.0
  CMakeLists.txt
  RELEASE.md
Owners: @xvzcf, @dstebila

More debugging
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Typo
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

More debugging
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Alpine as a strategy matrix
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Add buildcheck in Github Actions
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Add alpine-noopenssl job in Github Actions
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Debugging environment variables
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Debugging strategy matrix
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Debugging
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Debugging
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Reorganize strategy matrix
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Debugging
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Stylecheck in Github Actions
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Add runs-on
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Add ARM emulated job in Github Actions
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Add alpine job in Github Actions
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Disable other CI's on ghactionsonly- branches
  .circleci/config.yml
  .travis.yml
  appveyor.yml
Owners: @baentsch, @xvzcf, @dstebila

Finalize initial move to Github Actions
  .circleci/config.yml
  .github/workflows/linux.yml
Owners: @baentsch, @xvzcf, @dstebila

Skip alg info test on ARM emulated
  .github/workflows/linux.yml
Owners: @dstebila, @xvzcf

Use Github Actions for some CI (#1069)
  .circleci/config.yml
  .github/workflows/linux.yml
  .travis.yml
  appveyor.yml
Owners: @baentsch, @xvzcf, @dstebila

Added seeds for Falcon 1024 and 512
  src/sig/falcon/pqclean_falcon-1024_avx2/api.h
  src/sig/falcon/pqclean_falcon-1024_avx2/pqclean.c
  src/sig/falcon/pqclean_falcon-1024_clean/api.h
  src/sig/falcon/pqclean_falcon-1024_clean/pqclean.c
  src/sig/falcon/pqclean_falcon-512_avx2/api.h
  src/sig/falcon/pqclean_falcon-512_avx2/pqclean.c
  src/sig/falcon/pqclean_falcon-512_clean/api.h
  src/sig/falcon/pqclean_falcon-512_clean/pqclean.c
  src/sig/falcon/sig_falcon.h
  src/sig/falcon/sig_falcon_1024.c
  src/sig/falcon/sig_falcon_512.c
Owners: @dstebila, @xvzcf

Add instructions on how to build shared/dynamic library
  README.md
Owners: @dstebila

fixing #1076
  .circleci/config.yml
Owners: @baentsch, @xvzcf

Run constant time and undefined sanitizer jobs weekly (#1078)
  .circleci/config.yml
Owners: @baentsch, @xvzcf

Improve wording and add link to BUILD_SHARED_LIBS section in Wiki
  README.md
Owners: @dstebila

Add instructions on how to build shared/dynamic library to the README (#1077)
  README.md
Owners: @dstebila

Updated SIKE to upstream commit effa60, addressing issue 1056.
  docs/algorithms/kem/sike.md
  docs/algorithms/kem/sike.yml
  src/kem/sike/external/P434/AMD64/fp_x64.c
  src/kem/sike/external/P434/ARM64/fp_arm64.c
  src/kem/sike/external/P434/generic/fp_generic.c
  src/kem/sike/external/P503/AMD64/fp_x64.c
  src/kem/sike/external/P503/ARM64/fp_arm64.c
  src/kem/sike/external/P503/generic/fp_generic.c
  src/kem/sike/external/P610/AMD64/fp_x64.c
  src/kem/sike/external/P610/ARM64/fp_arm64.c
  src/kem/sike/external/P610/generic/fp_generic.c
  src/kem/sike/external/P751/AMD64/fp_x64.c
  src/kem/sike/external/P751/ARM64/fp_arm64.c
  src/kem/sike/external/P751/generic/fp_generic.c
  src/kem/sike/external/config.h
  src/kem/sike/external/fpx.c
  src/kem/sike/kem_sike.c
Owners: @dstebila, @christianpaquin

Updated SIKE to upstream commit effa60, addressing issue 1056. (#1079)
  docs/algorithms/kem/sike.md
  docs/algorithms/kem/sike.yml
  src/kem/sike/external/P434/AMD64/fp_x64.c
  src/kem/sike/external/P434/ARM64/fp_arm64.c
  src/kem/sike/external/P434/generic/fp_generic.c
  src/kem/sike/external/P503/AMD64/fp_x64.c
  src/kem/sike/external/P503/ARM64/fp_arm64.c
  src/kem/sike/external/P503/generic/fp_generic.c
  src/kem/sike/external/P610/AMD64/fp_x64.c
  src/kem/sike/external/P610/ARM64/fp_arm64.c
  src/kem/sike/external/P610/generic/fp_generic.c
  src/kem/sike/external/P751/AMD64/fp_x64.c
  src/kem/sike/external/P751/ARM64/fp_arm64.c
  src/kem/sike/external/P751/generic/fp_generic.c
  src/kem/sike/external/config.h
  src/kem/sike/external/fpx.c
  src/kem/sike/kem_sike.c
Owners: @dstebila, @christianpaquin

enabling flexible build dir name in testing
  tests/CMakeLists.txt
  tests/helpers.py
  tests/test_mem.py
  tests/test_namespace.py
Owners: @xvzcf, @dstebila

enabling flexible build dir name in testing (#1080)
  tests/CMakeLists.txt
  tests/helpers.py
  tests/test_mem.py
  tests/test_namespace.py
Owners: @xvzcf, @dstebila

run optimized constant time tests only on haswell
  .circleci/config.yml
Owners: @baentsch, @xvzcf

run optimized constant time tests only on haswell (#1082)
  .circleci/config.yml
Owners: @baentsch, @xvzcf

increase test timeout for slow runners [skip ci]
  .circleci/config.yml
Owners: @baentsch, @xvzcf

increase test timeout for slow runners [skip ci] (#1085)
  .circleci/config.yml
Owners: @baentsch, @xvzcf

Revert "increase test timeout for slow runners [skip ci] (#1085)"
  .circleci/config.yml
Owners: @baentsch, @xvzcf
