Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

Update KEM template to accomodate new dir structure
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt.libjade
  src/kem/kyber/CMakeLists.txt
Owners: @baentsch, @bhess, @jschanck

Edit unix.yml
  .github/workflows/unix.yml
Owners: @dstebila

Update testing
  .github/workflows/unix.yml
  .github/workflows/weekly.yml
Owners: @dstebila

Re-build libjade with jasmin version used in CI
  src/kem/kyber/libjade_kyber512_amd64_avx2/kem.s
  src/kem/kyber/libjade_kyber512_amd64_ref/kem.s
  src/kem/kyber/libjade_kyber768_amd64_avx2/kem.s
  src/kem/kyber/libjade_kyber768_amd64_ref/kem.s
Owners: @jschanck, @bhess

Allow MSVC to ignore libjade_shims
  src/common/libjade_shims/libjade_randombytes.c
  src/common/libjade_shims/libjade_randombytes.h
Owners: @dstebila

Debug: tweak unix.yml
  .github/workflows/unix.yml
Owners: @dstebila

Debug: undo unix.yml tweak
  .github/workflows/unix.yml
Owners: @dstebila

Remove irrelevant libjade code
  src/kem/kyber/libjade_kyber512_amd64_avx2/.deps/kem.s.d
  src/kem/kyber/libjade_kyber512_amd64_avx2/Makefile
  src/kem/kyber/libjade_kyber512_amd64_avx2/api.h
  src/kem/kyber/libjade_kyber512_amd64_avx2/gen_matrix.jinc
  src/kem/kyber/libjade_kyber512_amd64_avx2/indcpa.jinc
  src/kem/kyber/libjade_kyber512_amd64_avx2/kem.jazz
  src/kem/kyber/libjade_kyber512_amd64_ref/.deps/kem.s.d
  src/kem/kyber/libjade_kyber512_amd64_ref/Makefile
  src/kem/kyber/libjade_kyber512_amd64_ref/api.h
  src/kem/kyber/libjade_kyber512_amd64_ref/indcpa.jinc
  src/kem/kyber/libjade_kyber512_amd64_ref/kem.jazz
  src/kem/kyber/libjade_kyber768_amd64_avx2/.deps/kem.s.d
  src/kem/kyber/libjade_kyber768_amd64_avx2/Makefile
  src/kem/kyber/libjade_kyber768_amd64_avx2/api.h
  src/kem/kyber/libjade_kyber768_amd64_avx2/gen_matrix.jinc
  src/kem/kyber/libjade_kyber768_amd64_avx2/indcpa.jinc
  src/kem/kyber/libjade_kyber768_amd64_avx2/kem.jazz
  src/kem/kyber/libjade_kyber768_amd64_ref/.deps/kem.s.d
  src/kem/kyber/libjade_kyber768_amd64_ref/Makefile
  src/kem/kyber/libjade_kyber768_amd64_ref/api.h
  src/kem/kyber/libjade_kyber768_amd64_ref/indcpa.jinc
  src/kem/kyber/libjade_kyber768_amd64_ref/kem.jazz
  src/kem/kyber/libjade_kyber768_amd64_ref/kem.jinc
  src/kem/kyber/libjade_kyber768_amd64_ref/params.jinc
  src/kem/kyber/libjade_kyber768_amd64_ref/poly.jinc
  src/kem/kyber/libjade_kyber768_amd64_ref/polyvec.jinc
  src/kem/kyber/libjade_kyber768_amd64_ref/verify.jinc
Owners: @jschanck, @bhess

Change container for upstreamcheck in unix.yml
  .github/workflows/unix.yml
Owners: @dstebila

Edit unix.yml
  .github/workflows/unix.yml
Owners: @dstebila

Update copy_from_upstream documentation
  scripts/copy_from_upstream/copy_from_libjade.yml
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @baentsch, @bhess

fix patches to include api.c; fix kem templates
  scripts/copy_from_upstream/patches/libjade-kyber-api.patch
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  scripts/copy_from_upstream/src/oqsconfig.h.cmake/add_alg_enable_defines.libjade
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/kem/kyber/libjade_kyber512_avx2/api.c
  src/kem/kyber/libjade_kyber512_ref/api.c
  src/kem/kyber/libjade_kyber768_avx2/api.c
  src/kem/kyber/libjade_kyber768_ref/api.c
  src/oqsconfig.h.cmake
Owners: @baentsch, @bhess, @jschanck, @dstebila

fix kyber documentation
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
Owners: @dstebila

Generate CBOM with unique bom-ref
  docs/cbom.json
  scripts/update_cbom.py
Owners: @dstebila

change upstream to stable libjade release
  docs/algorithms/kem/kyber.yml
  scripts/copy_from_upstream/copy_from_libjade.yml
  src/kem/kyber/libjade_kyber512_avx2/kem.s
  src/kem/kyber/libjade_kyber512_ref/kem.s
  src/kem/kyber/libjade_kyber768_avx2/kem.s
  src/kem/kyber/libjade_kyber768_ref/kem.s
Owners: @dstebila, @baentsch, @bhess, @jschanck

Cleanup unix.yml
  .github/workflows/unix.yml
Owners: @dstebila

fix kem template again
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
Owners: @baentsch, @bhess, @jschanck

Update alg docs, libjade code name scheme, and license
  .CMake/alg_support.cmake
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/cbom.json
  scripts/copy_from_upstream/copy_from_libjade.yml
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/update_upstream_alg_docs.py
  src/common/libjade_shims/libjade_randombytes.c
  src/common/libjade_shims/libjade_randombytes.h
  src/kem/kyber/CMakeLists.txt
  src/oqsconfig.h.cmake
Owners: @dstebila, @baentsch, @bhess, @jschanck

fix kyber patch
  scripts/copy_from_upstream/patches/libjade-kyber-api.patch
  src/kem/kyber/libjade_kyber512_avx2/api.c
  src/kem/kyber/libjade_kyber512_ref/api.c
  src/kem/kyber/libjade_kyber768_avx2/api.c
  src/kem/kyber/libjade_kyber768_ref/api.c
Owners: @baentsch, @bhess, @jschanck

Fix copy_from_upstream.py and simply libjade code name scheme
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/cbom.json
  scripts/copy_from_upstream/copy_from_upstream.py
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
Owners: @dstebila, @baentsch, @bhess, @jschanck

update documentation
  CONFIGURE.md
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @dstebila, @baentsch, @bhess

turn off weekly constant time tests for libjade implementations
  .github/workflows/weekly.yml
Owners: @dstebila

Simplify name scheme for libjade code
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg_conditional.libjade
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/patches/libjade-kyber-api.patch
  scripts/copy_from_upstream/patches/libjade-kyber-meta.patch
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  scripts/copy_from_upstream/src/oqsconfig.h.cmake/add_alg_enable_defines.libjade
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/libjade_kyber512_amd64_avx2/api.c
  src/kem/kyber/libjade_kyber512_amd64_ref/api.c
  src/kem/kyber/libjade_kyber512_avx2/api.h
  src/kem/kyber/libjade_kyber512_avx2/kem.s
  src/kem/kyber/libjade_kyber512_ref/api.h
  src/kem/kyber/libjade_kyber512_ref/kem.s
  src/kem/kyber/libjade_kyber768_amd64_avx2/api.c
  src/kem/kyber/libjade_kyber768_amd64_ref/api.c
  src/kem/kyber/libjade_kyber768_avx2/api.h
  src/kem/kyber/libjade_kyber768_avx2/kem.s
  src/kem/kyber/libjade_kyber768_ref/api.h
  src/kem/kyber/libjade_kyber768_ref/kem.s
  src/oqsconfig.h.cmake
Owners: @dstebila, @baentsch, @bhess, @jschanck

Correct alg doc generation
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @baentsch, @bhess

fix kyber documentation
  docs/algorithms/kem/kyber.md
  scripts/update_docs_from_yaml.py
Owners: @dstebila

Update alg docs and CBOM
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/cbom.json
Owners: @dstebila

end libjade_kyber*/api.c files with newline
  scripts/copy_from_upstream/patches/libjade-kyber-api.patch
  src/kem/kyber/libjade_kyber512_avx2/api.c
  src/kem/kyber/libjade_kyber512_ref/api.c
  src/kem/kyber/libjade_kyber768_avx2/api.c
  src/kem/kyber/libjade_kyber768_ref/api.c
Owners: @baentsch, @bhess, @jschanck

fix indentation in weekly.yml
  .github/workflows/weekly.yml
Owners: @dstebila

skip testing libjade on macos-14 in CI
  .github/workflows/unix.yml
Owners: @dstebila

use release tag/branch with libjade upstream url instead of commit
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  scripts/copy_from_upstream/copy_from_libjade.yml
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @dstebila, @baentsch, @bhess

fix kem template to prevent duplicate symbols in object files
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt.libjade
  src/kem/kyber/CMakeLists.txt
Owners: @baentsch, @bhess, @jschanck

rename libjade asm files from *.s to *.S
  scripts/copy_from_upstream/copy_from_upstream.py
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/libjade_kyber512_avx2/kem.S
  src/kem/kyber/libjade_kyber512_ref/kem.S
  src/kem/kyber/libjade_kyber768_avx2/kem.S
  src/kem/kyber/libjade_kyber768_ref/kem.S
Owners: @baentsch, @bhess, @jschanck

fix weekly.yml and unix.yml to test libjade code
  .github/workflows/unix.yml
  .github/workflows/weekly.yml
  scripts/copy_from_upstream/copy_from_libjade.yml
Owners: @dstebila, @baentsch, @bhess

fix build error when OQS_ENABLE_LIBJADE_KEM_ALG=OFF
  .CMake/alg_support.cmake
  CMakeLists.txt
  CONFIGURE.md
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.libjade
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg_conditional.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  scripts/copy_from_upstream/src/oqsconfig.h.cmake/add_alg_enable_defines.libjade
  src/common/CMakeLists.txt
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/oqsconfig.h.cmake
Owners: @dstebila, @baentsch, @bhess, @jschanck

remove reference to oldpqclean_kyber* code from libjade if branchin kem_kyber_*.c
  CMakeLists.txt
  CONFIGURE.md
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
Owners: @dstebila, @baentsch, @bhess, @jschanck

remove link from CONFIGURE.md
  CONFIGURE.md
  docs/.Doxyfile
Owners: @dstebila

initialize LIBJADE_RANDOMBYTES when OQS_LIBJADE_BUILD=OFF
  src/common/CMakeLists.txt
Owners: @dstebila

Update libjade to dual license
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  scripts/copy_from_upstream/copy_from_libjade.yml
Owners: @dstebila, @baentsch, @bhess

remove redundant comment
  scripts/copy_from_upstream/copy_from_libjade.yml
Owners: @baentsch, @bhess

track jasminc version in copy_from_libjade.yml; check jasminc version in copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_libjade.yml
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess
