Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

Add XMSS Serialize/Deserialize (#1542)
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/CMakeLists.txt
  src/sig_stfl/xmss/external/sign_params.h
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_6.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_6.c
Owners: @dstebila

Fix API and build issues
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/CMakeLists.txt
  src/sig_stfl/xmss/sig_stfl_xmss_sha256.c
Owners: @dstebila

Re-add OQS_SECRET_KEY (#1493)
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h10.c
  tests/test_sig_stfl.c
Owners: @dstebila

Initial addition of sig_stfl API and dummy XMSS variant
  .CMake/alg_support.cmake
  CMakeLists.txt
  src/CMakeLists.txt
  src/oqs.h
  src/oqsconfig.h.cmake
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/CMakeLists.txt
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_sha256.c
Owners: @dstebila

Update GitHub Actions workflows for stateful signatures (#1692)
  .github/workflows/android.yml
  .github/workflows/apple.yml
  .github/workflows/unix.yml
  .github/workflows/windows.yml
  scripts/build-android.sh
  tests/kat_sig_stfl.c
Owners: @dstebila

Fix test program linkage for cross-compiling
  tests/CMakeLists.txt
Owners: @dstebila

Add return status for XMSS lock/unlock functions. (#1712)
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
Owners: @dstebila

Add return check for lock/unlock function (#1727)
  src/sig_stfl/xmss/sig_stfl_xmss_functions.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_functions.c
Owners: @dstebila

Na stateful sigs lms var (#1574)
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_6.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_6.c
  tests/test_sig_stfl.c
Owners: @dstebila

Na lms kat multi level (#1620)
  .CMake/alg_support.cmake
  README.md
  src/common/sha2/sha2_armv8.c
  src/common/sha2/sha2_c.c
  src/oqsconfig.h.cmake
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  tests/CMakeLists.txt
  tests/KATs/sig_stfl/kats.json
  tests/KATs/sig_stfl/lms/LMS_SHA256_H10_W4_H5_W8.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H5_W8_H5_W8.rsp
  tests/example_sig_stfl.c
  tests/helpers.py
  tests/kat_sig_stfl.c
  tests/test_hash.c
  tests/test_sig_stfl.c
Owners: @dstebila

Na statful sig lock (#1559)
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  tests/test_sig_stfl.c
Owners: @dstebila

Secret Key Query (#1572)
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  tests/test_sig_stfl.c
Owners: @dstebila

Enforce idx from unsigned int to uint32_t. (#1611)
  src/sig_stfl/xmss/external/xmss_core_fast.c
Owners: @dstebila

Update tests/example_sig_stfl.c
  tests/example_sig_stfl.c
Owners: @dstebila

Update src/CMakeLists.txt
  src/CMakeLists.txt
Owners: @dstebila

Satisfy astyle
  src/common/sha2/sha2.c
  src/common/sha2/sha2_impl.c
Owners: @dstebila

Na stateful macro (#1687)
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_xmssmt.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_6.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_6.c
  tests/test_sig_stfl.c
Owners: @dstebila

Bring EVP_DigestUpdate calls in line with main
  src/common/sha2/sha2_ossl.c
Owners: @dstebila

Update README.md
  README.md
Owners: @dstebila

Update `sig_stfl.h` document for #1650 (#1655)
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

Test stateful sigs on arm64, s390x, and powerpc (#1772)
  .circleci/config.yml
  .travis.yml
Owners: @baentsch, @dstebila

Post-rebase cleanup
  .CMake/alg_support.cmake
Owners: @dstebila

Swap param order down the stack; rename length param; update documentation
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
Owners: @dstebila

Stateful sigs XMSS updates (#1590)
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_6.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_6.c
  tests/kat_sig_stfl.c
  tests/test_sig_stfl.c
Owners: @dstebila

Update README.md
  README.md
Owners: @dstebila

Fix windows-x86 and arm compiling error. (#1634)
  CMakeLists.txt
  README.md
  scripts/copy_from_upstream/copy_from_upstream.py
  src/common/sha2/sha2_armv8.c
  src/oqsconfig.h.cmake
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/external/xmss_commons.c
  src/sig_stfl/xmss/external/xmss_core_fast.c
  tests/helpers.py
  tests/test_sig_stfl.c
Owners: @dstebila, @baentsch, @bhess

Fix Build Errors (#1635)
  .CMake/alg_support.cmake
  src/common/sha2/sha2_armv8.c
  src/oqsconfig.h.cmake
  src/sig_stfl/lms/external/endian.c
  src/sig_stfl/lms/external/hss_alloc.c
  src/sig_stfl/lms/external/hss_aux.c
  src/sig_stfl/lms/external/hss_compute.c
  src/sig_stfl/lms/external/hss_generate.c
  src/sig_stfl/lms/external/hss_keygen.c
  src/sig_stfl/lms/external/hss_sign.c
  src/sig_stfl/lms/external/hss_sign_inc.c
  src/sig_stfl/lms/external/hss_verify.c
  src/sig_stfl/lms/external/hss_verify_inc.c
  src/sig_stfl/lms/external/lm_common.c
  src/sig_stfl/lms/external/lm_ots_verify.c
  src/sig_stfl/lms/external/lm_verify.c
  src/sig_stfl/lms/sig_stfl_lms.h
  tests/KATs/sig_stfl/kats.json
  tests/KATs/sig_stfl/lms/LMS_SHA256_H10_W1.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H10_W2.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H10_W4.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H10_W8.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H15_W1.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H15_W2.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H15_W4.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H15_W8.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H20_W1.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H20_W2.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H20_W4.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H20_W8.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H5_W1.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H5_W2.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H5_W4.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H5_W8.rsp
  tests/example_sig_stfl.c
  tests/test_sig_stfl.c
Owners: @dstebila

Naming convention for serialize / deserialize functions
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  tests/test_sig_stfl.c
Owners: @dstebila

Update README.md
  README.md
Owners: @dstebila

Fix macOS build error: lld -> llu
  tests/kat_sig_stfl.c
Owners: @dstebila

SHA2 Increment with arbitrary length (non-block sizes) (#1614)
  src/common/sha2/sha2.c
  src/common/sha2/sha2.h
  src/common/sha2/sha2_armv8.c
  src/common/sha2/sha2_c.c
  src/common/sha2/sha2_impl.c
  src/common/sha2/sha2_local.h
  src/common/sha2/sha2_ossl.c
  src/sig_stfl/lms/CMakeLists.txt
  src/sig_stfl/lms/external/hash.c
  src/sig_stfl/lms/external/hash.h
  src/sig_stfl/lms/external/lms_namespace.h
  src/sig_stfl/lms/external/sha256.c
  src/sig_stfl/lms/external/sha256.h
  tests/test_hash.c
Owners: @dstebila

Stateful sigs secret key storage callback (#1553)
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
  tests/test_sig_stfl.c
Owners: @dstebila

Clean up OQS_SIG_STFL_SECRET_KEY_free
  src/sig_stfl/sig_stfl.c
Owners: @dstebila

Fix typo from STFL to SFTL
  .CMake/alg_support.cmake
  src/oqsconfig.h.cmake
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmssmt_functions.c
  tests/example_sig_stfl.c
  tests/kat_sig_stfl.c
Owners: @dstebila

Use `abort()` instead of exit to get the trace log. (#1728)
  src/common/common.c
Owners: @dstebila

Reduce number of `malloc/free` call in `XMSS/external` (#1724)
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/xmss/external/hash.c
  src/sig_stfl/xmss/external/hash.h
  src/sig_stfl/xmss/external/params.c
  src/sig_stfl/xmss/external/wots.c
  src/sig_stfl/xmss/external/xmss_commons.c
  src/sig_stfl/xmss/external/xmss_core.c
  src/sig_stfl/xmss/external/xmss_core_fast.c
  src/sig_stfl/xmss/sig_stfl_xmss_xmssmt.c
Owners: @dstebila

Address stateful-sigs comments in #1650 (#1656)
  CONFIGURE.md
  src/common/common.c
  src/common/common.h
  src/common/sha2/sha2_armv8.c
  src/common/sha2/sha2_c.c
  src/common/sha3/ossl_sha3.c
  src/common/sha3/ossl_sha3x4.c
  src/common/sha3/xkcp_sha3.c
  src/common/sha3/xkcp_sha3x4.c
Owners: @dstebila

Update src/sig_stfl/sig_stfl.h
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

Fix warning
  src/sig_stfl/lms/external/hss_sign.c
Owners: @dstebila

Update README.md
  README.md
Owners: @dstebila

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess
