Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess

Document new script [skip ci]
  CONTRIBUTING.md
  scripts/format_code.sh
Owners: @dstebila

State supported platforms [skip ci]
  CONTRIBUTING.md
Owners: @dstebila

Fix formatting
  src/common/rand/rand_nist.c
Owners: @dstebila

ci-skip: add CodeQL
  .github/workflows/codeql.yml
Owners: @dstebila

Add a convenience script for consistent astyle formatting (#1861)
  CONTRIBUTING.md
  scripts/format_code.sh
  tests/run_astyle.sh
Owners: @dstebila

Fix broken link and misplaced comment in common.c [skip ci]
  src/common/common.c
Owners: @dstebila

Use explicit_memset if available. NetBSD has support for it: https://man.netbsd.org/NetBSD-10.0/explicit_memset.3
  src/common/CMakeLists.txt
  src/common/common.c
Owners: @dstebila

Define OpenSSL guard iff OQS_USE_OPENSSL is set
  src/common/common.h
Owners: @dstebila

Quick fixes from Trail of Bits audit Week 1 (#1869)
  .github/workflows/unix.yml
  .github/workflows/weekly.yml
  src/common/common.c
  src/common/common.h
  src/common/rand/rand_nist.c
  src/common/sha2/sha2_ossl.c
Owners: @dstebila

Don't hardcode OPENSSL_ROOT_DIR to /usr on Linux
  CMakeLists.txt
Owners: @dstebila

Run buildcheck with latest docker image
  .github/workflows/unix.yml
Owners: @dstebila

Check return value of fscanf
  tests/kat_sig_stfl.c
Owners: @dstebila

Run format script
  tests/kat_sig_stfl.c
Owners: @dstebila

Check return value of fscanf in LMS/XMSS KAT tests (#1874)
  tests/kat_sig_stfl.c
Owners: @dstebila

CPU extension detection for arm64 on NetBSD.
  src/common/common.c
Owners: @dstebila

Fix styling issues reported by Jason Goertzen
  src/common/common.c
Owners: @dstebila

Fix downstream CI trigger (#1857)
  .github/workflows/commit-to-main.yml
Owners: @dstebila

Add missing function declarations
  src/kem/kem.h
Owners: @dstebila

Hopefully corrected patch file
  scripts/copy_from_upstream/patches/pqcrystals-ml_kem_derand.patch
Owners: @baentsch, @bhess

WIP: Add changes for coin length
  scripts/copy_from_upstream/src/kem/family/kem_family.h
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @baentsch, @bhess

derand testing tentative changes
  tests/test_kem.c
Owners: @dstebila

Run copy_from_upstream
  src/kem/classic_mceliece/kem_classic_mceliece_348864.c
  src/kem/classic_mceliece/kem_classic_mceliece_348864f.c
  src/kem/classic_mceliece/kem_classic_mceliece_460896.c
  src/kem/classic_mceliece/kem_classic_mceliece_460896f.c
  src/kem/classic_mceliece/kem_classic_mceliece_6688128.c
  src/kem/classic_mceliece/kem_classic_mceliece_6688128f.c
  src/kem/classic_mceliece/kem_classic_mceliece_6960119.c
  src/kem/classic_mceliece/kem_classic_mceliece_6960119f.c
  src/kem/classic_mceliece/kem_classic_mceliece_8192128.c
  src/kem/classic_mceliece/kem_classic_mceliece_8192128f.c
  src/kem/hqc/kem_hqc_128.c
  src/kem/hqc/kem_hqc_192.c
  src/kem/hqc/kem_hqc_256.c
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/kem/ml_kem/kem_ml_kem_1024_ipd.c
  src/kem/ml_kem/kem_ml_kem_512_ipd.c
  src/kem/ml_kem/kem_ml_kem_768_ipd.c
Owners: @dstebila, @jschanck, @bhess

Add pqcrystals-ml_kem_ipd.patch
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqcrystals-ml_kem_derand.patch
  src/kem/ml_kem/kem_ml_kem_1024_ipd.c
  src/kem/ml_kem/kem_ml_kem_512_ipd.c
  src/kem/ml_kem/kem_ml_kem_768_ipd.c
Owners: @baentsch, @bhess, @dstebila

Add template for avx2 derand functions
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
Owners: @baentsch, @bhess

Fix indentation
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  src/kem/kem.h
Owners: @baentsch, @bhess, @dstebila

Initial derive keypair commit
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/src/kem/family/kem_family.h
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  src/kem/classic_mceliece/kem_classic_mceliece.h
  src/kem/classic_mceliece/kem_classic_mceliece_348864.c
  src/kem/classic_mceliece/kem_classic_mceliece_348864f.c
  src/kem/classic_mceliece/kem_classic_mceliece_460896.c
  src/kem/classic_mceliece/kem_classic_mceliece_460896f.c
  src/kem/classic_mceliece/kem_classic_mceliece_6688128.c
  src/kem/classic_mceliece/kem_classic_mceliece_6688128f.c
  src/kem/classic_mceliece/kem_classic_mceliece_6960119.c
  src/kem/classic_mceliece/kem_classic_mceliece_6960119f.c
  src/kem/classic_mceliece/kem_classic_mceliece_8192128.c
  src/kem/classic_mceliece/kem_classic_mceliece_8192128f.c
  src/kem/hqc/kem_hqc.h
  src/kem/hqc/kem_hqc_128.c
  src/kem/hqc/kem_hqc_192.c
  src/kem/hqc/kem_hqc_256.c
  src/kem/kem.c
  src/kem/kem.h
  src/kem/kyber/kem_kyber.h
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/kem/ml_kem/kem_ml_kem.h
  src/kem/ml_kem/kem_ml_kem_1024_ipd.c
  src/kem/ml_kem/kem_ml_kem_512_ipd.c
  src/kem/ml_kem/kem_ml_kem_768_ipd.c
Owners: @baentsch, @bhess, @dstebila, @jschanck

Corrected missing derand in kem_scheme
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  src/kem/ml_kem/kem_ml_kem_1024_ipd.c
  src/kem/ml_kem/kem_ml_kem_512_ipd.c
  src/kem/ml_kem/kem_ml_kem_768_ipd.c
Owners: @baentsch, @bhess, @dstebila

Fix encaps key in scheme and revert whitespace changes
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
Owners: @baentsch, @bhess

Run copy_from_upstream
  src/kem/classic_mceliece/kem_classic_mceliece_348864.c
  src/kem/classic_mceliece/kem_classic_mceliece_348864f.c
  src/kem/classic_mceliece/kem_classic_mceliece_460896.c
  src/kem/classic_mceliece/kem_classic_mceliece_460896f.c
  src/kem/classic_mceliece/kem_classic_mceliece_6688128.c
  src/kem/classic_mceliece/kem_classic_mceliece_6688128f.c
  src/kem/classic_mceliece/kem_classic_mceliece_6960119.c
  src/kem/classic_mceliece/kem_classic_mceliece_6960119f.c
  src/kem/classic_mceliece/kem_classic_mceliece_8192128.c
  src/kem/classic_mceliece/kem_classic_mceliece_8192128f.c
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/kem/ml_kem/kem_ml_kem_1024_ipd.c
  src/kem/ml_kem/kem_ml_kem_512_ipd.c
  src/kem/ml_kem/kem_ml_kem_768_ipd.c
Owners: @dstebila, @jschanck, @bhess

WIP trying to fix build errors
  src/kem/bike/kem_bike.c
  src/kem/frodokem/external/kem.c
  tests/test_kem_derand.c
Owners: @crockeea, @dstebila

Insert unused attributes
  src/kem/bike/additional_r4/kem.c
  src/kem/frodokem/external/kem.c
  src/kem/ntruprime/kem_ntruprime_sntrup761.c
Owners: @crockeea, @dstebila

Bootstrap
  docs/algorithms/kem/ml_kem.yml
Owners: @dstebila

Fix whitepace issue
  src/kem/bike/additional_r4/kem.c
Owners: @crockeea

Use tab instead of spaces in kem_scheme
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
Owners: @baentsch, @bhess

Void all unused parameters
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  src/kem/bike/additional_r4/kem.c
  src/kem/classic_mceliece/kem_classic_mceliece_348864.c
  src/kem/classic_mceliece/kem_classic_mceliece_348864f.c
  src/kem/classic_mceliece/kem_classic_mceliece_460896.c
  src/kem/classic_mceliece/kem_classic_mceliece_460896f.c
  src/kem/classic_mceliece/kem_classic_mceliece_6688128.c
  src/kem/classic_mceliece/kem_classic_mceliece_6688128f.c
  src/kem/classic_mceliece/kem_classic_mceliece_6960119.c
  src/kem/classic_mceliece/kem_classic_mceliece_6960119f.c
  src/kem/classic_mceliece/kem_classic_mceliece_8192128.c
  src/kem/classic_mceliece/kem_classic_mceliece_8192128f.c
  src/kem/frodokem/external/kem.c
  src/kem/hqc/kem_hqc_128.c
  src/kem/hqc/kem_hqc_192.c
  src/kem/hqc/kem_hqc_256.c
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/kem/ntruprime/kem_ntruprime_sntrup761.c
Owners: @baentsch, @bhess, @crockeea, @dstebila, @jschanck

Fix whitespace inconsistency
  src/kem/bike/additional_r4/kem.c
Owners: @crockeea

Resolve unused parameter issues for BIKE
  src/kem/bike/additional_r4/kem.c
Owners: @crockeea

Separate coins variable into two distinct variables
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  scripts/copy_from_upstream/update_upstream_alg_docs.py
  src/kem/kem.h
  src/kem/ml_kem/kem_ml_kem_1024_ipd.c
  src/kem/ml_kem/kem_ml_kem_512_ipd.c
  src/kem/ml_kem/kem_ml_kem_768_ipd.c
  tests/CMakeLists.txt
  tests/test_kem_derand.c
Owners: @baentsch, @bhess, @dstebila

Resolve unused paramter issues for FrodoKEM
  src/kem/frodokem/external/kem.c
Owners: @dstebila

Add derand fixes
  docs/algorithms/kem/bike.md
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/frodokem.md
  docs/algorithms/kem/hqc.md
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/ml_kem.md
  docs/algorithms/kem/ntruprime.md
  scripts/update_docs_from_yaml.py
  src/kem/bike/kem_bike.c
  src/kem/bike/kem_bike.h
  src/kem/frodokem/external/frodo1344aes_params.h
  src/kem/frodokem/external/frodo1344shake_params.h
  src/kem/frodokem/external/frodo640aes_params.h
  src/kem/frodokem/external/frodo640shake_params.h
  src/kem/frodokem/external/frodo976aes_params.h
  src/kem/frodokem/external/frodo976shake_params.h
  src/kem/frodokem/external/kem.c
  src/kem/frodokem/kem_frodokem.h
  src/kem/frodokem/kem_frodokem1344aes.c
  src/kem/frodokem/kem_frodokem1344shake.c
  src/kem/frodokem/kem_frodokem640aes.c
  src/kem/frodokem/kem_frodokem640shake.c
  src/kem/frodokem/kem_frodokem976aes.c
  src/kem/frodokem/kem_frodokem976shake.c
  src/kem/kem.h
  src/kem/ntruprime/kem_ntruprime.h
  src/kem/ntruprime/kem_ntruprime_sntrup761.c
  tests/test_cmdline.py
  tests/test_constant_time.py
  tests/test_distbuild.py
  tests/test_kem_derand.c
  tests/test_leaks.py
Owners: @dstebila, @crockeea
