Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess

use release tag/branch with libjade upstream url instead of commit
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  scripts/copy_from_upstream/copy_from_libjade.yml
  scripts/copy_from_upstream/copy_from_upstream.py
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @dstebila, @baentsch, @bhess

fix build error when OQS_ENABLE_LIBJADE_KEM_ALG=OFF
  .CMake/alg_support.cmake
  CMakeLists.txt
  CONFIGURE.md
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.libjade
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg_conditional.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  scripts/copy_from_upstream/src/oqsconfig.h.cmake/add_alg_enable_defines.libjade
  src/common/CMakeLists.txt
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/oqsconfig.h.cmake
Owners: @dstebila, @baentsch, @bhess, @jschanck

initialize LIBJADE_RANDOMBYTES when OQS_LIBJADE_BUILD=OFF
  src/common/CMakeLists.txt
Owners: @dstebila

remove redundant comment
  scripts/copy_from_upstream/copy_from_libjade.yml
Owners: @baentsch, @bhess

fix comment typo
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

Update README.md
  README.md
Owners: @dstebila

Update README.md (#1769)
  README.md
Owners: @dstebila

foo
  README.md
Owners: @dstebila

Patches for windows compile
  scripts/build-wrapper-openssl-static.sh
  src/common/ossl_helpers.c
Owners: @dstebila

Clean up OQS_SIG_STFL_SECRET_KEY_free
  src/sig_stfl/sig_stfl.c
Owners: @dstebila

make string explicit when comparing with variable in cmake
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.libjade
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg_conditional.libjade
  src/common/CMakeLists.txt
Owners: @dstebila, @baentsch, @bhess

add libjade kyber licensing to README.md
  README.md
Owners: @dstebila

remove reference to oldpqclean_kyber* code from libjade if branchin kem_kyber_*.c
  CMakeLists.txt
  CONFIGURE.md
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
Owners: @dstebila, @baentsch, @bhess, @jschanck

Remove unused sig member
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
Owners: @dstebila

Update CMakeLists.txt
  CMakeLists.txt
Owners: @dstebila

Rename macosx to macos
  scripts/build-wrapper-openssl-static.sh
Owners: @dstebila

Rename macosx to macos
  scripts/build-wrapper-openssl-static.sh
Owners: @dstebila

Naming convention for serialize / deserialize functions
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  tests/test_sig_stfl.c
Owners: @dstebila

Switch order of params for deserialize
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  tests/test_sig_stfl.c
Owners: @dstebila

Swap param order down the stack; rename length param; update documentation
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_secret_key_functions.c
Owners: @dstebila

Update src/sig_stfl/sig_stfl.h
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

Test stateful sigs on arm64, s309x, and powerpc
  .circleci/config.yml
  .travis.yml
Owners: @baentsch, @dstebila

simplify linux and mac link in README.md
  README.md
Owners: @dstebila

update Doxyfile
  docs/.Doxyfile
Owners: @dstebila

fix link in README.md
  README.md
Owners: @dstebila

update CI to use /scripts/run_doxygen.sh
  .github/workflows/unix.yml
Owners: @dstebila

Add workflow dispatch to action
  .github/workflows/release-test.yml
Owners: @dstebila

Fix README.md to work with Doxygen release 1.10.0 (#1775)
  .github/workflows/unix.yml
  README.md
  docs/.Doxyfile
Owners: @dstebila

Add workflow dispatch to action
  .github/workflows/release-test.yml
Owners: @dstebila

Yet more reqs from oqs-provider
  scripts/build-wrapper-openssl-static.sh
Owners: @dstebila

Yet more reqs from oqs-provider
  scripts/build-wrapper-openssl-static.sh
Owners: @dstebila

Algorithm selection clarification
  CONFIGURE.md
Owners: @dstebila

Algorithm selection clarification (#1784)
  CONFIGURE.md
Owners: @dstebila

Errors not printed when OPENSSL_NO_STDIO is set
  src/common/rand/rand_nist.c
Owners: @dstebila

Add XMSS parameter xmss_sha256_h10 (#1482)
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/CMakeLists.txt
  src/sig_stfl/xmss/external/core_hash.c
  src/sig_stfl/xmss/external/hash.c
  src/sig_stfl/xmss/external/hash.h
  src/sig_stfl/xmss/external/hash_address.c
  src/sig_stfl/xmss/external/hash_address.h
  src/sig_stfl/xmss/external/namespace.h
  src/sig_stfl/xmss/external/params.c
  src/sig_stfl/xmss/external/params.h
  src/sig_stfl/xmss/external/sign.c
  src/sig_stfl/xmss/external/sign.h
  src/sig_stfl/xmss/external/sign_params.h
  src/sig_stfl/xmss/external/utils.c
  src/sig_stfl/xmss/external/utils.h
  src/sig_stfl/xmss/external/wots.c
  src/sig_stfl/xmss/external/wots.h
  src/sig_stfl/xmss/external/xmss.c
  src/sig_stfl/xmss/external/xmss.h
  src/sig_stfl/xmss/external/xmss_commons.c
  src/sig_stfl/xmss/external/xmss_commons.h
  src/sig_stfl/xmss/external/xmss_core.c
  src/sig_stfl/xmss/external/xmss_core.h
  src/sig_stfl/xmss/external/xmss_core_fast.c
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_sha256.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h10.c
  tests/CMakeLists.txt
  tests/KATs/sig_stfl/kats.json
  tests/KATs/sig_stfl/xmss/XMSS-SHA2_10_256.rsp
  tests/helpers.py
  tests/kat_sig_stfl.c
  tests/test_helpers.h
  tests/test_kat.py
  tests/test_sig.c
  tests/test_sig_stfl.c
Owners: @dstebila

LMS updated to use new SK API (#1533)
  src/sig_stfl/lms/sig_stfl_lms.c
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/lms/sig_stfl_lms_wrap.h
  src/sig_stfl/sig_stfl.h
  tests/kat_sig_stfl.c
  tests/test_sig_stfl.c
Owners: @dstebila

Add secret key object to XMSS (#1530)
  src/CMakeLists.txt
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/external/core_hash.c
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_sha512_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake128_h20.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h10.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h16.c
  src/sig_stfl/xmss/sig_stfl_xmss_shake256_h20.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_sha256_h60_6.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h20_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_2.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_4.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h40_8.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_12.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_3.c
  src/sig_stfl/xmss/sig_stfl_xmssmt_shake128_h60_6.c
  tests/kat_sig_stfl.c
  tests/test_sig_stfl.c
Owners: @dstebila

Convert to use OQS_SIG_STFL_SECRET_KEY struct (#1525)
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

Add SIG_STFL to tests/dump_alg_info
  tests/dump_alg_info.c
Owners: @dstebila

Update sig_stfl dummy scheme and add basic test program
  .CMake/alg_support.cmake
  src/oqsconfig.h.cmake
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/xmss/sig_stfl_xmss.h
  src/sig_stfl/xmss/sig_stfl_xmss_sha256.c
  tests/CMakeLists.txt
  tests/helpers.py
  tests/test_cmdline.py
  tests/test_sig_stfl.c
Owners: @dstebila
