Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

fixup! Update patch to include coin lengths
  scripts/copy_from_upstream/patches/pqcrystals-ml_kem_derand.patch
Owners: @baentsch, @bhess

Fix remaining build issues
  src/kem/bike/additional_r4/kem.c
  src/kem/bike/functions_renaming.h
  tests/test_kem_derand.c
Owners: @crockeea, @dstebila

Update patch to include coin lengths
  scripts/copy_from_upstream/patches/pqcrystals-ml_kem_derand.patch
Owners: @baentsch, @bhess

Conditional copy
  scripts/copy_from_upstream/update_upstream_alg_docs.py
Owners: @baentsch, @bhess

Run copy_from_upstream
  src/kem/classic_mceliece/kem_classic_mceliece.h
  src/kem/classic_mceliece/kem_classic_mceliece_348864.c
  src/kem/classic_mceliece/kem_classic_mceliece_348864f.c
  src/kem/classic_mceliece/kem_classic_mceliece_460896.c
  src/kem/classic_mceliece/kem_classic_mceliece_460896f.c
  src/kem/classic_mceliece/kem_classic_mceliece_6688128.c
  src/kem/classic_mceliece/kem_classic_mceliece_6688128f.c
  src/kem/classic_mceliece/kem_classic_mceliece_6960119.c
  src/kem/classic_mceliece/kem_classic_mceliece_6960119f.c
  src/kem/classic_mceliece/kem_classic_mceliece_8192128.c
  src/kem/classic_mceliece/kem_classic_mceliece_8192128f.c
  src/kem/hqc/kem_hqc.h
  src/kem/hqc/kem_hqc_128.c
  src/kem/hqc/kem_hqc_192.c
  src/kem/hqc/kem_hqc_256.c
  src/kem/kyber/kem_kyber.h
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/kem/ml_kem/kem_ml_kem.h
  src/kem/ml_kem/kem_ml_kem_1024_ipd.c
  src/kem/ml_kem/kem_ml_kem_512_ipd.c
  src/kem/ml_kem/kem_ml_kem_768_ipd.c
Owners: @dstebila, @jschanck, @bhess

Run copy_from_upstream
  src/kem/classic_mceliece/kem_classic_mceliece_348864.c
  src/kem/classic_mceliece/kem_classic_mceliece_348864f.c
  src/kem/classic_mceliece/kem_classic_mceliece_460896.c
  src/kem/classic_mceliece/kem_classic_mceliece_460896f.c
  src/kem/classic_mceliece/kem_classic_mceliece_6688128.c
  src/kem/classic_mceliece/kem_classic_mceliece_6688128f.c
  src/kem/classic_mceliece/kem_classic_mceliece_6960119.c
  src/kem/classic_mceliece/kem_classic_mceliece_6960119f.c
  src/kem/classic_mceliece/kem_classic_mceliece_8192128.c
  src/kem/classic_mceliece/kem_classic_mceliece_8192128f.c
  src/kem/hqc/kem_hqc_128.c
  src/kem/hqc/kem_hqc_192.c
  src/kem/hqc/kem_hqc_256.c
  src/kem/kyber/kem_kyber_1024.c
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
Owners: @dstebila, @jschanck, @bhess

Fix kem_derand python tests
  tests/test_cmdline.py
  tests/test_constant_time.py
  tests/test_distbuild.py
  tests/test_leaks.py
Owners: @dstebila

Initialize coins in test_kem_derand
  tests/test_kem_derand.c
Owners: @dstebila

Add oqs-arm64 runner label to actionlint config
  .github/actionlint.yaml
Owners: @dstebila

Run Actionlint without shellcheck in workflow
  .github/workflows/actionlint.yml
Owners: @dstebila

Add workflow to lint workflows with Actionlint
  .github/workflows/actionlint.yml
Owners: @dstebila

Fix overflow (credit @wangweij)
  tests/example_sig_stfl.c
Owners: @dstebila

Don't hardcode OPENSSL_ROOT_DIR to /usr on Linux (#1873)
  .github/workflows/unix.yml
  CMakeLists.txt
Owners: @dstebila

fix license info in README.md
  README.md
Owners: @dstebila

Fix overflow in example_sig_stfl (credit @wangweij) (#1887)
  tests/example_sig_stfl.c
Owners: @dstebila

update libjade_randombytes spdx-license
  src/common/libjade_shims/libjade_randombytes.c
  src/common/libjade_shims/libjade_randombytes.h
Owners: @dstebila

add docs
  docs/algorithms/sig/cross.yml
  tests/constant_time/sig/issues.json
  tests/constant_time/sig/passes.json
  tests/constant_time/sig/passes/cross
Owners: @dstebila

add CROSS upstream
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess

add KATs
  tests/KATs/sig/kats.json
Owners: @dstebila

add Zephyr config
  zephyr/CMakeLists.txt
  zephyr/Kconfig
Owners: @dstebila

fix: counter i in generate_merkle_proof shadows previous declaration
  docs/algorithms/sig/cross.md
  docs/algorithms/sig/cross.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/sig/cross/upcross_cross-rsdp-128-balanced_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdp-128-fast_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdp-128-small_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdp-192-balanced_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdp-192-fast_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdp-192-small_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdp-256-balanced_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdp-256-fast_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdp-256-small_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdpg-128-balanced_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdpg-128-fast_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdpg-128-small_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdpg-192-balanced_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdpg-192-fast_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdpg-192-small_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdpg-256-balanced_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdpg-256-fast_avx2/merkle.c
  src/sig/cross/upcross_cross-rsdpg-256-small_avx2/merkle.c
Owners: @dstebila, @baentsch, @bhess

"claimed-security" is BUFF (instead of EUF-CMA)
  docs/algorithms/sig/cross.md
  docs/algorithms/sig/cross.yml
Owners: @dstebila

int defines in api.h don't need to be "L"
  docs/algorithms/sig/cross.md
  docs/algorithms/sig/cross.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/sig/cross/upcross_cross-rsdp-128-balanced_avx2/api.h
  src/sig/cross/upcross_cross-rsdp-128-balanced_clean/api.h
  src/sig/cross/upcross_cross-rsdp-128-fast_avx2/api.h
  src/sig/cross/upcross_cross-rsdp-128-fast_clean/api.h
  src/sig/cross/upcross_cross-rsdp-128-small_avx2/api.h
  src/sig/cross/upcross_cross-rsdp-128-small_clean/api.h
  src/sig/cross/upcross_cross-rsdp-192-balanced_avx2/api.h
  src/sig/cross/upcross_cross-rsdp-192-balanced_clean/api.h
  src/sig/cross/upcross_cross-rsdp-192-fast_avx2/api.h
  src/sig/cross/upcross_cross-rsdp-192-fast_clean/api.h
  src/sig/cross/upcross_cross-rsdp-192-small_avx2/api.h
  src/sig/cross/upcross_cross-rsdp-192-small_clean/api.h
  src/sig/cross/upcross_cross-rsdp-256-balanced_avx2/api.h
  src/sig/cross/upcross_cross-rsdp-256-balanced_clean/api.h
  src/sig/cross/upcross_cross-rsdp-256-fast_avx2/api.h
  src/sig/cross/upcross_cross-rsdp-256-fast_clean/api.h
  src/sig/cross/upcross_cross-rsdp-256-small_avx2/api.h
  src/sig/cross/upcross_cross-rsdp-256-small_clean/api.h
  src/sig/cross/upcross_cross-rsdpg-128-balanced_avx2/api.h
  src/sig/cross/upcross_cross-rsdpg-128-balanced_clean/api.h
  src/sig/cross/upcross_cross-rsdpg-128-fast_avx2/api.h
  src/sig/cross/upcross_cross-rsdpg-128-fast_clean/api.h
  src/sig/cross/upcross_cross-rsdpg-128-small_avx2/api.h
  src/sig/cross/upcross_cross-rsdpg-128-small_clean/api.h
  src/sig/cross/upcross_cross-rsdpg-192-balanced_avx2/api.h
  src/sig/cross/upcross_cross-rsdpg-192-balanced_clean/api.h
  src/sig/cross/upcross_cross-rsdpg-192-fast_avx2/api.h
  src/sig/cross/upcross_cross-rsdpg-192-fast_clean/api.h
  src/sig/cross/upcross_cross-rsdpg-192-small_avx2/api.h
  src/sig/cross/upcross_cross-rsdpg-192-small_clean/api.h
  src/sig/cross/upcross_cross-rsdpg-256-balanced_avx2/api.h
  src/sig/cross/upcross_cross-rsdpg-256-balanced_clean/api.h
  src/sig/cross/upcross_cross-rsdpg-256-fast_avx2/api.h
  src/sig/cross/upcross_cross-rsdpg-256-fast_clean/api.h
  src/sig/cross/upcross_cross-rsdpg-256-small_avx2/api.h
  src/sig/cross/upcross_cross-rsdpg-256-small_clean/api.h
Owners: @dstebila, @baentsch, @bhess

"claimed-security" is set to EUF-CMA by liboqs
  docs/algorithms/sig/cross.md
  docs/algorithms/sig/cross.yml
Owners: @dstebila

don't use threads for CROSS variants with large stack usage
  README.md
  docs/algorithms/sig/cross.md
  docs/algorithms/sig/cross.yml
  tests/test_sig.c
Owners: @dstebila

add CROSS to NIST_SIG_ONRAMP
  .CMake/alg_support.cmake
Owners: @dstebila

fixed indentation Signed-off-by: rtjk <47841774+rtjk@users.noreply.github.com>
  .CMake/alg_support.cmake
Owners: @dstebila

added auxiliary-submitters
  docs/algorithms/sig/cross.md
  docs/algorithms/sig/cross.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @dstebila, @baentsch, @bhess

disabled variants with large stack usage in zephyr
  zephyr/CMakeLists.txt
Owners: @dstebila

Use explicit_memset if available. NetBSD has support for it: (#1872)
  src/common/CMakeLists.txt
  src/common/common.c
Owners: @dstebila

Trigger GitHub CI for OpenSSH OQS-v9
  .github/workflows/commit-to-main.yml
Owners: @dstebila

Limit trigger
  .github/workflows/commit-to-main.yml
Owners: @dstebila

Fix syntax
  .github/workflows/commit-to-main.yml
Owners: @dstebila

fixup! Fix syntax
  .github/workflows/commit-to-main.yml
Owners: @dstebila

Revert "Limit trigger"
  .github/workflows/commit-to-main.yml
Owners: @dstebila

Disable erroring TravisCI build
  .travis.yml
  README.md
Owners: @dstebila

added contributors [trigger downstream] Signed-off-by: rtjk <47841774+rtjk@users.noreply.github.com>
  CONTRIBUTORS
Owners: @dstebila

Disable erroring TravisCI build (#1901)
  .travis.yml
  README.md
Owners: @dstebila

Update OpenSSH downstream branch to OQS-v9 (#1898)
  .github/workflows/commit-to-main.yml
Owners: @dstebila

fix GH action file unix.yml
  .github/workflows/unix.yml
Owners: @dstebila

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess
