Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @xvzcf, @baentsch, @bhess, @xvczf, @crockeea, @jschanck, @christianpaquin

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila @xvzcf
/.circleci @baentsch @xvzcf
/.CMake @xvzcf
/docs @dstebila
/scripts @xvzcf
/scripts/copy_from_upstream @baentsch @bhess @xvczf
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/kem/ntru @jschanck
/src/kem/sike @christianpaquin
/src/oqsconfig.h.cmake @xvzcf
/src/sig/dilithium @bhess
/src/sig/picnic @christianpaquin
/CONTRIBUTORS @dstebila
/LICENSE.txt @dstebila
/README.md @dstebila
/RELEASE.md @dstebila
CMakeLists.txt @xvzcf

AESNI updates / OpenSSL AES updates Incremental CTR API Kyber90s/AVX2 with common AES DilithiumAES/AVX2 using common AES
  .CMake/alg_support.cmake
  src/common/aes/aes.c
  src/common/aes/aes.h
  src/common/aes/aes256_ni.c
  src/common/aes/aes_c.c
  src/common/aes/aes_local.h
  src/common/aes/aes_ossl.c
  src/common/pqclean_shims/aes.h
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/pqcrystals-kyber_common_aes/aes256ctr.c
  src/kem/kyber/pqcrystals-kyber_common_aes/aes256ctr.h
  src/kem/kyber/pqcrystals-kyber_kyber1024-90s_avx2/aes256ctr.h
  src/kem/kyber/pqcrystals-kyber_kyber1024-90s_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber1024-90s_avx2/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber512-90s_avx2/aes256ctr.h
  src/kem/kyber/pqcrystals-kyber_kyber512-90s_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber512-90s_avx2/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber768-90s_avx2/aes256ctr.h
  src/kem/kyber/pqcrystals-kyber_kyber768-90s_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber768-90s_avx2/poly.c
  src/sig/dilithium/CMakeLists.txt
  src/sig/dilithium/pqcrystals-dilithium_common_aes/aes256ctr.c
  src/sig/dilithium/pqcrystals-dilithium_common_aes/aes256ctr.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_avx2/aes256ctr.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_avx2/polyvec.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_avx2/symmetric.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium3aes_avx2/aes256ctr.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium3aes_avx2/polyvec.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium3aes_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium3aes_avx2/symmetric.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium5aes_avx2/aes256ctr.h
  src/sig/dilithium/pqcrystals-dilithium_dilithium5aes_avx2/polyvec.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium5aes_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium5aes_avx2/symmetric.h
  tests/ds_benchmark.h
  tests/speed_common.c
  tests/speed_kem.c
  tests/speed_sig.c
  tests/test_aes.c
Owners: @xvzcf, @dstebila, @jschanck, @bhess

improved aes ctr
  src/common/aes/aes.h
  src/common/aes/aes256_ni.c
  tests/speed_common.c
Owners: @dstebila, @xvzcf

updated patches
  scripts/copy_from_upstream/patches/pqcrystals-dilithium-avx2-shake-aes.patch
  scripts/copy_from_upstream/patches/pqcrystals-kyber-avx2-shake-aes.patch
Owners: @baentsch, @bhess, @xvczf

Prevent overriding CPU instruction cmake options if set via command line
  .CMake/gcc_clang_intrinsics.cmake
Owners: @xvzcf

Update CONFIGURE.md
  CONFIGURE.md
Owners: @dstebila, @xvzcf

Update CONFIGURE.md Remove commented out code Fix typos
  CONFIGURE.md
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/common/aes/aes.h
  src/common/aes/aes_ossl.c
Owners: @dstebila, @xvzcf, @baentsch, @bhess, @xvczf

improve Windows crosscompile handling
  .CMake/gcc_clang_intrinsics.cmake
  CMakeLists.txt
Owners: @xvzcf

Update Picnic to 3.0.14 (fixes #1212)
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/external/bitstream.h
  src/sig/picnic/external/compat.h
  src/sig/picnic/external/cpu.h
  src/sig/picnic/external/endian_compat.h
  src/sig/picnic/external/io.h
  src/sig/picnic/external/lowmc.c
  src/sig/picnic/external/lowmc.h
  src/sig/picnic/external/lowmc_129_129_4.h
  src/sig/picnic/external/lowmc_192_192_4.h
  src/sig/picnic/external/lowmc_255_255_4.h
  src/sig/picnic/external/lowmc_256_256_38_fns_s256.h
  src/sig/picnic/external/macros.h
  src/sig/picnic/external/mpc_lowmc.c
  src/sig/picnic/external/mpc_lowmc.h
  src/sig/picnic/external/mzd_additional.c
  src/sig/picnic/external/mzd_additional.h
  src/sig/picnic/external/oqs_picnic_macros.h
  src/sig/picnic/external/picnic.c
  src/sig/picnic/external/picnic.h
  src/sig/picnic/external/picnic3_impl.c
  src/sig/picnic/external/picnic3_impl.h
  src/sig/picnic/external/picnic3_simulate.c
  src/sig/picnic/external/picnic3_tree.c
  src/sig/picnic/external/picnic3_tree.h
  src/sig/picnic/external/picnic3_types.c
  src/sig/picnic/external/picnic3_types.h
  src/sig/picnic/external/picnic_impl.c
  src/sig/picnic/external/picnic_impl.h
  src/sig/picnic/external/picnic_instances.h
  src/sig/picnic/external/simd.h
  src/sig/picnic/sig_picnic.c
Owners: @dstebila, @christianpaquin

Updated Dilithium sign.c patch with AES context release
  scripts/copy_from_upstream/patches/pqcrystals-dilithium-avx2-shake-aes.patch
  src/sig/dilithium/pqcrystals-dilithium_dilithium2_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium3_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium3aes_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium5_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium5aes_avx2/sign.c
Owners: @baentsch, @bhess, @xvczf

Updated Dilithium sign.c patch with AES context release (#1238)
  scripts/copy_from_upstream/patches/pqcrystals-dilithium-avx2-shake-aes.patch
  src/sig/dilithium/pqcrystals-dilithium_dilithium2_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium3_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium3aes_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium5_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium5aes_avx2/sign.c
Owners: @baentsch, @bhess, @xvczf

Update Picnic to 3.0.14 (fixes #1212) (#1237)
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/external/bitstream.h
  src/sig/picnic/external/compat.h
  src/sig/picnic/external/cpu.h
  src/sig/picnic/external/endian_compat.h
  src/sig/picnic/external/io.h
  src/sig/picnic/external/lowmc.c
  src/sig/picnic/external/lowmc.h
  src/sig/picnic/external/lowmc_129_129_4.h
  src/sig/picnic/external/lowmc_192_192_4.h
  src/sig/picnic/external/lowmc_255_255_4.h
  src/sig/picnic/external/lowmc_256_256_38_fns_s256.h
  src/sig/picnic/external/macros.h
  src/sig/picnic/external/mpc_lowmc.c
  src/sig/picnic/external/mpc_lowmc.h
  src/sig/picnic/external/mzd_additional.c
  src/sig/picnic/external/mzd_additional.h
  src/sig/picnic/external/oqs_picnic_macros.h
  src/sig/picnic/external/picnic.c
  src/sig/picnic/external/picnic.h
  src/sig/picnic/external/picnic3_impl.c
  src/sig/picnic/external/picnic3_impl.h
  src/sig/picnic/external/picnic3_simulate.c
  src/sig/picnic/external/picnic3_tree.c
  src/sig/picnic/external/picnic3_tree.h
  src/sig/picnic/external/picnic3_types.c
  src/sig/picnic/external/picnic3_types.h
  src/sig/picnic/external/picnic_impl.c
  src/sig/picnic/external/picnic_impl.h
  src/sig/picnic/external/picnic_instances.h
  src/sig/picnic/external/simd.h
  src/sig/picnic/sig_picnic.c
Owners: @dstebila, @christianpaquin

Bump Picnic to 3.0.15
  src/sig/picnic/external/lowmc.c.i
  src/sig/picnic/external/picnic3_simulate.c.i
  src/sig/picnic/external/picnic3_tree.c
Owners: @christianpaquin

improve Windows crosscompile handling (#1236)
  .CMake/gcc_clang_intrinsics.cmake
  CMakeLists.txt
Owners: @xvzcf

Also update Picnic version number
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/sig_picnic.c
Owners: @dstebila, @christianpaquin

Bump Picnic to 3.0.15 (#1241)
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/external/lowmc.c.i
  src/sig/picnic/external/picnic3_simulate.c.i
  src/sig/picnic/external/picnic3_tree.c
  src/sig/picnic/sig_picnic.c
Owners: @dstebila, @christianpaquin

Updated Dilithium sign.c patch with AES context release (2)
  scripts/copy_from_upstream/patches/pqcrystals-dilithium-avx2-shake-aes.patch
  src/sig/dilithium/pqcrystals-dilithium_dilithium2_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium3_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium3aes_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium5_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium5aes_avx2/sign.c
Owners: @baentsch, @bhess, @xvczf

Small edits
  src/kem/sike/external/config.h
Owners: @christianpaquin

Initialized some more SIKE variables
  src/kem/sike/external/fpx.c
Owners: @christianpaquin

Updated Dilithium sign.c patch with AES context release (2) (#1242)
  scripts/copy_from_upstream/patches/pqcrystals-dilithium-avx2-shake-aes.patch
  src/sig/dilithium/pqcrystals-dilithium_dilithium2_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium2aes_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium3_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium3aes_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium5_avx2/sign.c
  src/sig/dilithium/pqcrystals-dilithium_dilithium5aes_avx2/sign.c
Owners: @baentsch, @bhess, @xvczf

adding scan-build test
  .circleci/config.yml
Owners: @baentsch, @xvzcf

upgrade to clang-14
  .circleci/config.yml
Owners: @baentsch, @xvzcf

excluding Kyber from scan-build test
  .circleci/config.yml
  docs/algorithms/kem/kyber.md
Owners: @baentsch, @xvzcf, @dstebila

adding scan-build test (#1240)
  .circleci/config.yml
  docs/algorithms/kem/kyber.md
Owners: @baentsch, @xvzcf, @dstebila

adding memory leak testing
  tests/run_astyle.sh
  tests/test_leaks.py
Owners: @dstebila, @xvzcf

excluding more platforms from memory leak testing
  .circleci/config.yml
  tests/test_leaks.py
Owners: @baentsch, @xvzcf, @dstebila

mem leak testing only on Ubuntu
  tests/test_leaks.py
Owners: @dstebila, @xvzcf

disable testing on Windows and OSX
  tests/test_leaks.py
Owners: @dstebila, @xvzcf

exclude Classic-McEliece-8192128 from mem leak testing
  tests/test_leaks.py
Owners: @dstebila, @xvzcf

ensure AVX512 is disabled for valgrind mem leak testing
  .circleci/config.yml
Owners: @baentsch, @xvzcf

document test exclusion of Classic-McEliece-8192128 [skip ci]
  docs/algorithms/kem/classic_mceliece.md
Owners: @dstebila

adding memory leak testing (#1234)
  .circleci/config.yml
  docs/algorithms/kem/classic_mceliece.md
  tests/run_astyle.sh
  tests/test_leaks.py
Owners: @baentsch, @xvzcf, @dstebila

disable msys2 testing
  appveyor.yml
Owners: @dstebila, @xvzcf

disable msys2 testing (#1243)
  appveyor.yml
Owners: @dstebila, @xvzcf

docs: add valgrind as test dependencies in readme
  README.md
Owners: @dstebila

docs: add valgrind as dependencies in readme
  README.md
Owners: @dstebila

docs: Add valgrind as test dependencies in README.md (#1251)
  README.md
Owners: @dstebila

Sync Kyber with upstream, enable Scan-Build with Kyber
  .circleci/config.yml
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqcrystals-kyber-avx2-shake-aes.patch
  src/kem/kyber/pqcrystals-kyber_kyber1024-90s_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber512-90s_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber512_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber768-90s_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber768_avx2/indcpa.c
Owners: @baentsch, @xvzcf, @dstebila, @bhess, @xvczf, @jschanck

Sync Kyber with upstream, enable Scan-Build with Kyber (#1252)
  .circleci/config.yml
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqcrystals-kyber-avx2-shake-aes.patch
  src/kem/kyber/pqcrystals-kyber_kyber1024-90s_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber512-90s_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber512_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber768-90s_avx2/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber768_avx2/indcpa.c
Owners: @baentsch, @xvzcf, @dstebila, @bhess, @xvczf, @jschanck

test
  test
Owners: @dstebila, @xvzcf

Deal with the issue identified by valgrind
  tests/dump_alg_info.c
Owners: @dstebila, @xvzcf
