Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess

Fix build issues
  tests/test_sig_stfl.c
Owners: @dstebila

Fix undefined error
  src/sig_stfl/lms/sig_stfl_lms.h
Owners: @dstebila

Fixed SA issue
  tests/test_sig_stfl.c
Owners: @dstebila

Fixed warnings
  tests/example_sig_stfl.c
Owners: @dstebila

Skip variant that exceeds timeout
  src/oqsconfig.h.cmake
Owners: @dstebila

Fix style format
  tests/test_sig_stfl.c
Owners: @dstebila

Fix various build issues
  src/sig_stfl/lms/external/endian.c
  src/sig_stfl/lms/external/hss_alloc.c
  src/sig_stfl/lms/external/hss_aux.c
  src/sig_stfl/lms/external/hss_compute.c
  src/sig_stfl/lms/external/hss_generate.c
  src/sig_stfl/lms/external/hss_keygen.c
  src/sig_stfl/lms/external/hss_sign.c
  src/sig_stfl/lms/external/hss_sign_inc.c
  src/sig_stfl/lms/external/hss_verify.c
  src/sig_stfl/lms/external/hss_verify_inc.c
  src/sig_stfl/lms/external/lm_common.c
  src/sig_stfl/lms/external/lm_ots_verify.c
  src/sig_stfl/lms/external/lm_verify.c
Owners: @dstebila

pull kyber from upstream: dda29cc63af721981ee2c831cf00822e69be3220 (#1631)
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/kem/kyber/pqcrystals-kyber_kyber1024_avx2/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber512_avx2/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber768_avx2/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/verify.c
Owners: @dstebila, @baentsch, @bhess, @jschanck

Fix windows-x86 and arm compiling error.
  src/sig_stfl/xmss/external/xmss_commons.c
  src/sig_stfl/xmss/external/xmss_core_fast.c
  tests/test_sig_stfl.c
Owners: @dstebila

fix typo
  src/common/sha2/sha2_armv8.c
Owners: @dstebila

fix astyle check
  src/common/sha2/sha2_armv8.c
Owners: @dstebila

fix sha2_armv8 typo, again
  src/common/sha2/sha2_armv8.c
Owners: @dstebila

update .travis.yml (#1629)
  .travis.yml
Owners: @dstebila

disable LMS build for now.
  src/oqsconfig.h.cmake
Owners: @dstebila

Fix Build Errors (#1635)
  .CMake/alg_support.cmake
  src/common/sha2/sha2_armv8.c
  src/oqsconfig.h.cmake
  src/sig_stfl/lms/external/endian.c
  src/sig_stfl/lms/external/hss_alloc.c
  src/sig_stfl/lms/external/hss_aux.c
  src/sig_stfl/lms/external/hss_compute.c
  src/sig_stfl/lms/external/hss_generate.c
  src/sig_stfl/lms/external/hss_keygen.c
  src/sig_stfl/lms/external/hss_sign.c
  src/sig_stfl/lms/external/hss_sign_inc.c
  src/sig_stfl/lms/external/hss_verify.c
  src/sig_stfl/lms/external/hss_verify_inc.c
  src/sig_stfl/lms/external/lm_common.c
  src/sig_stfl/lms/external/lm_ots_verify.c
  src/sig_stfl/lms/external/lm_verify.c
  src/sig_stfl/lms/sig_stfl_lms.h
  tests/KATs/sig_stfl/kats.json
  tests/KATs/sig_stfl/lms/LMS_SHA256_H10_W1.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H10_W2.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H10_W4.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H10_W8.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H15_W1.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H15_W2.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H15_W4.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H15_W8.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H20_W1.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H20_W2.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H20_W4.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H20_W8.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H5_W1.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H5_W2.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H5_W4.rsp
  tests/KATs/sig_stfl/lms/LMS_SHA256_H5_W8.rsp
  tests/example_sig_stfl.c
  tests/test_sig_stfl.c
Owners: @dstebila

Adds patch to aarch64 Kyber pulled from PQClean for variable-time division in poly_tomsg.
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-variable-timing-fix.patch
  src/kem/kyber/pqclean_kyber1024_aarch64/poly.c
  src/kem/kyber/pqclean_kyber512_aarch64/poly.c
  src/kem/kyber/pqclean_kyber768_aarch64/poly.c
Owners: @baentsch, @bhess, @jschanck

clean up
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

move include to sig_stfl.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

pull kyber from upstream: dda29cc63af721981ee2c831cf00822e69be3220 (#1631)
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
  src/kem/kyber/pqcrystals-kyber_kyber1024_avx2/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber512_avx2/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber768_avx2/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/verify.c
Owners: @dstebila, @baentsch, @bhess, @jschanck

update .travis.yml (#1629)
  .travis.yml
Owners: @dstebila

Revert "< 64" comparison change
  src/kem/bike/additional_r4/decode_portable.c
Owners: @crockeea

Adds patch to aarch64 Kyber pulled from PQClean for variable-time division in poly_tomsg.
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-variable-timing-fix.patch
  src/kem/kyber/pqclean_kyber1024_aarch64/poly.c
  src/kem/kyber/pqclean_kyber512_aarch64/poly.c
  src/kem/kyber/pqclean_kyber768_aarch64/poly.c
Owners: @baentsch, @bhess, @jschanck

Release notes for 0.9.1-rc1 [skip-ci]
  CMakeLists.txt
  RELEASE.md
Owners: @dstebila

Detailed changelog [skip ci]
  RELEASE.md
Owners: @dstebila

Add and use secure_cmpeq64_mask function
  src/kem/bike/additional_r4/gf2x_mul_base_portable.c
  src/kem/bike/additional_r4/utilities.h
Owners: @crockeea

Remove unnecessary static_assert
  src/kem/bike/additional_r4/decode_portable.c
Owners: @crockeea

Define LMS alg macros
  .CMake/alg_support.cmake
  src/common/sha2/sha2_armv8.c
  src/oqsconfig.h.cmake
  src/sig_stfl/sig_stfl.c
Owners: @dstebila

Fix style
  src/sig_stfl/sig_stfl.c
Owners: @dstebila

Various fixes
  .CMake/alg_support.cmake
  src/common/sha2/sha2_armv8.c
  src/oqsconfig.h.cmake
  src/sig_stfl/lms/external/hss_alloc.c
  src/sig_stfl/lms/external/hss_sign.c
  src/sig_stfl/lms/external/hss_verify_inc.c
  src/sig_stfl/lms/sig_stfl_lms_functions.c
  src/sig_stfl/sig_stfl.c
  src/sig_stfl/sig_stfl.h
  tests/test_sig_stfl.c
Owners: @dstebila

Add support for embedded Zephyr RTOS (#1621)
  .CMake/compiler_opts.cmake
  .github/workflows/zephyr.yml
  CMakeLists.txt
  CONFIGURE.md
  src/CMakeLists.txt
  src/common/rand/rand.c
  src/common/rand/rand.h
  src/oqsconfig.h.cmake
  zephyr/CMakeLists.txt
  zephyr/Kconfig
  zephyr/README.md
  zephyr/module.yml
  zephyr/samples/KEMs/CMakeLists.txt
  zephyr/samples/KEMs/prj.conf
  zephyr/samples/KEMs/sample.yaml
  zephyr/samples/KEMs/src/main.c
  zephyr/samples/Signatures/CMakeLists.txt
  zephyr/samples/Signatures/prj.conf
  zephyr/samples/Signatures/sample.yaml
  zephyr/samples/Signatures/src/main.c
Owners: @dstebila

Adds patch to aarch64 Kyber pulled from PQClean for variable-time division in poly_tomsg.
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-variable-timing-fix.patch
  src/kem/kyber/oldpqclean_kyber1024_aarch64/poly.c
  src/kem/kyber/oldpqclean_kyber512_aarch64/poly.c
  src/kem/kyber/oldpqclean_kyber768_aarch64/poly.c
Owners: @baentsch, @bhess, @jschanck

Fix warning
  src/sig_stfl/lms/external/hss_sign.c
Owners: @dstebila

Fix build various errors
  src/sig_stfl/xmss/external/xmss_commons.c
  src/sig_stfl/xmss/external/xmss_core_fast.c
Owners: @dstebila

fix lms typo
  src/sig_stfl/lms/sig_stfl_lms.h
Owners: @dstebila

fix different linkage
  src/sig_stfl/sig_stfl.h
Owners: @dstebila

remove unistd.h
  tests/test_sig_stfl.c
Owners: @dstebila

fix strcmp
  tests/test_sig_stfl.c
Owners: @dstebila

debug test see the executable file
  tests/helpers.py
Owners: @dstebila

add debug path for window
  tests/helpers.py
Owners: @dstebila

remove debug information
  tests/helpers.py
Owners: @dstebila
