Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

Add --formula tag to fix brew errors
  .github/workflows/unix.yml
Owners: @dstebila

remove PQC_AES128_STATESIZE macro [trigger downstream]
  src/common/aes/aes128_armv8.c
Owners: @dstebila

Decode FORS indices similarly to WOTS
  src/sig/sphincs/pqclean_sphincs-sha2-128f-simple_avx2/fors.c
  src/sig/sphincs/pqclean_sphincs-sha2-128f-simple_clean/fors.c
  src/sig/sphincs/pqclean_sphincs-sha2-128s-simple_avx2/fors.c
  src/sig/sphincs/pqclean_sphincs-sha2-128s-simple_clean/fors.c
  src/sig/sphincs/pqclean_sphincs-sha2-192f-simple_avx2/fors.c
  src/sig/sphincs/pqclean_sphincs-sha2-192f-simple_clean/fors.c
  src/sig/sphincs/pqclean_sphincs-sha2-192s-simple_avx2/fors.c
  src/sig/sphincs/pqclean_sphincs-sha2-192s-simple_clean/fors.c
  src/sig/sphincs/pqclean_sphincs-sha2-256f-simple_avx2/fors.c
  src/sig/sphincs/pqclean_sphincs-sha2-256f-simple_clean/fors.c
  src/sig/sphincs/pqclean_sphincs-sha2-256s-simple_avx2/fors.c
  src/sig/sphincs/pqclean_sphincs-sha2-256s-simple_clean/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-128f-simple_aarch64/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-128f-simple_avx2/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-128f-simple_clean/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-128s-simple_aarch64/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-128s-simple_avx2/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-128s-simple_clean/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-192f-simple_aarch64/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-192f-simple_avx2/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-192f-simple_clean/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-192s-simple_aarch64/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-192s-simple_avx2/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-192s-simple_clean/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-256f-simple_aarch64/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-256f-simple_avx2/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-256f-simple_clean/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-256s-simple_aarch64/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-256s-simple_avx2/fors.c
  src/sig/sphincs/pqclean_sphincs-shake-256s-simple_clean/fors.c
Owners: @dstebila

Expose callback API for replacing low-level cryptographic primitives
  CMakeLists.txt
  docs/.Doxyfile
  src/common/aes/aes.h
  src/common/aes/aes_ops.h
  src/common/sha2/sha2.h
  src/common/sha2/sha2_ops.h
  src/common/sha3/sha3.h
  src/common/sha3/sha3_ops.h
  src/common/sha3/sha3x4.h
  src/common/sha3/sha3x4_ops.h
  src/oqs.h
Owners: @dstebila

Expose callback API for replacing low-level cryptographic primitives (#1832)
  CMakeLists.txt
  docs/.Doxyfile
  src/common/aes/aes.h
  src/common/aes/aes_ops.h
  src/common/sha2/sha2.h
  src/common/sha2/sha2_ops.h
  src/common/sha3/sha3.h
  src/common/sha3/sha3_ops.h
  src/common/sha3/sha3x4.h
  src/common/sha3/sha3x4_ops.h
  src/oqs.h
Owners: @dstebila

update after merge [trigger downstream]
  src/common/aes/aes_ops.h
Owners: @dstebila

presistent spec version (trigger again) [trigger downstream]
  docs/algorithms/sig/mayo.md
  docs/algorithms/sig/mayo.yml
Owners: @dstebila

Add missing runner to ubuntu.yml
  .github/workflows/unix.yml
Owners: @dstebila

Correct copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

Fix copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

Update KEM famiy templates
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme_decaps.c.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme_encaps.c.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme_keypair.c.libjade
Owners: @baentsch, @bhess

Add patches for libjade Kyber code
  scripts/copy_from_upstream/patches/libjade-kyber-api.patch
  scripts/copy_from_upstream/patches/libjade-kyber-meta.patch
Owners: @baentsch, @bhess

Modify copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

Add copy_from_libjade.yml
  scripts/copy_from_upstream/copy_from_libjade.yml
Owners: @baentsch, @bhess

Update alg_support.cmake templates
  .CMake/alg_support.cmake
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.libjade
Owners: @dstebila, @baentsch, @bhess

Run copy_from_upstream.py
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
Owners: @jschanck, @bhess

Fix KEM family templates
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
Owners: @baentsch, @bhess

Update copy_from_upstream.yml with libjade implementation info
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess

Fix add_enable_by_alg_conditional.libjade
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg_conditional.libjade
Owners: @baentsch, @bhess

Edit KEM templates
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt
Owners: @baentsch, @bhess

Update KEM family templates
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
Owners: @baentsch, @bhess

Update copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

Update build system files
  .CMake/alg_support.cmake
  CMakeLists.txt
  src/oqsconfig.h.cmake
Owners: @dstebila

Run copy_from_upstream.py
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
Owners: @jschanck, @bhess

Modify copy_from_upstream.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess

Update templates for build system files
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.libjade
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg_conditional.libjade
  scripts/copy_from_upstream/src/oqsconfig.h.cmake/add_alg_enable_defines.libjade
Owners: @baentsch, @bhess

Fix KEM temlates
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
Owners: @baentsch, @bhess

Update KEM templates
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  scripts/copy_from_upstream/src/kem/family/kem_scheme_keypair.c.libjade
Owners: @baentsch, @bhess

Add jasmin/libjade namespaces to test_binary.py
  tests/test_binary.py
Owners: @dstebila

Update KEM templates
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  scripts/copy_from_upstream/src/kem/family/kem_scheme_keypair.c.libjade
Owners: @baentsch, @bhess

Update KEM family templates
  scripts/copy_from_upstream/.CMake/alg_support.cmake/add_enable_by_alg.libjade
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme_decaps.c.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme_encaps.c.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme_keypair.c.libjade
Owners: @baentsch, @bhess

Update KEM templates
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c
Owners: @baentsch, @bhess

Fix copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

Add libjade_shim
  src/common/CMakeLists.txt
  src/common/libjade_shims/libjade_randombytes.c
  src/common/libjade_shims/libjade_randombytes.h
Owners: @dstebila

Run copy_from_upstream.py
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/kem_kyber_512.c
  src/kem/kyber/kem_kyber_768.c
  src/kem/kyber/libjade_kyber512_amd64_avx2/.deps/kem.s.d
  src/kem/kyber/libjade_kyber512_amd64_avx2/Makefile
  src/kem/kyber/libjade_kyber512_amd64_avx2/api.c
  src/kem/kyber/libjade_kyber512_amd64_avx2/gen_matrix.jinc
  src/kem/kyber/libjade_kyber512_amd64_avx2/include/api.h
  src/kem/kyber/libjade_kyber512_amd64_avx2/indcpa.jinc
  src/kem/kyber/libjade_kyber512_amd64_avx2/kem.jazz
  src/kem/kyber/libjade_kyber512_amd64_avx2/kem.s
  src/kem/kyber/libjade_kyber512_amd64_ref/.deps/kem.s.d
  src/kem/kyber/libjade_kyber512_amd64_ref/Makefile
  src/kem/kyber/libjade_kyber512_amd64_ref/api.c
  src/kem/kyber/libjade_kyber512_amd64_ref/include/api.h
  src/kem/kyber/libjade_kyber512_amd64_ref/indcpa.jinc
  src/kem/kyber/libjade_kyber512_amd64_ref/kem.jazz
  src/kem/kyber/libjade_kyber512_amd64_ref/kem.s
  src/kem/kyber/libjade_kyber768_amd64_avx2/.deps/kem.s.d
  src/kem/kyber/libjade_kyber768_amd64_avx2/Makefile
  src/kem/kyber/libjade_kyber768_amd64_avx2/api.c
  src/kem/kyber/libjade_kyber768_amd64_avx2/gen_matrix.jinc
  src/kem/kyber/libjade_kyber768_amd64_avx2/include/api.h
  src/kem/kyber/libjade_kyber768_amd64_avx2/indcpa.jinc
  src/kem/kyber/libjade_kyber768_amd64_avx2/kem.jazz
  src/kem/kyber/libjade_kyber768_amd64_avx2/kem.s
  src/kem/kyber/libjade_kyber768_amd64_ref/.deps/kem.s.d
  src/kem/kyber/libjade_kyber768_amd64_ref/Makefile
  src/kem/kyber/libjade_kyber768_amd64_ref/api.c
  src/kem/kyber/libjade_kyber768_amd64_ref/include/api.h
  src/kem/kyber/libjade_kyber768_amd64_ref/indcpa.jinc
  src/kem/kyber/libjade_kyber768_amd64_ref/kem.jazz
  src/kem/kyber/libjade_kyber768_amd64_ref/kem.jinc
  src/kem/kyber/libjade_kyber768_amd64_ref/kem.s
  src/kem/kyber/libjade_kyber768_amd64_ref/params.jinc
  src/kem/kyber/libjade_kyber768_amd64_ref/poly.jinc
  src/kem/kyber/libjade_kyber768_amd64_ref/polyvec.jinc
  src/kem/kyber/libjade_kyber768_amd64_ref/verify.jinc
Owners: @jschanck, @bhess

Fix KEM family templates
  scripts/copy_from_upstream/src/kem/family/CMakeLists.txt.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c.libjade
Owners: @baentsch, @bhess

Update copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

Remove redundant KEM templates
  scripts/copy_from_upstream/src/kem/family/kem_scheme.c.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme_decaps.c.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme_encaps.c.libjade
  scripts/copy_from_upstream/src/kem/family/kem_scheme_keypair.c.libjade
Owners: @baentsch, @bhess

Restrict copying of code from libjade repo to relevant files
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

Allow manually triggering CI tests
  .github/workflows/unix.yml
  .github/workflows/weekly.yml
Owners: @dstebila

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess
