Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @baentsch, @bhess, @crockeea, @jschanck

Release notes for 0.9.1
  CMakeLists.txt
  RELEASE.md
Owners: @dstebila

added riscv32 to zephyr
  zephyr/CMakeLists.txt
  zephyr/Kconfig
  zephyr/samples/KEMs/sample.yaml
Owners: @dstebila

successful sample zephyr riscv32 test
  CMakeLists.txt
  zephyr/CMakeLists.txt
Owners: @dstebila

fixed comment
  zephyr/CMakeLists.txt
Owners: @dstebila

added to Kconfig
  zephyr/Kconfig
Owners: @dstebila

adding qemu-riscv64 zephyr support
  CMakeLists.txt
  zephyr/CMakeLists.txt
  zephyr/Kconfig
  zephyr/samples/KEMs/sample.yaml
  zephyr/samples/Signatures/sample.yaml
Owners: @dstebila

deleting unnecessary line
  zephyr/CMakeLists.txt
Owners: @dstebila

addressing review comments
  CMakeLists.txt
  PLATFORMS.md
  zephyr/CMakeLists.txt
Owners: @dstebila

fix copy from upstream problem
  CMakeLists.txt
Owners: @dstebila

move out of template list
  README.md
Owners: @dstebila

fix typo
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @baentsch, @bhess

upgrade minimum cmake version supported
  CMakeLists.txt
Owners: @dstebila

cmake 3.15 is first version accepting object lists for TARGET_OBJECTS
  CMakeLists.txt
Owners: @dstebila

Adds patch to aarch64 Kyber pulled from PQClean for variable-time division in poly_tomsg. (#1636)
  scripts/copy_from_upstream/copy_from_upstream.yml
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-variable-timing-fix.patch
  src/kem/kyber/oldpqclean_kyber1024_aarch64/poly.c
  src/kem/kyber/oldpqclean_kyber512_aarch64/poly.c
  src/kem/kyber/oldpqclean_kyber768_aarch64/poly.c
Owners: @baentsch, @bhess, @jschanck

fix falcon generic
  tests/constant_time/sig/passes/falcon_keygen
Owners: @dstebila

fix avx2 constant time
  tests/constant_time/sig/passes/falcon_keygen
Owners: @dstebila

fix space
  tests/constant_time/sig/passes/falcon_keygen
Owners: @dstebila

Fix BIKE constant-time errors (#1632)
  src/kem/bike/additional_r4/decode_portable.c
  src/kem/bike/additional_r4/gf2x_mul_base_portable.c
  src/kem/bike/additional_r4/utilities.h
  tests/constant_time/kem/passes/bike
Owners: @crockeea, @dstebila

Update tests/constant_time/sig/passes/falcon_keygen
  tests/constant_time/sig/passes/falcon_keygen
Owners: @dstebila

fix avx2 constant time
  tests/constant_time/sig/passes/falcon_keygen
Owners: @dstebila

fix falcon generic
  tests/constant_time/sig/passes/falcon_keygen
Owners: @dstebila

Update tests/constant_time/sig/passes/falcon_keygen
  tests/constant_time/sig/passes/falcon_keygen
Owners: @dstebila

fix space
  tests/constant_time/sig/passes/falcon_keygen
Owners: @dstebila

0.9.2 dev branch
  CMakeLists.txt
Owners: @dstebila

Update copy_from_upstream.py
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess

Run copy_from_upstream.py
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/polyvec.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/polyvec.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/polyvec.c
Owners: @dstebila, @jschanck, @bhess

Update copy_from_upstream.yml
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess

Fix windows-x86 and arm compiling error. (#1634)
  CMakeLists.txt
  README.md
  scripts/copy_from_upstream/copy_from_upstream.py
  src/common/sha2/sha2_armv8.c
  src/oqsconfig.h.cmake
  src/sig_stfl/lms/sig_stfl_lms.h
  src/sig_stfl/sig_stfl.h
  src/sig_stfl/xmss/external/xmss_commons.c
  src/sig_stfl/xmss/external/xmss_core_fast.c
  tests/helpers.py
  tests/test_sig_stfl.c
Owners: @dstebila, @baentsch, @bhess

Update Kyber ARM patch to reflect pq-crystals/kyber@272125f
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-variable-timing-fix.patch
Owners: @baentsch, @bhess

Run copy_from_upstream
  src/kem/kyber/oldpqclean_kyber1024_aarch64/poly.c
  src/kem/kyber/oldpqclean_kyber1024_aarch64/polyvec.c
  src/kem/kyber/oldpqclean_kyber512_aarch64/poly.c
  src/kem/kyber/oldpqclean_kyber512_aarch64/polyvec.c
  src/kem/kyber/oldpqclean_kyber768_aarch64/poly.c
  src/kem/kyber/oldpqclean_kyber768_aarch64/polyvec.c
Owners: @jschanck, @bhess

Update to most recent Kyber commit
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess

Run copy_from_upstream
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
Owners: @dstebila

Correct cmake version requirement (#1643)
  CMakeLists.txt
Owners: @dstebila

Run copy_from_upstream.py -k
  docs/algorithms/kem/classic_mceliece.md
  docs/algorithms/kem/classic_mceliece.yml
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
  docs/algorithms/sig/falcon.md
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber1024_ref/polyvec.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber512_ref/polyvec.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber768_ref/polyvec.c
Owners: @dstebila, @jschanck, @bhess

Update to latest Kyber commit
  scripts/copy_from_upstream/copy_from_upstream.yml
Owners: @baentsch, @bhess

Run copy_from_upstream.py
  docs/algorithms/kem/kyber.md
  docs/algorithms/kem/kyber.yml
Owners: @dstebila

Update ARM patch
  scripts/copy_from_upstream/patches/pqclean-kyber-armneon-variable-timing-fix.patch
Owners: @baentsch, @bhess

Checkout post-0.9.0 copy_from_upstream fixes
  .github/workflows/linux.yml
  scripts/copy_from_upstream/copy_from_upstream.py
Owners: @dstebila, @baentsch, @bhess

Run copy_from_upstream
  src/kem/kyber/pqclean_kyber1024_aarch64/poly.c
  src/kem/kyber/pqclean_kyber1024_aarch64/polyvec.c
  src/kem/kyber/pqclean_kyber512_aarch64/poly.c
  src/kem/kyber/pqclean_kyber512_aarch64/polyvec.c
  src/kem/kyber/pqclean_kyber768_aarch64/poly.c
  src/kem/kyber/pqclean_kyber768_aarch64/polyvec.c
Owners: @jschanck, @bhess

addressing CMakeLists comment
  CMakeLists.txt
Owners: @dstebila

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila
/.circleci @baentsch
/scripts/copy_from_upstream @baentsch @bhess
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/sig/dilithium @bhess
