Repository open-quantum-safe/liboqs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dstebila, @xvzcf, @baentsch, @bhess, @xvczf, @crockeea, @jschanck, @christianpaquin

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila @xvzcf
/.circleci @baentsch @xvzcf
/.CMake @xvzcf
/docs @dstebila
/scripts @xvzcf
/scripts/copy_from_upstream @baentsch @bhess @xvczf
/src/common @dstebila
/src/kem/bike @crockeea
/src/kem/frodokem @dstebila
/src/kem/kyber @jschanck @bhess
/src/kem/ntru @jschanck
/src/kem/sike @christianpaquin
/src/oqsconfig.h.cmake @xvzcf
/src/sig/dilithium @bhess
/src/sig/picnic @christianpaquin
/CONTRIBUTORS @dstebila
/LICENSE.txt @dstebila
/README.md @dstebila
/RELEASE.md @dstebila
CMakeLists.txt @xvzcf

Fix memory leak detected by valgrind (#1250)
  tests/dump_alg_info.c
Owners: @dstebila, @xvzcf

make params struct /change code in cbd.c , indcpa.c , kem.c , ntt.c , params.c poly.c
  .CMake/alg_support.cmake
  .vscode/c_cpp_properties.json
  src/kem/kyber/CMakeLists.txt
  src/kem/kyber/pqcrystals-kyber_kyber_ref/LICENSE
  src/kem/kyber/pqcrystals-kyber_kyber_ref/api.h
  src/kem/kyber/pqcrystals-kyber_kyber_ref/cbd.c
  src/kem/kyber/pqcrystals-kyber_kyber_ref/cbd.h
  src/kem/kyber/pqcrystals-kyber_kyber_ref/indcpa.c
  src/kem/kyber/pqcrystals-kyber_kyber_ref/indcpa.h
  src/kem/kyber/pqcrystals-kyber_kyber_ref/kem.c
  src/kem/kyber/pqcrystals-kyber_kyber_ref/kem.h
  src/kem/kyber/pqcrystals-kyber_kyber_ref/ntt.c
  src/kem/kyber/pqcrystals-kyber_kyber_ref/ntt.h
  src/kem/kyber/pqcrystals-kyber_kyber_ref/params.c
  src/kem/kyber/pqcrystals-kyber_kyber_ref/params.h
  src/kem/kyber/pqcrystals-kyber_kyber_ref/poly.c
  src/kem/kyber/pqcrystals-kyber_kyber_ref/poly.h
  src/kem/kyber/pqcrystals-kyber_kyber_ref/polyvec.c
  src/kem/kyber/pqcrystals-kyber_kyber_ref/polyvec.h
  src/kem/kyber/pqcrystals-kyber_kyber_ref/reduce.c
  src/kem/kyber/pqcrystals-kyber_kyber_ref/reduce.h
  src/kem/kyber/pqcrystals-kyber_kyber_ref/symmetric-shake.c
  src/kem/kyber/pqcrystals-kyber_kyber_ref/symmetric.h
  src/kem/kyber/pqcrystals-kyber_kyber_ref/verify.c
  src/kem/kyber/pqcrystals-kyber_kyber_ref/verify.h
Owners: @xvzcf, @dstebila, @jschanck, @bhess

pqclean_hqc: Fix build on GCC-12
  src/kem/hqc/pqclean_hqc-rmrs-128_avx2/reed_muller.c
  src/kem/hqc/pqclean_hqc-rmrs-192_avx2/reed_muller.c
  src/kem/hqc/pqclean_hqc-rmrs-256_avx2/reed_muller.c
Owners: @dstebila, @xvzcf

pqclean_hqc: Fix build on GCC-12 (#1254)
  src/kem/hqc/pqclean_hqc-rmrs-128_avx2/reed_muller.c
  src/kem/hqc/pqclean_hqc-rmrs-192_avx2/reed_muller.c
  src/kem/hqc/pqclean_hqc-rmrs-256_avx2/reed_muller.c
Owners: @dstebila, @xvzcf

Modernize the CMake
  .CMake/alg_support.cmake
  .CMake/compiler_opts.cmake
  CMakeLists.txt
  src/CMakeLists.txt
  src/kem/bike/CMakeLists.txt
  src/kem/sike/CMakeLists.txt
  src/oqsconfig.h.cmake
Owners: @xvzcf

Rewrite the `CMakeLists.txt` for the tests
  CMakeLists.txt
  tests/CMakeLists.txt
Owners: @xvzcf

Remove `UNIX_TESTS`, not used anymore
  tests/CMakeLists.txt
Owners: @xvzcf

WIP: tests, sanitizers, bike, frodokem. sike and picnic
  .CMake/compiler_opts.cmake
  CMakeLists.txt
  scripts/copy_from_upstream/CMakeLists.txt/include_headers.fragment
  scripts/copy_from_upstream/src/CMakeLists.txt/add_alg_objects.fragment
  src/CMakeLists.txt
  src/kem/bike/CMakeLists.txt
  src/kem/frodokem/CMakeLists.txt
  src/kem/sike/CMakeLists.txt
  src/sig/picnic/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @xvzcf

sike cmake update
  src/kem/sike/CMakeLists.txt
Owners: @xvzcf

include for windows
  src/kem/sike/external/config.h
Owners: @christianpaquin

update PR template to include oqs-provider (OSSL dependency) [skip ci]
  .github/pull_request_template.md
Owners: @dstebila, @xvzcf

update PR template to include oqs-provider (OSSL dependency) [skip ci] (#1269)
  .github/pull_request_template.md
Owners: @dstebila, @xvzcf

Update to Picnic 3.0.16 (fixes #1253)
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/external/bitstream.h
  src/sig/picnic/external/lowmc_impl_partial.c.i
  src/sig/picnic/external/macros.h
  src/sig/picnic/external/mpc_lowmc.h
  src/sig/picnic/external/mzd_additional.h
  src/sig/picnic/external/simd.h
  src/sig/picnic/sig_picnic.c
Owners: @dstebila, @christianpaquin

Update to Picnic 3.0.16 (fixes #1253) (#1271)
  docs/algorithms/sig/picnic.md
  docs/algorithms/sig/picnic.yml
  src/sig/picnic/external/bitstream.h
  src/sig/picnic/external/lowmc_impl_partial.c.i
  src/sig/picnic/external/macros.h
  src/sig/picnic/external/mpc_lowmc.h
  src/sig/picnic/external/mzd_additional.h
  src/sig/picnic/external/simd.h
  src/sig/picnic/sig_picnic.c
Owners: @dstebila, @christianpaquin
